.reportContainer {
    padding: 20px;
    font-family: Arial, sans-serif;
  
    .heading {
      font-size: 1.8rem;
      margin-bottom: 20px;
      text-align: center;
      color: #333;
    }
  
    .filterContainer {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      gap: 10px;
  
      .label {
        font-size: 1rem;
        color: #555;
      }
  
      .select {
        padding: 5px 10px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        transition: border-color 0.3s ease;
  
        &:focus {
          border-color: #007bff;
        }
      }
    }
  
    .subHeading {
      font-size: 1.4rem;
      margin-top: 20px;
      color: #333;
    }
  
    .userListContainer {
      margin-top: 10px;
  
      .userList {
        list-style: none;
        padding: 0;
  
        .userListItem {
          font-size: 1rem;
          margin: 5px 0;
          padding: 8px 12px;
          background-color: #f9f9f9;
          border: 1px solid #ddd;
          border-radius: 4px;
        }
  
        .noUsers {
          font-size: 1rem;
          color: #777;
        }
      }
    }
  
    .chartContainerPF {
      width:70%;
      margin: 0 auto;
    }
  }
  .userListContaIner{
    
    width: 100%;
    margin-top: 20px;
    color: #333;

  }
  .userList{
    list-style: none;
    padding: 0;
  }
  
  .idIqlist{
    font-size: 1rem;
    width: 100%;
    margin: 5px 0;
    padding: 8px 25px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .responsesWrapper {
    max-height: 250px;  // Adjust the height as per your design needs
    overflow-y: auto;   // Enable vertical scrolling when content overflows
    margin-top: 10px;   // Optional, for some space between elements
  }
  
  .responsesTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .responsesTable th, .responsesTable td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }


  .resultCount {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  