@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$sidebar-width: 250px;
$sidebar-bg-color: #eeeeee;
$sidebar-hover-bg-color: #bebcbc;
$sidebar-link-color: #131313;
$sidebar-hover-color: #000;
$sidebar-active-bg-color: #bebcbc;
$sidebar-active-color: white;
$sidebar-font-size: 18px;
$toggle-btn-bg-color: #333;
$toggle-btn-hover-bg-color: #555;
$font-size-base: 16px;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$transition-duration: 0.3s;

.sidebarContainer {
  position: relative;

  .toggleButton {
    position: absolute;
    top: 1rem;
    left: 3rem;
    background-color: $toggle-btn-bg-color;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 1000;
    font-size: $font-size-base;
    font-weight: bold;

    &:hover {
      background-color: $toggle-btn-hover-bg-color;
    }
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -$sidebar-width; // Hidden by default
    width: $sidebar-width;
    height: 100vh;
    background-color: $sidebar-bg-color;
    color: black;
    transition: left $transition-duration ease;
    box-shadow: 2px 0 5px $box-shadow-color;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    ul {
      list-style: none;
      padding: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      li {
        margin: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .link {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: $sidebar-link-color;
          font-weight: 400;
          font-size: $sidebar-font-size;
          transition: all $transition-duration ease;
          width: 100%;
          height: 50px;
          text-align: center;
          justify-content: center;
          padding: 0 1rem;
          border-radius: 10px;

          &:hover {
            background-color: $sidebar-hover-bg-color;
            color: $sidebar-hover-color;
          }

          &.active {
            background-color: $sidebar-active-bg-color;
            color: $sidebar-active-color;
            font-weight: bold;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          }

          .icon {
            width: 30px;
            height: 30px;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .open {
    left: 0; // Slide in when open
  }
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
