@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Define color variables */
$bg-light: #faf9f6; /* Light background color */
$font-dark: #000000; /* Dark font color */
$link-hover: #e2dfd2; /* Link hover color */

$accent-light: #f2a9a9; /* Light pink for accents */
$accent-dark: #7b3f3f; /* Darker maroon for contrast */
$secondary-bg: #dbe2e7; /* Light blue-gray background for contrast */
$button-bg: #6c757d; /* Muted gray button background */
$button-hover: #495057; /* Button hover color */

/* Sidebar Styles */
.sidebar {
  padding: 20px;
  width: 150px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 0;
  background-color: $bg-light; /* Using light background color variable */
}

/* Sidebar List Styles */
.sidebar_UL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Sidebar List Item Styles */
.sidebar_LI {
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

/* Link Styles */
.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $font-dark; /* Using dark font color variable */
  font-weight: 400;
  font-size: 16px;
  transition: color 0.3s ease, background-color 0.3s ease;
  background-color: $bg-light; /* Using light background color variable */
  width: 130px;
  height: 50px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;

  .icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
}

.link:hover {
  background-color: $link-hover; /* Using link hover color variable */
}

.link:active {
  background-color: $link-hover; /* Active background color using the same as hover */
}
