@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Variables */
$bg-light: #F5F5F5; /* Light grey background */
$font-light: #131313; /* Black font color */
$link-bg: #D3D3D3; /* Light beige for links */
$link-hover: #e7e5e1; /* Lighter beige for hover state */
$link-active: red; /* Active state color for links */
$box-shadow-color: rgba(0, 0, 0, 0.1); /* Box shadow color */

/* Sidebar Styles */
.sidebar {
  padding: 20px;
  width: 150px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 8px $box-shadow-color;
  border-radius: 8px;
  margin: 0;
  background-color: $bg-light; /* Sidebar background */
}

.sidebar_UL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar_LI {
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

/* Link Styles */
.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $font-light; /* Link font color */
  font-weight: 400;
  font-size: 16px;
  transition: color 0.3s ease, background-color 0.3s ease;
  background-color: $link-bg; /* Link background color */
  width: 130px;
  height: 50px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;

  .icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
}

.link:hover {
  background-color: $link-hover; /* Hover background color */
}

.link:active {
  background-color: $link-active; /* Active background color */
}
