.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 999; /* Ensure it is above other elements */
  display: flex;
  justify-content: center;
  align-items: center;
}
.archivedSurveysContainer {
    padding: 20px;
    background-color: #f9f9f900;
    width: 97%;
  
    h2 {
      margin-top: 1%;
      text-align: center;
      color: #653E84;
    }
  
    .surveyTable {
      width: 90%;
      border-collapse: collapse;
      margin-top: 20px;
      margin-left: 5%;
  
      th, td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
      }
  
      th {
        background-color: #ddd;
        color: rgb(51, 51, 51);
        font-weight: bold;
        border: 1px solid #ddd;
      }
  
      td {
        vertical-align: top;
  
        .responseList {
          list-style-type: disc;
          margin: 0;
          padding-left: 20px;
  
          li {
            margin: 5px 0;
          }
        }
      }
  
      tr:nth-child(even) {
        background-color: #f9f9f9;
      }
  
      tr:hover {
        background-color: #f1f1f1;
      }
    }
  
    .error {
      color: rgb(196, 60, 60);
      font-weight: bold;
      margin-top: 20px;
    }
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 10px 15px;
    margin: 0 10px;
    background-color: #5a5a5a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    font-size: 16px;
  }

  .floatingContainer {
    position: fixed;  /* Positions it fixed relative to the viewport */
    top: 50%;  /* You can adjust the positioning */
    left: 50%;
    transform: translate(-50%, -50%);  /* Centers the container */
    background-color: rgb(255, 255, 255);  /* Optional: semi-transparent background */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;  /* Ensures it appears on top of other content */
    height: 70%;
    width: 80%;  /* Adjust as needed */
    overflow: auto;  /* Allows scrolling if content exceeds height */
  }
  
  .floatingContainer .resultsTableIQ {
    width: 100%;  /* Ensure the table takes full width */
  }

 :global(body.dark-mode){
  .archivedSurveysContainer{
      background-color: #161616;
  }
  .floatingContainer{
    background-color: #161616;
  }
  .archivedSurveysContainer h2{
      color: #8C62A9;
  }
  .surveyTable th{
      background-color: #272727;
      color: #A9A9A9 ;
      font-weight: bold;
    }
    .surveyTable td{
      background-color: #161616;
      color: #A9A9A9;
    }
    .responseList li{
      color: #A9A9A9;
    } 
    
  }
 