$background-color: #f5f5f8;
$font-color: #45474B;

.loginContainer {
  display: flex;
  height: 100vh;
  background-color: $background-color;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.imageContainer {
  background-image: url('https://images.unsplash.com/photo-1610707421341-c8b9295ad1fe?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&q=80&w=1080');
  background-size: cover;
  background-position: center;
  flex: 1;
  border-radius: 10px;
  min-height: 300px;
}


.loginForm {
  background-color: white;
  padding: 40px;
  max-width: 400px;
  width: 200%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: $font-color;
}

h2 {
  font-size: 1.2rem;
  margin-top: 10px;
  color: $font-color;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: $font-color;
  font-size: 1rem;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 15px;
  box-sizing: border-box;
}

input:focus {
  border-color: #f2f2f2;
  outline: none;
}

button {
  background-color: #f2f2f2;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #f2f2f2;
}

.errorMessage {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
}

.Signuplink_info{
  color: black;
  font-size: 20px;
  margin-top: 50px;
}
.Signuplink{
  font-size: 20px;
  color: rgb(16, 34, 229);
  text-decoration: none;
}
.Signuplink:hover{
  border-bottom: 1px solid rgb(8, 17, 122);
  color: rgb(8, 17, 122);
}