// pagelogin.module.scss
.loginContainer {
  background-color: #2C2C2C;
  color: white;
  padding: 20px;
  max-width: 400px;
  width: 100%; // Ensure it's responsive but with a maximum width
  margin: 0 auto;  // Centers horizontally
  border-radius: 8px;
  text-align: center;
  font-family: 'Roboto', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;  // Centers content horizontally
  justify-content: center;  // Centers content vertically if needed
}

h2 {
  color: white;
  margin-bottom: 15px;
  padding: 10px;
}

label {
  color: white;
  margin-bottom: 5px;
}

input {
  width: 100%;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 6px 10px;
  background-color: #333333;
  color: white;
}

.submitButton {
  background-color: white;
  color: black;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 12px;
  width: 100%;  // Ensures the button is the same width as the input fields
}

.submitButton:hover {
  background-color: #f2f2f2;
}

.errorMessage {
  color: red;
  margin-bottom: 8px;
  font-size: 14px;
}
