$background-color: #ffffff00;
$font-color: #d7a52f;
$button-bg-color: #849670;// Updated login button color
$button-hover-bg-color: #2a3744;
$error-color: red;

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.loginContainer {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  background-color: $background-color;
  gap: 20px; 
  padding: 20px;
}

.imageContainer {
  background-image: url('https://images.unsplash.com/photo-1606326608606-aa0b62935f2b?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8dGVzdCUyMHRha2luZ3xlbnwwfHwwfHx8MA%3D%3D');
  background-size: cover;
  background-position: center;
  height: 100vh; 
  width: 70vw; 
  border-radius: 10px;
  animation: slideInFromLeft 1.5s ease-out;
}

.loginForm {
  background-color: white;
  padding: 40px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  animation: fadeIn 1.5s ease-out 0.5s; 
  animation-fill-mode: both; 
}

.loginForm_h1 {
  font-size: 2rem;
  color: $font-color;
}

.loginForm_h2 {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #000000;
}

.logLabel {
  display: block;
  margin: 10px 0 5px;
  color: #000000; // Updated email and password label color
  font-size: 1rem;
  font-weight: normal; // Ensures the text is not bold
}

.logInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.logInput:focus {
  border-color: #f2f2f2;
  outline: none;
}

.submitButtonLog {
  background-color: $button-bg-color; // Updated button color
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.submitButtonLog:hover {
  background-color: $button-hover-bg-color;
  color: rgb(255, 255, 255);
}

.errorMessage {
  color: $error-color;
  font-size: 0.9rem;
  margin-top: 10px;
}
.successMessage {
  color: #079107;
  font-size: 0.9rem;
  margin-top: 10px;
}

.Signuplink_info {
  color: #849670;
  font-size: 20px;
  margin-top: 20px;
}

.Signuplink {
  font-size: 17px;
  color:  #d7a52f;
  cursor: pointer;
}

.Signuplink:hover {
  border-bottom: 1px solid #849670;
  color: #849670;
}

/* Add responsive styling for small screens */
@media (max-width: 768px) {
  .loginContainer {
    flex-direction: column; /* Stack the form vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    height: 96vh; /* Full viewport height */
    width: 100%;
    position: relative; /* Needed for z-index to work properly */
  }

  .imageContainer {
    position: absolute;
    z-index: -1; /* Place the imageContainer behind the loginContainer */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Full viewport height */
    animation: fadeIn 1.5s ;

  }

  .loginForm {
    z-index: 1; /* Ensure the login form appears above the image */
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
    padding: 30px;
    border-radius: 8px;
    width: 90%;
    
  }

  .loginForm_h1 {
    font-size: 1.5rem;
    color: $font-color;
  }
  
  .loginForm_h2 {
    font-size: 1rem;
    margin-top: 10px;
    color: $font-color;
  }
  .Signuplink_info {
    color: #849670;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .Signuplink {
    font-size: 14px;
    color:  #d7a52f;
    cursor: pointer;
  }
  
  
}

:global(body.dark-mode){
  .loginForm {
    background-color: #2a3744ef;
    color: white;

    h1{
      color: #849670;
    }
    h2{
      color: #cc63b5e1 ;
    }
    label{
      color: #ccc;
    }
    .submitButtonLog{
      background-color: #d7a52f;

      &:hover{
        background-color: #849670;
      }
    }
    .Signuplink_info{
      color: #d7a52f;
    }
    .Signuplink{
      color: #849670;
      
      &:hover{
        border-bottom: 1px solid #ccc;
        color: #ccc;
      }
    }
  }
  .errorMessage {
    color: rgb(189, 45, 45);
    font-size: 0.9rem;
    margin-top: 10px;
  }
  .successMessage {
    color: #079107;
    font-size: 0.9rem;
    margin-top: 10px;
  }
}