$background-color: #ffffff00;
$font-color: #2e70d3;
$button-bg-color: #2e70d3; // Updated login button color
$button-hover-bg-color: #2a3744;
$error-color: #ce1a1a;

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $background-color;
  gap: 70px;
  padding: 2px 10px;
  user-select: none;
}

.imageContainer {
  background: linear-gradient(to bottom right, #050505a8, #2727279a),
    url("../../images/landing.jpg");
  background-size: cover;
  background-position: center;
  height: 96vh;
  width: 60vw;
  border-radius: 10px;
  animation: slideInFromLeft 1.5s ease-out;
}

.logoimg {
  background-image: url("../../images/LOGOdark.png");
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 180px;
  margin: 0 auto;
  margin-top: 2px;
}

.loginForm {
  background-color: white;
  padding: 70px;
  max-width: 400px;
  width: 100%;
  margin-left: 60px;
  font-family: Arial, Helvetica, sans-serif;
  animation: fadeIn 1.5s ease-out 0.5s;
  animation-fill-mode: both;
}

.welcomelog {
  font-size: 2rem;
  color: $font-color;
  text-align: center;
}

.welcomelogdesc {
  font-size: 1rem;
  color: #000000;
  font-weight: normal;
  text-align: center;
  margin-bottom: 20px;
}

.logLabel {
  display: block;
  margin: 10px 0 5px;
  color: #000000; // Updated email and password label color
  font-size: 1rem;
  font-weight: normal; // Ensures the text is not bold
}

.logInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.logInput:focus {
  border-color: #7a7a7a;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px;
}

.submitButtonLog {
  background-color: $button-bg-color; // Updated button color
  color: white;
  padding: 12px 20px;
  border: $button-bg-color solid 3px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  margin-top: 30px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.submitButtonLog:hover {
  background-color: transparent;
  border: #2e70d3 solid 3px;
  color: $button-bg-color;
  box-shadow: none;
}

.errorMessage {
  color: $error-color;
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: center;
}
.successMessage {
  color: #079107;
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: center;
}

.passwordInputContainer {
  position: relative;
}

.togglePasswordButton {
  position: absolute;
  right: 0px;
  top: 37%;
  transform: translateY(-50%);
  background: none;
  color: black;
  border: none !important;
  cursor: pointer;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}

.Signuplink_info {
  color: #0c0c0c;
  font-size: 20px;
  margin-top: 20px;
}

.Signuplink {
  font-size: 17px;
  color: #2e70d3;
  cursor: pointer;
}

.Signuplink:hover {
  border-bottom: 1px solid #2e70d3;
  color: #2e70d3;
}

/* Add responsive styling for small screens */
@media (max-width: 768px) {
  .loginContainer {
    flex-direction: column; /* Stack the form vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    height: 96vh; /* Full viewport height */
    width: 100%;
    position: relative; /* Needed for z-index to work properly */
  }

  .imageContainer {
    position: absolute;
    z-index: -1; /* Place the imageContainer behind the loginContainer */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Full viewport height */
    animation: fadeIn 1.5s;
  }

  .loginForm {
    z-index: 1; /* Ensure the login form appears above the image */
    background-color: rgba(
      255,
      255,
      255,
      0.9
    ); /* Semi-transparent background */
    padding: 30px;
    margin: auto;
    border-radius: 8px;
    width: 80%;
  }

  .loginForm_h1 {
    font-size: 1.5rem;
    color: #2e70d3;
  }

  .loginForm_h2 {
    font-size: 1rem;
    margin-top: 10px;
    color: $font-color;
  }
  .Signuplink_info {
    color: #000000;
    font-size: 16px;
    margin-top: 20px;
  }

  .Signuplink {
    font-size: 14px;
    color: #2e70d3;
    cursor: pointer;
  }
}

:global(body.dark-mode) {
  .logoimg {
    background-image: url("../../images/LOGO.png");
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 180px;
    margin: 0 auto;
    margin-top: 2px;
  }
  .loginForm {
    background-color: #141313ea;
    color: white;

    h1 {
      color: #2e70d3;
    }
    h3 {
      color: #ffffffe1;
    }
    label {
      color: #ccc;
    }
    .logInput {
      background-color: #141313ea;
      color: #ffffff;
      border: 1px solid #8a8a8a;
    }
    .togglePasswordButton {
      color: #ffffff;
    }
    .submitButtonLog {
      background-color: #2e70d3;

      &:hover {
        background-color: transparent;
        border: #2e70d3 solid 3px;
      }
    }
    .Signuplink_info {
      color: #e4e4e4;
    }
    .Signuplink {
      color: #2e70d3;

      &:hover {
        border-bottom: 1px solid #2e70d3;
        color: #2e70d3;
      }
    }
  }
  .errorMessage {
    color: rgb(189, 45, 45);
    font-size: 0.9rem;
    margin-top: 10px;
    text-align: center;
  }
  .successMessage {
    color: #079107;
    font-size: 0.9rem;
    margin-top: 10px;
    text-align: center;
  }
}
