$background-color: #f3f1f1;
$font-color: #45474B;
$button-bg-color: #000000;
$button-hover-bg-color: #f2f2f2;
$error-color: red;

.loginContainer {
  display: flex;
  height: 100vh;
  background-color: #f3f1f1;
  justify-content: space-between; /* Distribute space between the form and the image */
  align-items: center;
  padding: 10px;
  gap: 20px; /* Adds space between the image and the form */

}

.imageContainer {
  background-image: url('https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
  flex: 1;
  border-radius: 10px;
  min-height: 100%;
  margin-right: 20px;
}

.loginForm {
  background-color: white;
  padding: 40px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

.loginForm_h1 {
  font-size: 2rem;
  color: $font-color;
  font-family: Arial, Helvetica, sans-serif;

}

.loginForm_h2 {
  font-size: 1.2rem;
  margin-top: 10px;
  color: $font-color;

}

.logLabel {
  display: block;
  margin: 10px 0 5px;
  color: $font-color;
  font-size: 1rem;
}

.logInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius:10px;
  font-size: 1rem;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.logInput:focus {
  border-color: #f2f2f2;
  outline: none;
}

.submitButtonLog {
  background-color: $background-color;
  color: $font-color;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.submitButtonLog:hover {
  background-color: #f2f2f2;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.errorMessage {
  color: $error-color;
  font-size: 0.9rem;
  margin-top: 10px;
}

.Signuplink_info {
  color: black;
  font-size: 20px;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;


}

.Signuplink {
  font-size: 17px;
  color: rgb(13, 25, 158);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.Signuplink:hover {
  border-bottom: 1px solid rgb(8, 17, 122);
  color: rgb(8, 17, 122);
}
