$main-bg: #f4f2ee;
$button-bg: #d7d5d1;
$button-hover-bg: #e8e6e2;
$container-bg: #ffffff;
$main-text: #131313;
$border-radius: 10px;


.requestList {
  width: 100%;
  max-width: 700px;
  margin-top: 20px;
  background-color: $container-bg;
  border-radius: $border-radius;
  padding: 15px;
}

h2, h3 {
  text-align: center;
  color: $main-text;
  margin-top:30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 8px;
}

table th {
  background-color: $main-text;
  color: white;
  font-weight: bold;
  
}

button {
  background-color: rgb(190, 188, 188);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 8px 12px;
  margin-bottom: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: rgb(164, 155, 155);
  }
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

form div {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin-bottom: 6px;
  color: #555;
}

input[type="text"],
input[type="time"],
textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="time"]:focus,
textarea:focus {
  border-color: $main-text;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button[type="submit"] {
  background-color: $button-bg;
  color: $main-text;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: $button-hover-bg;
  }
}

.errorMessage {
  color: red;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

p {
  text-align: center;
  font-size: 16px;
  color: #666;
}

.react-calendar {
  background-color: rgb(229, 226, 226);
  border-radius: $border-radius;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 220px;
  
}

.react-calendar__navigation {
  background-color: rgb(229, 226, 226);
}

.react-calendar__tile {
  background-color: rgb(191, 188, 188);
  border-bottom: 1px solid rgba(0, 0, 0, 0.126);
  position: relative;
}

.react-calendar__tile--active {
  background-color: red;
}

.react-calendar__tile--hover {
  background-color: #555;
}

.react-calendar__month-view__days__day {
  color: black;
}

.scheduledDate {
  background-color: red !important;
  color: white;
}

.schedule-count {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
}
