.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    width: 90%;
    height: 93%;

   h2{
    font-size: 20px;
   }
  }
  
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .closeButton {
    margin-top: 10px;
    background: #b62e2e ;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background: #e64747be ;
    }
  }
 
  .titleConsult {
    margin-top: 0px;
  }

  .newschedadd{
    margin-top: 20px;
    margin-bottom: 10px;
    
  }

  .responsesWrapper {
    max-height: 150px;  // Adjust the height as per your design needs
    overflow-y: auto;   // Enable vertical scrolling when content overflows
  }

  .flowerConsult {
    color: #ff5100;
  }

  .flowerFollowup {
    color: #28a796;
  }
  
  
  :global(body.dark-mode){
    .modalContent {
      background: #222222f3;
      color: white;

      h2{
        color: #8facec;
      }
      h3{
        color: #8facec;
      }
      input{
        box-shadow: none;
      }
    }
  }

  