.OMRDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  max-width: 100%;
  height: 50vh;
}
.OMRTITLE {
  color: black;
  text-align: center;
  font-size: 50px;
  margin: 0;
}
.OMRTITLE:hover {
  color: #653e84;
}
.OMRDesc {
  font-size: 18px;
  font-weight: 100;
  text-align: center;
}
.OMRbutton {
  display: flex;
  justify-content: space-between;
}

.OMRlinkOnline,
.OMRLinkUpload {
  text-decoration: none;
  margin-right: 20px;
  width: 150px;
  height: 50px;
  display: flex;
  border: 2px solid #653e84;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #653e84;
  color: #fafafa;
}
.OMRlinkOnline:hover,
.OMRLinkUpload:hover {
  background-color: transparent;
  color: #653e84;
  border: 2px solid #653e84;
}

@media screen and (max-width: 768px) {
  .OMRTITLE {
    font-size: 45px;
  }
  .OMRDesc{
    font-size: 16px;
  }
  .OMRbutton {
    flex-direction: row;
    gap: 30px;
  }
  .OMRlinkOnline,
  .OMRLinkUpload {
    margin-right: 0;
  }
  
  
}
:global(body.dark-mode) {
  .OMRTITLE {
    color: #dfdfdf;
  }
  .OMRTITLE:hover {
    color: #8c62a9;
  }
  .OMRlinkOnline,
  .OMRLinkUpload {
    background-color: #8c62a9;
    color: #fafafa;
    border: 2px solid #8c62a9;
  }
  .OMRlinkOnline:hover,
  .OMRLinkUpload:hover {
    background-color: transparent;
    color: #8c62a9;
    border: 2px solid #8c62a9;
  }
}
