/* Variables */
$bg-dark: #ffffff; /* Dark form background */
$bg-light: #e9E9E9; /* Light submit button background */
$font-light: #000000; /* Light font color for labels */
$font-dark: #444444; /* Dark font color */
$hover-bg: #D2D2D2; /* Hover background for submit button */
$hover-font: black; /* Hover font color for submit button */
$border-dark: #2c2c2c; /* Dark border color */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3); 
  transition: background-color 0.3s ease-in-out;
  z-index: 999;

  &.darkOverlay {
    background-color: rgba(0, 0, 0, 0.7); 
  }

  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
  }

  @media (max-width: 480px) {
    width: 100%;
    justify-content: flex-start; 
  }
}

.consulForm {
  display: flex;
  position:absolute;
  left: 20%;
  top: 17%; 
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(135deg, #ffffff, #ffffff);
  border: 1px solid #e0e0e0; // Subtle border
  border-radius: 8px; // Rounded corners
  padding: 20px;
  width: 20%;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Subtle shadow for depth

  @media (max-width: 768px) {
    max-width: 100%; // Allow form to take full width on smaller screens
    padding: 15px;
  }
}

.formCon {
  display: flex;
  flex-direction: column;
  gap: 15px; // Space between fields
}

.conLabel {
  font-size: 14px;
  font-weight: 600;
  color: #000000; // Dark gray for text
  margin-bottom: 5px;
}

.conInput,
select {
  width: 95%; /* Ensure full width */
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff; // White input background
  color: #333; // Dark text
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  &:focus {
    border-color: #0C3C78; // Blue focus border
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5); // Blue focus shadow
    outline: none;
  }
}

.conLabelCheck {
  margin-left: 10px; // Space from label
  transform: scale(1.2); // Slightly larger checkbox
}

.conSubmit {
  align-self: center;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  width: 30%;
  color: #fff; // White text
  background-color: #AF1740; // Blue background
  border: none;
  border-radius: 15%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: #AF1740; // Darker blue on hover
    transform: translateY(-2px); // Lift effect
  }

  &:active {
    background-color: #969696; // Even darker on click
    transform: translateY(0); // Reset lift
  }

  @media (max-width: 768px) {
    width: 100%; /* Full width button on smaller screens */
  }
}

.consulTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem; /* Add space between form and table */
}

.consulTable th, .consulTable td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.consulTable th {
  background-color: #f4f4f4;
}

.consulTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.consulTable tr:hover {
  background-color: #f1f1f1;
}

// for the table of consultations

.tableContainer {
  display: flex;
  position: fixed;
  flex-direction: column;
  top:30%;
  width: 60%;
  right: 18%;
  margin: 1%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #000000;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  color:#4e4e4e;
}

.table th {
  background-color: #653e84 ;
  color: white;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.responsesWrapper {
  max-height: 385px;  // Adjust the height as per your design needs
  overflow-y: auto;   // Enable vertical scrolling when content overflows
  margin-top: 10px;   // Optional, for some space between elements
}

// Define a base style for all buttons
.actionButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }

  &.restore {
    background-color: #969696  ; // Red for delete
    color: white;

    &:hover {
      background-color: #7293d1 ; // Darker red
    }
  }

  &.cancel {
    background-color: #2881b4; // Yellow for cancel
    color: black;

    &:hover {
      background-color: #034a74; // Darker yellow
    }
  }

  &.archive {
    background-color: #b4ab28; // Yellow for cancel
    color: black;

    &:hover {
      background-color: #837a06; // Darker yellow
    }
  }
}
.closeButton {

  background-color: #000000; 
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
  }
  
  .closeButton:hover {
    background-color: #494949;
  }

  .searchContainer {
    display: flex;
    justify-content: flex-end; // Aligns the search bar to the right
  }
  
  .searchBar {
    width: 100%;
    max-width: 420px;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease-in-out;
  
    &:focus {
      border-color: #007bff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
  }
  
  
  
  :global(body.dark-mode){
    .tableContainer{
      background-color: #222222f3;
      border: none;
    }
    .closeButton{
      background-color: #7293d1;

      &:hover {
        background-color: #494949;
      }
    }
  }