/* General Layout */
$font-family: Arial, sans-serif;
$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-large: 24px;

$bg-color-light-green: #6C946F;
$bg-color-light-yellow: #FFD35A;
$bg-color-light-gray: #f4f4f4;
$bg-color-gray: #ebebeb;
$bg-color-dark-gray: #343a40;
$bg-color-light-gray-2: #ffffff;
$bg-color-green: #6C946F;
$bg-color-yellow: #FFD35A;
$bg-color-red: #FFD35A;

$bg-color-dark-gray-2: #AF1740;
$bg-color-black-overlay: rgba(0, 0, 0, 0.5);

$bg-light: #F5F5F5; /* Light grey background */
$font-light: #F5F5F5; /* Black font color */
$link-bg: #D3D3D3; /* Light beige for links */
$link-hover: #e7e5e1; /* Lighter beige for hover state */
$link-active: red; /* Active state color for links */
$box-shadow-color: rgba(0, 0, 0, 0.1); /* Box shadow color */

$border-radius: 5px;
$padding-small: 5px 10px;
$padding-medium: 8px 16px;
$padding-large: 8px;

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  margin-top: 30px;
  font-size: $font-size-medium;
  text-align: center;
  font-size: 20px;
  color: #4e4e4e;
}


/* Status Box Container */
.statusBoxContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;

  .acceptedBox,
  .pendingBox {
    background-color: $bg-color-light-gray;
    padding: 10px;
    border-radius: $border-radius;
    border: 1px solid #858585;
    width: 45%;
    text-align: center;
  }
  .acceptedBox {
    background-color: #97b3e7;

    &:hover {
      transform: scale(1);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
  }

  .pendingBox {
    background-color: #97b3e7; 

    &:hover {
      transform: scale(1);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
  }

  
}

/* Table Container */
.tableBox {
  margin: 20px 0;
  padding: 15px;
  border-radius: $border-radius;
  background-color: $bg-color-gray;
  }

table {
  width: 100%;
  border-collapse: collapse;
  background-color: $bg-color-light-gray-2;
  text-align: center;
  border-radius: $border-radius;
  overflow: hidden; 

  th,
  td {
    padding: $padding-large;
    border: 1px solid #858585;
  }

  th {
  background-color: #8099c7 ;
    color: white;
  }

  td {
    font-size: $font-size-small;
    color: #333;
  }
}

.statusButton {
  padding: $padding-small;
  border-radius: 3px;
  font-size: $font-size-small;
  background-color: #888888;
  color: white;

  &.acceptedStatus {
    background-color: $bg-color-green; /* Green background for accepted status */
    color: white;
  }

  &.pendingStatus {
    background-color: $bg-color-yellow; /* Yellow background for pending */
    color: black;
  }
  @media (max-width: 768px) {
    width: 48%;
  }

  @media (max-width: 576px) {
    width: 100%; /* Stack boxes on smaller screens */
  }
}

/* Action Buttons */
button {
  padding: $padding-medium;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: $font-size-small;;

  &.delete{
    background-color: #292929 ;
    
    &:hover{
      background-color: #616161 ;
    }
  }

  &.accept {
    background-color: #4a976af8 ; 
    color: #ffffff;
    margin-left: 10px;

    &:hover{
      background-color: #41865e ;
    }
  }

  &.decline {
    background-color: #db4d4d;; /* Red for decline */
    color: #ffffff;
    margin-left: 10px;

    &:hover{
      background-color: #b62e2e ;
    }
  }

  &.viewInfo {
    background-color: #567fd6; 
    color: #fcfcfc;
    margin-right: 10px;
    
    &:hover{
    background-color: #567fd6b7 ; 
    }
  }

  &.closeInfo{
    background-color: #8b8b8b;
    color: white;
    width: 10%;
    margin-left: 45%;   
    padding: 1%;
    &:hover{
      background-color: #969696bb;
    }
  }

  &.archive{
    background-color: #8b8b8b ;
    color: #fcfcfc;

    &:hover{
      background-color: #969696bb ; 
      }
  }
&.markDone{
    background-color: #2c2c2c ;
    color: #ffffff;

    &:hover{
      background-color: #1b1b1bad ;
    }
}
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  @media (max-width: 768px) {
    font-size: 10px;
    padding: 3px 4px;
  }

}

/* Decline Modal */
.declineModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $bg-color-black-overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  .declineModalContent {
    background-color: white;
    padding: 20px;
    border-radius: $border-radius;
    width: 30%;
    text-align: center;

    @media (max-width: 768px) {
      width: 50%;
    }
  
    @media (max-width: 576px) {
      width: 80%;
    }

    textarea {
      width: 80%;
      height: 10%;
      margin-bottom: 15px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: $border-radius;

      
    }
    }

    button {
      margin: 5px;

      &:first-child {
        background-color:#535353;
        color: white;

        &:hover {
          background-color: #838383;
        }
      }

      &:last-child {
        background-color:#41865e ;
        color: white;

        &:hover {
          background-color: #65ca8f;
        }
      }
    }
  }

/* Warning Box */
.warning {
  background-color: $bg-color-yellow;
  padding: 10px;
  border-radius: $border-radius;
  color: black;
  font-weight: bold;
  margin-top: 20px;
}

/* Table Styling for Test Information Modal */
.testInfoModalContent {
  border-radius: $border-radius;
  background-color: $bg-color-light-gray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.testInfoTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.testInfoTable th,
.testInfoTable td {
  padding: 12px;
  text-align: left;
  border: 1px solid #858585;
}

.testInfoTable th {
  background-color: #8099c7;
  font-weight: bold;
}

.testInfoTable tr:hover {
  background-color: #f9f9f9;
}

.testInfoTable a {
  text-decoration: none;
  color: #0C3C78;
}

.testInfoTable a:hover {
  text-decoration: underline;
}

.testInfoTable img {
  max-width: 100px;
  height: auto;
  display: block;
  margin-top: 5px;
}



.scoring-label {
  font-weight: bold;
  padding: 10px 15px;
  background-color: #ffffff;
  width: 20%;
}

.scoring-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  
  th, td {
    padding: 8px 12px;
    border: 1px solid #ddd;
  }

  th {
    background-color: #424242;
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #f1f1f1;
  }
  @media (max-width: 768px) {
    font-size: 12px;
  }

  @media (max-width: 576px) {
    font-size: 10px;
  }
}

.leftMeaning{
  color:green;
}

.rightMeaning{
  color:red;
}


.archiveButton {
  margin-left: 20px;
  background-color: rgb(131, 131, 131);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px; 
  cursor: pointer;
  transition: all 0.3s ease; 

  @media (max-width: 768px) {
    padding: 8px 12px;
    font-size: 10px;
  }

  @media (max-width: 576px) {
    font-size: 10px;
    padding: 6px 10px;
    margin-left: 5px;
  }
}

.archiveButton:hover {
  background-color: #8099c7 ; /* Lighter blue on hover */
}

.archiveButton:active {
  background-color: #9c9c9c; /* Darker blue when clicked */
  transform: scale(0.98); /* Slight click animation */
}

/* Add a mail icon */
.archiveButton::before {
  content: "✉️"; /* Unicode envelope icon */
  font-size: 18px; /* Adjust icon size */
}

/* Optional: Add mailbox-specific animations */
.archiveButton::after {
  content: ""; /* Empty content for styling */
  display: block;
  width: 0;
  height: 4px;
  background-color: #AF1740;
  margin: 0 auto;
  border-radius: 2px;
  transition: width 0.3s ease;
}

.archiveButton:hover::after {
  width: 80%; /* Expand underline on hover */
}

:global(body.dark-mode) {
  .acceptedBox, .pendingBox {
    background-color: #222222;
    border: none;
    h3{
      color: #8facec;
    }
    p{
      color: #8facec;
    }
  }
  .tableBox{
    background-color: #222222;

    h2{
      color: #8facec;
    }

    th{
      background-color: #969696;
    }
  }
  .testInfoModalContent{
    background-color: #222222;
    color: #8facec;

    h3{
      color: #8facec;
    }

    th{
      background-color: #969696;
    }
  }

  .archiveButton{
    background-color: #8facec;
    color: #333333;

    &:hover{
      background-color: #a1a1a1;
    }
  }
 
  .closeInfo{
    background-color: #8facec;
    color: #333333;

    &:hover{
      background-color: #a1a1a1;
    }
  }
}