/* General Layout */
$font-family: Arial, sans-serif;
$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-large: 24px;

$bg-color-light-green: #6C946F;
$bg-color-light-yellow: #FFD35A;
$bg-color-light-gray: #f4f4f4;
$bg-color-gray: #a9a9a9;
$bg-color-dark-gray: #343a40;
$bg-color-light-gray-2: #ffffff;
$bg-color-green: #6C946F;
$bg-color-yellow: #FFD35A;
$bg-color-red: #FFD35A;

$bg-color-dark-gray-2: #AF1740;
$bg-color-black-overlay: rgba(0, 0, 0, 0.7);

$bg-light: #F5F5F5; /* Light grey background */
$font-light: #F5F5F5; /* Black font color */
$link-bg: #D3D3D3; /* Light beige for links */
$link-hover: #e7e5e1; /* Lighter beige for hover state */
$link-active: red; /* Active state color for links */
$box-shadow-color: rgba(0, 0, 0, 0.1); /* Box shadow color */

$border-radius: 5px;
$padding-small: 5px 10px;
$padding-medium: 8px 16px;
$padding-large: 8px;

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

h3 {
  margin-top: 30px;
  font-size: $font-size-medium;
  text-align: center;
  font-size: 20px;
  color: #131313;
}


/* Status Box Container */
.statusBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 60px;
}

.cardRow {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: nowrap;
}

.requestBox {
  background: #ffffff;
  padding: 20px 15px;
  border-radius: 20px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height: 230px;
  width: 400px;
}

.requestBox:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.requestBox h3 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

.countMessage {
  font-size: 3.5rem;
  font-weight: bold;
  color: #653e84;
  margin: 20px 0;
}

.viewButton {
  background-color: #4a90e2;
  color: #fff;
  border: none;
  margin-top: 10px;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 0.95em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.viewButton:hover {
  background-color: #357ab8;
}


/* Table Container */
.tableBox {
  margin: 20px auto;
  padding: 20px;
  border-radius: $border-radius;
  background-color: transparent;
  border: #000000 1px solid;
  width: 89%;
  }

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border-radius: $border-radius;
  border-collapse: collapse;


  th,
  td {
    padding: $padding-large;
    border-top: none;
  }

  th {
  background-color: #a9a9a900;
    color: rgb(8, 8, 8);
    border-bottom: #000000 1px solid;
  }

  td {
    font-size: $font-size-small;
    color: #000000;
  }
  thead th {
    position: sticky;
    top: 0; /* Sticks the header to the top */
    z-index: 1;
    padding: 8px;
  }
  
  tbody td {
    padding: 8px;
  }
  
}

.statusButton {
  padding: $padding-small;
  border-radius: 3px;
  font-size: $font-size-small;
  background-color: #a9a9a9;
  color: rgb(255, 255, 255);

  &.acceptedStatus {
    background-color: $bg-color-green; 
    color: white;
  }

  &.pendingStatus {
    background-color: $bg-color-yellow; /* Yellow background for pending */
    color: black;
  }
  @media (max-width: 768px) {
    width: 48%;
  }

  @media (max-width: 576px) {
    width: 100%; /* Stack boxes on smaller screens */
  }
}

/* Action Buttons */
button {
  padding: 10px 20px;
  border: 1px solid #a9a9a9;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: $font-size-small;
  background-color: #a9a9a9;
  color: #fdfdfd;

  &:hover {
    background-color: transparent;
    color: #a9a9a9;
  }
  

  &.delete{
    background-color: #292929 ;
    
    &:hover{
      background-color: transparent;
      color: #292929;
      border: 1px solid  #616161 ;
    }
  }
  

  &.accept {
    background-color: #3e8442 ; 
    color: #ffffff;
    margin-left: 10px;
    border: 1px solid  #3e8442 ;

    &:hover{
      background-color: transparent;
      color: #3e8442;
      border: 1px solid  #3e8442 ;
    }
  }

  &.decline {
    background-color: #843e3e;; /* Red for decline */
    color: #ffffff;
    margin-left: 10px;
    border: 1px solid  #843e3e;

    &:hover{
      background-color: transparent;
      color: #843e3e;
      border: 1px solid  #843e3e;
    }
  }

  &.viewInfo {
    background-color: #653e84; 
    color: #fcfcfc;
    margin-right: 10px;
    border: 1px solid  #653e84 ; 
    
    &:hover{
      background-color: transparent;
      color: #653e84;
      border: 1px solid  #653e84 ; 
    }
  }

  &.closeInfo{
    background-color: #a9a9a9;
    color: white;
    width: 10%;
    margin-left: 45%;   
    padding: 10px 15px;
    border: 1px solid  #a9a9a9;
    &:hover{
      background-color: transparent;
      color: #a9a9a9;
      border: 1px solid  #a9a9a9;
    }
  }

  &.archive{
    background-color: #a9a9a9 ;
    color: #fcfcfc;

    &:hover{
      background-color: transparent;
      color: black;
      border: 1px solid  #a9a9a9 ; 
      }
  }
&.markDone{
    background-color: #2c2c2c ;
    color: #ffffff;

    &:hover{
      background-color: transparent;
      color: black;
      border: 1px solid  #1b1b1bad ;
    }
}
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  @media (max-width: 768px) {
    font-size: 10px;
    padding: 3px 4px;
  }

}

/* Decline Modal */
.declineModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $bg-color-black-overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  .declineModalContent {
    background-color: white;
    padding: 20px;
    border-radius: $border-radius;
    width: 30%;
    height: 30%;
    text-align: center;

    @media (max-width: 768px) {
      width: 50%;
    }
  
    @media (max-width: 576px) {
      width: 80%;
    }

    textarea {
      width: 80%;
      height: 30%;
      margin-bottom: 15px;
      padding: 30px;
      border: 1px solid #ddd;
      border-radius: $border-radius;

      
    }
    }

    button {
      margin: 5px;

      &:first-child {
        background-color:#535353;
        color: white;
        border: 1px solid  #535353 ;


        &:hover {
          background-color: transparent;
          color: #535353;
          border: 1px solid  #535353 ;
        }
      }

      &:last-child {
        background-color:#3e8442 ;
        color: white;
        border: 1px solid  #3e8442 ;
        &:hover {
          background-color: transparent;
          color: #3e8442;
          border: 1px solid  #3e8442 ;
        }
      }
    }
  }

/* Warning Box */
.warning {
  background-color: $bg-color-yellow;
  padding: 10px;
  border-radius: $border-radius;
  color: black;
  font-weight: bold;
  margin-top: 20px;
}

.infoButton {
  padding: 5px 10px;
  background-color: #653e84;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  position: relative; /* Relative positioning to help with absolute positioning of the counselor info */
}

.counselorInfo {
  position: absolute; /* Makes it float above the content */
  left: 7%; /* Aligns the floating div to the left of the button */
  width: 200px; /* Adjusts the width of the floating info box */
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow for a floating effect */
  z-index: 10; /* Ensures it stays above other content */
}


.noRequestsMessage{
  text-align: center;
  margin-top: 20px;
  font-size: $font-size-medium;
  font-weight: bold;
  color: #383838;
}

.followUpModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $bg-color-black-overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px; /* Optional: Adds padding around the modal */
}

.followUpModalContent {
  border-radius: $border-radius;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  max-height: 90vh; /* Ensures content does not exceed 90% of the viewport height */
  overflow-y: auto; /* Adds scroll for overflowing content */
  z-index: 10;
}

/* Optional: View Button */
.viewButton {
  padding: 10px 20px;
  background-color: #653e84;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.viewButton:hover {
  background-color: transparent;
  color: #653e84;
  border: 1px solid  #653e84 ;
}


.testInfoModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $bg-color-black-overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px; /* Optional: Adds padding around the modal */
}

.testInfoModalContent {
  border-radius: $border-radius;
  background-color: $bg-color-light-gray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  max-height: 90vh; /* Ensures content does not exceed 90% of the viewport height */
  overflow-y: auto; /* Adds scroll for overflowing content */
  z-index: 10;
}


.testInfoTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.testInfoTable th,
.testInfoTable td {
  padding: 12px;
  background-color: $bg-color-light-gray;
  text-align: left;
}

.testInfoTable th {
  background-color: $bg-color-light-gray;
  font-weight: bold;
  color: #653e84;
  border-bottom: #653e84 1px solid;
}

.testInfoTable tr:hover {
  background-color: #f9f9f9;
}

.testInfoTable a {
  text-decoration: none;
  color: #0C3C78;
}

.testInfoTable a:hover {
  text-decoration: underline;
}

.testInfoTable img {
  max-width: 100px;
  height: auto;
  display: block;
  margin-top: 5px;
}



.scoring-label {
  font-weight: bold;
  padding: 10px 15px;
  background-color: #ffffff;
  width: 20%;
}

.scoring-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  
  th, td {
    padding: 8px 12px;
    border: 1px solid #ddd;
  }

  th {
    background-color: #a9a9a9;
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #f1f1f1;
  }
  @media (max-width: 768px) {
    font-size: 12px;
  }

  @media (max-width: 576px) {
    font-size: 10px;
  }
}

.leftMeaning{
  color:green;
}

.rightMeaning{
  color:red;
}


.archiveButton {
  margin-left: 20px;
  background-color: rgb(131, 131, 131);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px; 
  cursor: pointer;
  transition: all 0.3s ease; 

  @media (max-width: 768px) {
    padding: 8px 12px;
    font-size: 10px;
  }

  @media (max-width: 576px) {
    font-size: 10px;
    padding: 6px 10px;
    margin-left: 5px;
  }
}

.archiveButton:hover {
  background-color: transparent;
  color: black;
  border: 1px solid  #9c9c9c ; /* Lighter blue on hover */
}

.archiveButton:active {
  background-color: #9c9c9c; /* Darker blue when clicked */
  transform: scale(0.98); /* Slight click animation */
}

/* Add a mail icon */
.archiveButton::before {
  content: "✉️"; /* Unicode envelope icon */
  font-size: 18px; /* Adjust icon size */
}

/* Optional: Add mailbox-specific animations */
.archiveButton::after {
  content: ""; /* Empty content for styling */
  display: block;
  width: 0;
  height: 4px;
  background-color: #AF1740;
  margin: 0 auto;
  border-radius: 2px;
  transition: width 0.3s ease;
}

.archiveButton:hover::after {
  width: 80%; /* Expand underline on hover */
}

.title {
  display: flex; /* Make the title a flex container */
  justify-content: space-between; /* Distribute the content: title on the left, buttons on the right */
  align-items: center; /* Vertically align the title and buttons */
}

.searchInput {
  width: 100%;
  max-width: 400px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  height: 30px;
}

.smartWrapper {
  display: flex; /* Arrange buttons in a row */
  width: 320px;
}

// today schedule message
.noScheduleWrapper {
  display: flex; /* Arrange buttons in a column */
  flex-direction: column;
  align-items: center;
  
}

.noScheduleMessage { 
  margin-top: .1rem;
  font-size: 1.5rem;
  padding: 30px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 400px;
}

.disabledButton {
  background-color: #d3d3d3; // Disabled button color (light gray)
  color: #888888; // Disabled text color (gray)
  cursor: not-allowed;
}

:global(body.dark-mode) {
  .acceptedBox, .pendingBox {
    background-color: #8c62a9;
    border: none;
    h3{
      color: #ffffff;
    }
    p{
      color: #000000;
    }
  }
  .tableBox{
    background-color: #d3d3d3;

    h2{
      color: #000000;
    }

    th{
      background-color: #8c62a9;
    }
  }
  .testInfoModalContent{
    background-color: #222222;
    color: #8facec;

    h3{
      color: #8c62a9;
    }

    th{
      background-color: #d3d3d3;
    }
  }

  .archiveButton{
    background-color: #8c62a9;
    color: #333333;

    &:hover{
      background-color: transparent;
      color: rgb(221, 221, 221);
      border: 1px solid  #8099c7 ;
    }
  }
 
  .closeInfo{
    background-color: #8c62a9;
    color: #333333;

    &:hover{
      background-color: transparent;
      color: rgb(216, 215, 215);
       border: 1px solid  #8facec ;
    }
  }
}

.removeButton {
  background-color: #a96262;
  color: white;
  border: none;
  padding: 8px 13px;
  cursor: pointer;
  margin-left: 10px;
}
.removeButton:hover {
  background-color: transparent;
  color: black;
  border: 1px solid red;
}

.responsesWrapper {
  max-height: 400px;  // Adjust the height as per your design needs
  overflow-y: auto;   // Enable vertical scrolling when content overflows
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* dark background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalContent {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-height: 90vh;
  overflow-y: auto;
  width: 90%;
  max-width: 1800px;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 1px;
  right: 1px;
  font-size: 44px;
  color: red;
  background: none;
  border: none;
  cursor: pointer;
}
