@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.sidebar_gd {
  padding: 20px;
  width: 150px; /* Adjust width for 1440x900 resolution */
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers items vertically */
  align-items: center;     /* Centers items horizontally */
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 0;
}

.sidebar_UL_gd {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar_LI_gd {
  
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}


.link_gd {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #131313;
  font-weight: 400;
  font-size: 16px;
  transition: color 0.3s ease;
  background-color: #d1cfcb;
  width: 130px;
  height:50px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;



  .icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

}
.link_gd:hover{
  background-color: #e7e5e1;
}
