// Define SCSS variables
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$primary-bg-color: #333;
$secondary-bg-color: #555;
$sidebar-bg-color: #eeeeee;
$text-color: #131313;
$hover-bg-color: #bebcbc;
$active-text-color: white;
$font-size: 16px;
$font-weight-normal: 400;
$font-weight-bold: bold;
$button-padding: 0.5rem 1rem;
$link-height: 50px;
$sidebar-width: 250px;
$icon-size: 30px;
$border-radius: 10px;
$transition-speed: 0.3s;

.sidebarContainer {
  position: relative;

  .toggleButton {
    position: absolute;
    top: 1rem;
    left: 3rem;
    background-color: $primary-bg-color;
    color: $active-text-color;
    border: none;
    padding: $button-padding;
    cursor: pointer;
    z-index: 1000;
    font-size: $font-size;
    font-weight: $font-weight-bold;

    &:hover {
      background-color: $secondary-bg-color;
    }
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -$sidebar-width; // Hidden by default
    width: $sidebar-width;
    height: 100vh;
    background-color: $sidebar-bg-color;
    color: $text-color;
    transition: left $transition-speed ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    ul {
      list-style: none;
      padding: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      li {
        margin: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .link {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: $text-color;
          font-weight: $font-weight-normal;
          font-size: $font-size;
          transition: all $transition-speed ease;
          width: 100%;
          height: $link-height;
          text-align: center;
          justify-content: center;
          padding: 0 1rem;
          border-radius: $border-radius;

          &:hover {
            background-color: $hover-bg-color;
            color: $text-color;
          }

          &.active {
            background-color: $hover-bg-color;
            color: $active-text-color;
            font-weight: $font-weight-bold;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          }

          .icon {
            width: $icon-size;
            height: $icon-size;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .open {
    left: 0; // Slide in when open
  }
}

.icon {
  width: $icon-size;
  height: $icon-size;
  margin-right: 10px;
}
