@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

$sidebar-width: 250px;
$sidebar-bg-color: #bfcff1;
$sidebar-hover-bg-color: #653E84;
$sidebar-link-color: #000000;
$sidebar-hover-color: #000000;
$sidebar-active-bg-color: #d2d2d2;
$sidebar-font-size: 112.5%; // 16px to percentage based on default 16px
$toggle-btn-bg-color: #653E84;
$toggle-btn-hover-bg-color: #ffffff;
$font-size-base: 100%; // 16px to 100%
$box-shadow-color: rgba(0, 0, 0, 0.5);
$transition-duration: 0.3s;

.sidebarContainer {
  position: relative;

  .toggleButton {
    position: fixed;
    top: 1rem;
    left: 1rem;
    border-radius: 20px;
    background-color: $toggle-btn-bg-color;
    color: #ffffff;
    border: none;
    padding: 0.7rem 1.5rem;
    border: 2px solid #653E84;
    cursor: pointer;
    z-index: 1001;
    font-size: 0.9rem;
    font-weight: bold;

    &:hover {
      color: #653E84;
      background-color: transparent;
    }
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -$sidebar-width; // Hidden by default
    width: $sidebar-width;
    height: 100%;
    background-color: white;
    color: $sidebar-link-color;
    transition: left $transition-duration ease;
    box-shadow: 2px 0 5px $box-shadow-color;
    z-index: 1000;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    ul {
      list-style: none;
      padding: 0;
      width: 100%;
      margin-top: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      li {
        margin: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .link {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: $sidebar-link-color;
          font-weight: 400;
          font-size: $sidebar-font-size;
          transition: all $transition-duration ease;
          width: 80%;
          height: 50px;
          border: 2px solid #5e5e5eda;
          text-align: center;
          justify-content: center;
          padding: 0 1rem;
          border-radius: 10px;

          &:hover {
            background-color: #653E84;
            color: #000000;
          }

          &.active {
            background-color: #653E84;
            color: $sidebar-link-color;
            font-weight: bold;
            box-shadow: 0 4px 8px $box-shadow-color;
          }

          .icon {
            width: 30px;
            height: 30px;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .open {
    left: 0; // Slide in when open
  }
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

// Media Queries
@media (max-width: 768px) {
  $sidebar-width: 200px;

  .sidebarContainer {
    .toggleButton {
      top: 0.5rem;
      left: 1rem;
      font-size: 90%;
    }

    .sidebar {
      width: $sidebar-width;
      ul li .link {
        font-size: 90%; // Adjust font size for smaller screens
        height: 45px;
        .icon {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  $sidebar-width: 150px;

  .sidebarContainer {
    .toggleButton {
      font-size: 80%;
      padding: 0.25rem 0.5rem;
    }

    .sidebar {
      width: $sidebar-width;
      ul li .link {
        font-size: 80%; // Further reduce font size
        height: 40px;
        .icon {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

:global(body.dark-mode) {
  .sidebar {
    background: #c0c0c0;
  }
  .toggleButton {
    background-color: #8C62A9;
    color: #ffffff;
    border: 2px solid #8C62A9;

    &:hover {
      color: #8C62A9;
      background-color: transparent;
    }
  }

  .sidebar {
    background: #c0c0c0;
    ul {
      list-style: none;
      padding: 0;
      width: 100%;
      margin-top: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      li {
        margin: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .link {
          display: flex;
          align-items: center;
          text-decoration: none;
          font-weight: 400;
          font-size: $sidebar-font-size;
          transition: all $transition-duration ease;
          width: 80%;
          height: 50px;
          text-align: center;
          justify-content: center;
          padding: 0 1rem;
          border-radius: 10px;

          &:hover {
            background-color: #8C62A9;
            color: rgb(0, 0, 0);
          }

          .icon {
            width: 30px;
            height: 30px;
            margin-right: 10px;
          }

          &.active {
            background-color: #8C62A9;
            color: $sidebar-link-color;
            font-weight: bold;
            box-shadow: 0 4px 8px $box-shadow-color;
          }
        }
      }
    }
  }
  
}
