@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* Define color variables */
$bg-light: #ffffff;
$font-dark: #000000;
$link-hover: #2a3744;

$accent-light: #334553;
$accent-dark: #653E84;
$secondary-bg: #dbe2e7;
$button-bg: #e9e9e9;
$button-hover: #d2d2d2;

/* Navbar Styles */
.studentNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid #7a7a7a;
  padding: 0 8px;
  max-width: 100%;
  user-select: none;
}

/* Logo Section */
.logoSection {
  color: #2e70d3;
  display: flex;
  flex-direction: column;
}

.logoSection h1 {
  font-size: 24px;
    margin: 0;
    color: #653E84;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logoSection p {
  font-size: 15px;
    color: #7a7a7a;
    font-weight: bold;
    text-align: center;
}

/* Navigation Section */
.navigationSection {
  flex-grow: 1;
  display: flex;
  justify-content: center;

}

.navList {
  list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center;
  margin: 0px 15px; 
  position: relative; 
}

.navIcon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: -100%; 
  color: red;
}


/* Navigation Links */
.navLink {
  color: #7a7a7a;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  flex-direction: column; 
  align-items: center;

  &:hover {
    color: rgb(94, 93, 93);
  }
}

.navLink.active {
  color: #653e84;
  border-bottom: none; 
}
/* Account Section */
.navRight {
  display: flex;

  .dropdown {
    position: relative;
   

    .dropdownToggle {
      background: none;
      border: none;
      cursor: pointer;

      .accountImage {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      .arrowIcon {
        margin-left: 5px;
        font-size: 16px;
        color: #7a7a7a;
      }
    }

    .dropdownMenu {
      position: absolute;
      top: 100%;
      right: 0;
      background: #ffffff;
      box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      list-style: none;
      padding: 10px;
      z-index: 10;
      min-width: 150px;
      height: 180px;

      .dropdownLink {
        padding: 10px 40px;
        text-decoration: none;
        color: #353535;
        margin-bottom: 8px; 

        &:hover {
          background-color: #f0f0f0;
        }
      }
      .dropdownLink:last-child {
        margin-bottom: 0;
      }
      .dropdownItem {
        text-decoration: none;
        color: #353535;
        margin-bottom: 40px;
      }
      .dropdownLinkSettings{
        text-decoration: none;
        color: #000000;
        border: none;
        font-size: 16px;
        background-color: #ffffff;
        font-weight: bold;
        display: block; 
        margin: 0 auto; 
        text-align: center; 

        &:hover {
          color: #bb35dc;
        }
      }
      .dropdownLinkLogout{
        text-decoration: none;
        color: #000000;
        border: none;
        font-size: 16px;
        background-color: #ffffff;
        font-weight: bold;
        display: block; 
        margin: 0 auto; 
        text-align: center; 

        &:hover {
          color: #bb35dc;
        }
      }
    }
  }
}

.editableText {
  cursor: pointer;
  font-size: 1rem;
  color: #333;
  transition: all 0.3s ease;
  border-radius: 4px;
  max-width: 130px;
  overflow: hidden;
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
}

.editableText span {
  display: inline-block;
  white-space: nowrap;
  padding-left: 10%;
  transform: translateX(0);
}

.animated span {
  animation: slideText 5s linear infinite;
}

@keyframes slideText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}



.editableInput {
  margin: 13px;
  font-size: 1rem;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  width: 100%;
  max-width: 90px;
}


/* Dark Mode Adjustments */
:global(body.dark-mode) {
  .studentNavbar {
    color: #000000;
    border-bottom: 1px solid #7a7a7a;
  }

  .logoSection {
    h1 {
      color: #8C62A9;
    }

    p {
      color: #A9A9A9;
    }
  }

  .navigationSection {
    .navList {
      .navItem {
        .navLink {
          color: #A9A9A9;

          &:hover {
            color: rgb(94, 93, 93);
          }

          &.active {
            color: #8C62A9;
          }
        }
      }
    }
  }

  .navRight {
    .dropdown {
      .dropdownToggle {
        .arrowIcon {
          color: #7a7a7a;
        }
      }

      .dropdownMenu {
        background: #ffffff;

        .dropdownLink {
          color: #353535;

          &:hover {
            background-color: #f0f0f0;
          }
        }
      }
    }
  }
}
