$primary-color: #333;
$button-color: #0056b3;
$button-hover-color: #A8C8FF;
$message-success: #B30000;
$message-error: #dc3545;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
 // directly using the color here
  padding: 20px;
}

.userinfo_pr {
  font-size: 2rem;
  color: $primary-color;
  margin-bottom: 20px;
}

.infoContainer {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: left;
}

.userIDDisplay {
  font-size: 1rem;
  color: $primary-color;
  margin-bottom: 15px;
}

.pr_label {
  display: block;
  margin: 10px 0 5px;
  color: $primary-color;
  font-size: 1rem;
}

.user_input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.pr_input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.pr_input:focus {
  border-color: $button-color;
  outline: none;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.submitButton {
  background-color: $button-color;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: $button-hover-color;
}

.updateMessage {
  font-size: 0.9rem;
  margin-top: 15px;
  text-align: center;

  &.success {
    color: $message-success;
  }

  &.error {
    color: $message-error;
  }
}
