$primary-color: #333;
$button-color: #2e70d3;
$button-hover-color: #2e70d3;
$message-success: #28a745;
$message-error: #af1414;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  padding: 20px;
}

.userinfo_pr {
  font-size: 1.7rem;
  color: $button-hover-color;
  margin-bottom: 20px;
  padding-top: 30px;
}

.infoContainer {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: left;
}

.userIDDisplay {
  font-size: 1rem;
  color: $primary-color;
  margin-bottom: 15px;
}

.pr_label {
  display: block;
  margin: 10px 0 5px;
  color: $button-hover-color;
  font-weight: bold;
  font-size: 1rem;
}

.user_input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 15px;
  box-sizing: border-box;
}

p {
  text-align: center;
  font-size: 16px;
  color: #666;
}

.pr_input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.pr_input:focus {
  box-shadow: 0 0 4px #333333;
  outline: none;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.submitButton {
  background-color: $button-color;
  align-self: center;
  color: white;
  padding: 12px 20px;
  border: 2px solid $button-color;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: transparent;
  color: $button-color;
  border: 2px solid $button-color;
}

.updateMessage {
  font-size: 0.9rem;
  margin-top: 15px;
  text-align: center;

  &.success {
    color: $message-success;
  }

  &.error {
    color: $message-error;
  }
}

.passWord {
  display: block;
  margin: 10px 0 5px;
  color: black;
  font-size: 1rem;
}

.passwordInputContainer {
  position: relative;
}

.togglePasswordButton {
  position: absolute;
  right: 0px;
  top: 37%;
  transform: translateY(-48%);
  background: none;
  color: black;
  border: none !important;
  cursor: pointer;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}

:global(body.dark-mode) {
  .userinfo_pr {
    color: #2a61b4;
  }
  .infoContainer {
    background-color: #161616;
    border: none;
  }
  .pr_input {
    background-color: #161616;
    color: #727272;
  }
  .pr_label {
    color: #2a61b4;
  }
  .passWord {
    color: #b4b4b4;
  }
  .submitButton {
    background-color: #2a61b4;
    border: 2px solid #2a61b4;
    &:hover {
      background-color: transparent;
      color: #2e70d3;
      border: 2px solid #2a61b4;
    }
  }
  .togglePasswordButton {
    color: #b4b4b4;
  }
}
