.container {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  font-family: Arial, sans-serif;
  line-height: 1.6;
  text-align: center;
  user-select: none;
}
.cfintro, .termsandconditioncf{
  font-size: 25px;
  color: #704191;
  margin-bottom: 16px;
}

.cftermsinfo {
  text-align: left;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.cfintroinfo {
  font-size: 16px;
  color: #555;
  margin-bottom: 12px;
  text-align: center;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 1.5;
}

.termsinfo {
  font-size: 16px;
  color: #555;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1.8;
}
.termsnumcf{
  color: #849670 ;
}
.cfButton {
  display: inline-block;
  padding: 10px 20px;
  border:1px solid #704191 ;
  background-color: #704191;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.cfButton:hover {
  background-color: transparent;
  color:#704191;
  border:1px solid #704191 ;

}

.checkboxContainer {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the container horizontally */

  label {
      color: #111111;
  }
}

.checkbox {
  display: flex; /* Ensure the checkbox itself uses flexbox */
  justify-content: center; /* Center the checkbox horizontally */
  align-items: center; /* Center the checkbox vertically */
}

.confirm {
  text-align: center;
}

@media screen and (max-width: 900px) {
  .container {
    width: 90%;
    padding: 15px;
  }

  .cfintro,
  .termsandconditioncf {
    font-size: 20px;
  }

  .cfintroinfo,
  .cftermsinfo {
    font-size: 14px;
    width: 95%;
  }

  .cfButton {
    font-size: 14px;
    padding: 8px 16px;
  }

  .checkboxContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

:global(body.dark-mode) {
  .container{
    background-color: #15151519;
  }
  .cfintro, .termsandconditioncf{
    color: #8c62a9;
  }
  .cfintroinfo,.cftermsinfo{
    color: #a9a9a9;
  }
  .termsnumcf{
    color: #8c62a9 ;
  }
  .termsinfo {
    color: #a9a9a9;
  }
  .cfButton {
    background-color: #8c62a9;
  }
  .cfButton:hover {
    background-color: transparent;
    border: 1px solid #8c62a9;
    color: #8c62a9;
  }
  .confirm{
    color: #e6e6e6;
  }
  .checkboxContainer label{
      color:#a9a9a9;
    }
    .cfButton{
      background-color: #8c62a9;

     &:hover {
        background-color: transparent ;
        border: 1px solid #8c62a9 ;
        color: #8c62a9;
      }
    }
  }
