@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.resultsTableIQ {
    border-collapse: collapse; 
    font-size: 15px;
    background-color: rgb(255, 252, 252);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.064); 
    border: 1px solid #9e979791; 
    width: 100%;
  }
  

  .resultsTableIQ th {
    color: #ececec;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    background-color: #849670;
    border-bottom: 1px solid #9e979791; 
  }
  

  .resultsTableIQ td {
    text-align: center; /* Center-aligns text horizontally */
    vertical-align: middle; /* Center-aligns text vertically */
    padding: 5px;
    color : #333;
    font-size: 13px;
    border-bottom: 1px solid #9e979791; 
  }
  

  .eachResultIQ:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    transform: translateY(-1px); 
    cursor: pointer;
    background-color: rgb(245, 244, 244);
    border: 1px solid #9e979791; 
  }


.selected-choice-img {
  width: 60px;  
  height: 50px; 
  margin: 0 auto; 
}

.deleteButtonIQLIST{
  width: 70px;
      margin: 10px;
      background-color: #b62e2e ;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
}
.deleteButtonIQLIST:hover{
  background-color: transparent;
  color:black;
  border:1px solid #B94d4dce ;
}

.updateButtonIQLIST{
  width: 70px;
  margin: 10px;
  background-color: #849670;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.updateButtonIQLIST:hover{
  background-color: transparent;
  color:black;
  border:1px solid #95a581;
}

.saveButtonIQLIST{
  width: 70px;
  margin: 10px;
  background-color: #849670 ;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.saveButtonIQLIST:hover{
  background-color: transparent;
  color:black;
  border:1px solid #95a581  ;
}



.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 15px;
  margin: 0 10px;
  background-color: #d7a52f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
}

.ageWarning {
  color: red;
  font-size: 70%;
  margin-bottom: -20px;
}


.viewImageButton {
  width: 130px;
  margin: 10px;
  background-color: #bbae3c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;

}

.viewImageButton:hover{
  background-color: transparent;
  color:black;
  border:1px solid #948929;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 5px;
}

.modalImage {
  max-width: 100%;
  max-height: 80vh;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.title {
  display: flex; /* Make the title a flex container */
  justify-content: space-between; /* Distribute the content: title on the left, buttons on the right */
  align-items: center; /* Vertically align the title and buttons */
}

.resultCount {
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: .5rem;
  margin-top: -.5rem;
  color: #333;
}

.searchInput {
  width: 100%;
  max-width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  height: 35px;
}

.smartWrapper {
  display: flex; /* Arrange buttons in a row */
  width: 200px;
  margin-bottom: -30px;
}


:global(body.dark-mode){
  .resultCount {
    color: #849670;
  }
  .resultsTableIQ th {
    background-color: #c09227;
    color: #2e2e2e;
  }
  .ageWarning {
    color: rgb(192, 65, 65);
  }
  
} 