.container {
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: center;
  }
  
  .pfintro, .termsandconditionpf {
    font-size: 24px;
    color: #d7a52f;
    margin-bottom: 16px;
  }
  .termsnum{
    color: #849670 ;
  }
  .pfintroinfo{
    font-size: 16px;
    color: #555;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1.8;
  }
  
  .pfButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d7a52f;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .pfButton:hover {
    background-color: transparent ;
    border: 1px solid #d7a52f;
    color: black;
  }
  
  .checkboxContainer {
    margin: 20px 0;
    display: flex;
    align-items: center;

    label{
      color:#d7a52f;
    }
  }
  
  .checkbox {
    
    margin-left: 33%;
  }

  :global(body.dark-mode) {
    .container{
      background-color: #2a3744ef;
    .pfintro, .termsandconditionpf {
      color: #849670;
    }
    .pfintroinfo{
      color: #e6e6e6;
    }
    .termsnum{
      color: #d7a52f ;
    }
    .checkboxContainer label{
      color: #849670;
    }
    .pfButton{
      background-color: #849670;

     &:hover {
        background-color: transparent ;
        border: 1px solid #849670;
        color: rgb(255, 255, 255);
      }
    }
    .confirm{
      color: #e6e6e6;
    }
    
  } 
  }