body{
  background-color: #f4f2ee;
 }
 
 .App {
   display: flex;
   min-height: 100vh;
   padding: 0;
 }
 
 
 .main-content {
   display: flex;
   flex-direction: column;
   margin: 10px;
   padding:0;
   flex: 1;
 }
 
 
 .content {
   flex: 1;  
   padding: 0px;
   border-radius: 5px;
   margin-top: 0px;
 }
 