body{
  background-color: #f4f2ee;
 }

 body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
 
 .App {
   display: flex;
   min-height: 100vh;
   padding: 0;
 }
 
 
 .main-content {
   display: flex;
   flex-direction: column;
   margin: 0px 20px;
   padding:0;
   flex: 1;
 }
 
 
 .content {
   flex: 1;  
   padding: 0px;
   border-radius: 5px;
   margin: 0px;
 }
 
 /* Position the theme toggle button */
.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #000;
  z-index: 1000;
}

body.dark-mode .theme-toggle {
  color: #fff;
}
