$font-family: Arial, sans-serif;
$primary-color: #2a3744;
$secondary-color: #000000;
$bg-light: #d2D2D2;
$box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
$border-radius: 8px;
$table-header-bg: #ccc ;
$table-border-color: #E9E9E9;

:root {
  font-family: $font-family;
}

.surveyListContainer {
  padding: 20px;
  background-color: $bg-light;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 1.8rem;
    color: $secondary-color;
    margin-bottom: 20px;

    .surveyCount {
      font-size: 1.2rem;
      color: $primary-color;
      margin-left: 10px;
    }
  }
  
}

.surveyCard {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  width: 80%;
  display: flex;
  flex-direction: column;
  
  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    transform: translateY(-3px); 
    transition: background-color 0.3s, transform 0.2s;
  }

  h3 {
    font-size: 1.5rem;
    color: $secondary-color;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
  }

  .filters {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid $table-border-color;
    border-radius: $border-radius;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    h4 {
      font-size: 1.2rem;
      color: $primary-color;
      margin-bottom: 10px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
      text-align: left;

      th,
      td {
        padding: 12px 15px;
        border: 1px solid $table-border-color;
        font-size: 1rem;
      }

      th {
        background-color: $table-header-bg;
        color: $secondary-color;
        font-weight: bold;
      }

      td {
        background-color: #fff;
        color: #555;
      }

      tr:nth-child(even) td {
        background-color: #f2f2f2;
      }

      tr:hover {
        background-color: #e9f5ff;
      }
    }
    
  }

  .surveyActions {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;

    .viewDetailsButton {
      text-decoration: none;
      color: white;
      font-size: 16px;
      display: inline-block;
      padding: 8px 16px;
      border-radius: $border-radius;
      border: 1px solid $secondary-color;
      background-color: $secondary-color;
      text-align: center;

      &:hover {
        background-color: $primary-color;
        border: none;
        color: white;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;

  button {
    background-color: $primary-color;
    color: white;
    padding: 10px;
    border-radius: $border-radius;
    cursor: pointer;
    border: none;

    &:hover {
      background-color: darken($primary-color, 10%);
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}

.doneButton {
  background-color: #849670; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: not-allowed;
  opacity: 0.6;
}

.doneButton:disabled {
  cursor: not-allowed;
  opacity: 0.6; 
}