/* OnlineConsult.module.scss */
.chat-container {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: black;

  
    h2 {
      margin: 0;
      font-size: 1.1rem;
      color: black;

    }
  
    button {
      background-color: #653E84;
      color: white;
      padding: 5px 10px;
      border: none;
      cursor: pointer;
      border-radius: 4px;
  
      &:hover {
        background-color: #653E84;
      }
    }
  }
  
  .chat-window {
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
  
    .message {
      padding: 8px;
      border-radius: 5px;
      margin-bottom: 10px;
  
      &.sent {
        background-color: #e0f7fa;
        text-align: right;
      }
  
      &.received {
        background-color: #f1f1f1;
        text-align: left;
      }
  
      p {
        margin: 0;
        font-size: 1rem;
      }
    }
  }
  
  .chat-input {
    display: flex;
    flex-direction: column;
    padding: 10px;
  
    textarea {
      height: 100px;
      resize: none;
      padding: 10px;
      font-family: sans-serif;
      font-size: 0.9rem;
      border-radius: 4px;
      border: 1px solid #ccc;
      margin-bottom: 10px;
    }
  
    button {
      background-color: #653E84;
      color: white;
      padding: 10px;
      width: 80%;
      margin: 0 auto;
      border: 1px solid #653E84;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: transparent;
      color: #653E84;

      }
    }
  }
  .note{ 
  color: #1f1f1f;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 10px;
  font-family: sans-serif;
  margin-bottom: 0;

}