
.sidebar {
    position: fixed;
    top: 50px;  
    left: 0;
    width: 200px;
    height: 100vh;  
    background-color: white;
    border-right: 2px solid rgba(0, 0, 0, 0.493);
    padding-top: 20px;
    z-index: 999;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    flex-direction: column;

  }
  
  .sidebar li {
    margin: 20px 0;
  
  }
  
  .link {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  .link:hover {
    color: blueviolet;
    border-radius: 5px;
  }
  

  