.signup_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-top: 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup_h2 {
  font-size: 2rem;
  color: #265a3c;
  margin-bottom: 1rem;
  text-align: center;
}

.errorMessage {
  color: #ff4d4d;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
}

.signup_form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 80%;
}

.signuplabel {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #555;
}

.signupInput {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  margin-bottom: 1rem;
  transition: border-color 0.3s;

  &:focus {
    border-color: #849670;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
  }
}

.signupSubmit {
  width: 100%;
  padding: 1rem;
  margin-left: 15px;
  font-size: 1rem;
  color: #fff;
  background-color: #d7a52f;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;

  &:hover {
    background-color: #2a3744;
    transform: scale(1.02);
  }

  &:active {
    transform: scale(0.98);
  }
}

.loginLink_info {
  font-size: 0.9rem;
  color: #666;
  text-align: center;
  margin-top: 1rem;

  .loginLink {
    color: #d7a52f;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #265a3c;
      border-bottom: 1px solid #265a3c;
    }
  }
}

@media (max-width: 768px) {
  .signup_container {
    padding: 1.5rem;
    margin-top: 5%;
  }

  .signup_h2 {
    font-size: 1.8rem;
  }

  .signupInput {
    font-size: 0.9rem;
    padding: 0.7rem;
  }

  .signupSubmit {
    font-size: 0.9rem;
    padding: 0.8rem;
  }
}

/* Media queries for mobile devices */
@media (max-width: 480px) {
  .signup_container {
    padding: 1rem;
    margin-top: 5%;
  }

  .signup_h2 {
    font-size: 1.5rem;
  }

  .signupInput {
    font-size: 0.8rem;
    padding: 0.6rem;
  }

  .signupSubmit {
    font-size: 0.8rem;
    padding: 0.6rem;
  }

  .loginLink_info {
    font-size: 0.8rem;
  }
}

.hidden {
  display: none;
}

:global(body.dark-mode) {
  .signup_container{
    background-color: #2a3744ef;
    border: none;

    h2{
      color: #d7a52f;
    }
    .signuplabel{
      color: #a5a5a5;
    }
    .signupSubmit{
      background-color: #d7a52f;
      &:hover {
        background-color: #265a3c;
      }
    }
    .loginLink_info{
      color: #a5a5a5;

      .loginLink{
        color: #265a3c;
        &:hover{
        border-bottom: 1px solid #ccc;
        color: #ccc;
        }
      }
    }

  }
}