.signup_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 30%;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-top: 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup_h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

.errorMessage {
  color: #ff4d4d;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
}

.signup_form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 80%;
}

.signuplabel {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #555;
}

.signupInput {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 1rem;
  transition: border-color 0.3s;

  &:focus {
    border-color: #4caf50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
  }
}

.signupSubmit {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;

  &:hover {
    background-color: #cc63b5e1;
    transform: scale(1.02);
  }

  &:active {
    transform: scale(0.98);
  }
}

.loginLink_info {
  font-size: 0.9rem;
  color: #666;
  text-align: center;
  margin-top: 1rem;

  .loginLink {
    color: #cc63b5e1;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #cc63b5e1;
      border-bottom: 1px solid #cc63b5e1;
    }
  }
}

@media (max-width: 480px) {
  .signup_container {
    padding: 1.5rem;
  }

  .signup_h2 {
    font-size: 1.8rem;
  }

  .signupInput {
    font-size: 0.9rem;
    padding: 0.7rem;
  }

  .signupSubmit {
    font-size: 0.9rem;
  }
}

.hidden {
  display: none;
}