.chartContainer {
    width: 50%; 
    margin: 0 auto;
  }
  .heading {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
.filters{
  width: 80%;
  margin: auto;
  gap: 20px;
  display: flex;  
}

  .userListContaIner{
    width: 100%;
    margin-top: 20px;
    color: #333;

  }
  .userList{
    list-style: none;
    padding: 0;
  }
  .idIqlist{
    font-size: 1rem;
    width: 100%;
    margin: 5px 0;
    padding: 8px 25px;
    background-color: #caa1ec;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .responsesWrapper {
    max-height: 250px;  // Adjust the height as per your design needs
    overflow-y: auto;   // Enable vertical scrolling when content overflows
    margin-top: 10px;   // Optional, for some space between elements
  }
  
  .responsesTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .responsesTable th, .responsesTable td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }

  .resultCount p{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #b072e2;
  }
  .filterres{
    color: #b072e2;
    text-align: center;
  }
  :global(body.dark-mode){
    .heading {
      color: #b072e2;
    }
    .filterres{
      color: #b072e2;
    }
    .userListContaIner th{
      color: #b072e2;
    }
    .idIqlist{
      background-color: #dfdfdf;
    }
    .resultCount p{
      color: #dfdfdf;
    }
  }