/* Variables */
$bg-light: #f4f4f4; /* Light grey background for Light Mode */
$font-light: #000000; /* Black font color for Light Mode */

$bg-dark: #121212; /* Dark grey background for Dark Mode */
$font-dark: #ffffff; /* White font color for Dark Mode */

/* Light Mode Styles */
body {
  background-color: $bg-light;
  color: $font-light;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: $bg-dark;
  color: $font-dark;
}

.App {
  display: flex;
  min-height: 100vh;
  padding: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  flex: 1;
}

.content {
  flex: 1;
  padding: 20px;
  border-radius: 5px;
  margin-top: 0;
}

/* Theme Toggle Button */
.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: $font-light; /* Black font color for Light Mode */
  z-index: 1000;

  &:hover {
    opacity: 0.8;
  }
}

body.dark-mode .theme-toggle {
  color: $font-dark; /* White font color for Dark Mode */
}
