.mainContainer {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  width: 100%; /* Ensure it takes full width */
  align-items: flex-start; /* Align items to the top, so they don't stretch */
}

.subContainer {
  display: flex;
  width: 65%;
  align-items: flex-start; /* Aligns formContainer and controlContainer at the top */
  position: relative;
}

.formContainer {
  flex: 2;
  border-radius: 8px;
}

.controlContainer {
  display: flex;
  flex-direction: column; /* Align items in a column */
  align-items: center; /* Center align the buttons horizontally */
  width: 15%; /* Adjust the width to fit the content */
  position: sticky; /* Make it follow the scrolling */
  top: 20%; /* Ensure it sticks below any header or top margin */
  gap: 0.5rem; /* Reduce spacing between the buttons */
  background-color: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  padding: 0.5rem; /* Reduce padding to bring it closer visually */
  border-radius: 8px;
  margin-right: -15%;
  margin-left: -2%;
  h3 {
    color: #653e84;
    margin-bottom: 0.5rem; /* Reduce spacing below the title */
  }

  button {
    width: 100%; /* Ensure buttons span the full container width */
    padding: 0.5rem 0.75rem; /* Adjust button padding */
    font-size: 1rem; /* Ensure text is readable */
    background-color: #6e6e6e;
    border: 1px solid #6e6e6e;

    &:hover {
      background-color: transparent;
      border: 1px solid #6e6e6e;
      color: #3a3a3a;
    }
  }

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
    transition: background-color 0.3s, transform 0.2s;
  }
}

.survTitleh2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #653e84;
}

.formGroup {
  label {
    font-weight: bold;
  }
  input,
  textarea {
    width: 98%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    border: 1px solid #000000;
    border-radius: 4px;
  }
  textarea {
    min-height: 100px;
  }
}

.filters {
  h3 {
    color: #704191;
  }
  h4 {
    color: #3a3a3a;
  }
  .filterInput {
    display: flex;
    gap: 0.5rem;
    input {
      flex: 0.5;
      padding: 0.6rem;
      border: 1px solid #000000;
      border-radius: 4px;
    }
    .removeFilterBtn {
      background-color: #af1414;
      color: white;
      padding: 8px 10px;
      border-radius: 4px;
      border: 1px solid #af1414;
      cursor: pointer;
    }
    .removeFilterBtn:hover {
      background-color: transparent;
      color: #af1414;
      border: 1px solid #af1414;
    }
  }
  .addFilterBtn {
    background-color: #704191;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: transparent;
      color: #704191;
      border: 1px solid #704191;
    }
  }
}

.sections {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
  margin-top: 1rem;
  border-radius: 8px;

  h3 {
    margin-top: 10px;
    color: #704191;
  }
  .section {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    .question {
      margin-bottom: 1rem;
    }
    .choices {
      width: 100%;
      margin-top: 1rem;
      font-weight: bold;
      .choice {
        display: flex;
        gap: 1rem;
        margin-bottom: 0.5rem;
      }
    }
    .addQuestionBtn,
    .removeQuestionBtn,
    .addSectionBtn,
    .addFilterBtn,
    .removeChoiceBtn,
    .removeSectionBtn {
      background-color: #704191;
      color: white;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 1rem;
      margin-right: 1rem;
    }
    .addQuestionBtn:hover,
    .removeQuestionBtn:hover,
    .addSectionBtn:hover,
    .removeChoiceBtn:hover,
    .removeSectionBtn:hover,
    .addFilterBtn:hover {
      background-color: transparent;
      color: #704191;
      border: 1px solid #704191;
    }
    .removeQuestionBtn {
      background-color: #af1740;
    }
    .removeChoiceBtn {
      background-color: #af1740;
    }
    .removeSectionBtn {
      background-color: #af1740;
    }
    .removeQuestionBtn:hover,
    .removeChoiceBtn:hover,
    .removeSectionBtn:hover {
      background-color: transparent;
      color: #af1740;
      border: 1px solid #af1740;
    }
  }
}
.addChoiceBtn {
  background-color: #704191;
  color: white;
  padding: 0.6rem 1.4rem;
  border: 1px solid #704191;
  border-radius: 4px;
  cursor: pointer;
  margin: 1rem auto 0.5rem auto;
  display: block;

  &:hover {
    background-color: transparent;
    color: #704191;
    border: 1px solid #704191;
  }
}

.section {
  padding: 16px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
}

.activeSection {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.question {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  padding: 12px; /* Optional: Adjust for visual separation */
  border: 1px solid #e0e0e0; /* Optional: for clarity */
  border-radius: 8px; /* Optional: rounded edges */
  background-color: #f2f2f2; /* Optional: distinct background */
  margin-top: 16px; /* Space between questions */

  &:first-child {
    margin-top: 0; /* Remove margin for the first question */
  }
}

.submitBtn {
  width: 20%;
  padding: 0.8rem;
  background-color: #6e6e6e;
  color: #ffffff;
  border: 1px solid #6e6e6e;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.submitBtn:hover {
  background-color: transparent;
  color: #6e6e6e;
  border: 1px solid #6e6e6e;
}

.titleGroup {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
  margin-top: 30px;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
    transition: background-color 0.3s, transform 0.2s;
  }
}

.filterGroup {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  text-align: center;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
    transition: background-color 0.3s, transform 0.2s;
  }
  h3 {
    color: #653e84;
  }
  h4 {
    margin-top: -10px;
  }
}

.sectionGroup {
  max-width: 865px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
}

@media (max-width: 1024px) {
  .controlContainer {
    position: sticky;
    top: 0; /* Sticky position */
    bottom: 0; /* Sticky until bottom of the screen */
    width: 20%; /* Adjust the width as needed */
    height: 100%; /* Ensure control container is as tall as the screen */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem; /* Small gap inside the control container */
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 0;
    padding-top: 1rem;
  }
}
/* Responsive design for small screens */
@media (max-width: 768px) {
  .mainContainer {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    width: 100%;
  }

  .subContainer {
    display: flex;
    flex-direction: row; /* Align containers side by side */
    align-items: flex-start;
    gap: 1rem; /* Small gap between containers */
    width: 90%;
  }

  .formContainer {
    width: 80%; /* Take up more space for the form */
  }

  .controlContainer {
    position: sticky;
    top: 0; /* Sticky position */
    bottom: 0; /* Sticky until bottom of the screen */
    width: 20%; /* Adjust the width as needed */
    height: 100%; /* Ensure control container is as tall as the screen */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem; /* Small gap inside the control container */
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 1rem; /* Add some padding at the top */
  }

  .controlContainer button {
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    border-radius: 10px;
  }

  .sectionGroup {
    max-width: 865px;
    margin: 0 auto;
    padding: 0rem;
    border-radius: 8px;
    margin-top: 1rem;
  }
}

:global(body.dark-mode) {
  .formContainer {
    background-color: #302f3000;
  }
  .titleGroup {
    background-color: #1a1919;
  }
  .survTitleh2 {
    color: #8c62a9;
  }
  .formGroup,
  .choices {
    label {
      color: #a9a9a9;
    }
    input,
    textarea {
      background-color: #1a1919;
      color: #a9a9a9;
      border: 1px solid #a9a9a9;
    }
  }
  .filters,
  .filterGroup {
    background-color: #1a1919;

    h3 {
      color: #8c62a9;
    }
    h4 {
      color: #a9a9a9;
    }
    input {
      background-color: #1a1919;
      color: #a9a9a9;
      border: 1px solid #a9a9a9;
    }
  }
  .section {
    background-color: #1a1919;
    color: #a9a9a9;

    h3 {
      color: #8c62a9;
    }
  }

  .question {
    background-color: #212121;
    color: #a9a9a9;
    border: none;

    .choices {
      color: #a9a9a9;
    }
    input {
      background-color: #212121;
      color: #a9a9a9;
      border: 1px solid #a9a9a9;
    }
  }
  .addChoiceBtn {
    background-color: #8c62a9;
    border: 1px solid #8c62a9;
    &:hover {
      background-color: transparent;
      border: 1px solid #8c62a9;
      color: #8c62a9;
    }
  }
  .controlContainer {
    background-color: #212121;

    button {
      background-color: #6e6e6e;
      border: 1px solid #6e6e6e;
      &:hover {
        background-color: transparent;
        border: 1px solid #a9a9a9;
        color: #a9a9a9;
      }
    }
  }
  .submitBtn {
    background-color: #6e6e6e;
    border: 1px solid #6e6e6e;
    &:hover {
      background-color: transparent;
      border: 1px solid #a9a9a9;
      color: #a9a9a9;
    }
  }
}
