.mainContainer {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  width: 100%; /* Ensure it takes full width */
  align-items: flex-start; /* Align items to the top, so they don't stretch */
}

.subContainer {
  display: flex;
  width: 65%;
  align-items: flex-start; /* Aligns formContainer and controlContainer at the top */
  position: relative;
}

.formContainer {
  flex: 2;
  border-radius: 8px;
}

.controlContainer {
  display: flex;
  flex-direction: column; /* Align items in a column */
  align-items: center; /* Center align the buttons horizontally */
  width: fit-content; /* Adjust the width to fit the content */
  position: sticky; /* Make it follow the scrolling */
  top: 1rem; /* Ensure it sticks below any header or top margin */
  gap: 0.5rem; /* Reduce spacing between the buttons */
  background-color: #dadada;
  padding: 0.5rem; /* Reduce padding to bring it closer visually */
  border-radius: 8px;
  margin-left: -9rem; /* Move the controlContainer slightly to the left */

  h3 {
    margin-bottom: 0.5rem; /* Reduce spacing below the title */
  }

  button {
    width: 100%; /* Ensure buttons span the full container width */
    padding: 0.5rem 0.75rem; /* Adjust button padding */
    font-size: 1rem; /* Ensure text is readable */
  }

  &:hover {
    border: 2px solid #704191;
  }
}



.survTitleh2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #704191;
}

.formGroup {
  label {
    font-weight: bold;
  }
  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    border: 1px solid #000000;
    border-radius: 4px;
  }
  textarea {
    min-height: 100px;
  }
}

.filters {
  h3 {
    color: #704191;
  }
  h4 {
    color: #3a3a3a;
  }
  .filterInput {
    display: flex;
    gap: .5rem;
    input {
      flex: .5;
      padding: .6rem;
      border: 1px solid #000000;
      border-radius: 4px;
    }
    .removeFilterBtn {
      background-color: #AF1740;
      color: white;
      padding: .5rem 0.6rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    .removeFilterBtn:hover {
      background-color: transparent;
      color: #AF1740;
      border: 1px solid #AF1740;
    }
  }
  .addFilterBtn {
    background-color: #704191;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: transparent;
      color: #704191;
      border: 1px solid #704191;
    }
  }
}

.sections {
  margin-bottom: 2rem;
  h3 {
    color: #704191;
  }
  .section {
    margin-bottom: 1.5rem;
    .question {
      margin-bottom: 1rem;
    }
    .choices {
      margin-top: 1rem;
      font-weight: bold;
      .choice {
        display: flex;
        gap: 1rem;
        margin-bottom: 0.5rem;
      }
    }
    .addQuestionBtn,
    .removeQuestionBtn,
    .addChoiceBtn,
    .addSectionBtn,
    .addFilterBtn,
    .removeChoiceBtn,
    .removeSectionBtn {
      background-color: #704191;
      color: white;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 1rem;
      margin-right: 1rem;
    }
    .addQuestionBtn:hover,
    .removeQuestionBtn:hover,
    .addChoiceBtn:hover,
    .addSectionBtn:hover,
    .removeChoiceBtn:hover,
    .removeSectionBtn:hover,
    .addFilterBtn:hover {
      background-color: transparent;
      color: #704191  ;
      border: 1px solid #704191;
    }
    .removeQuestionBtn {
      background-color: #AF1740;
    }
    .removeChoiceBtn {
      background-color: #AF1740;
    }
    .removeSectionBtn {
      background-color: #AF1740;
    }
    .removeQuestionBtn:hover,
    .removeChoiceBtn:hover,
    .removeSectionBtn:hover {
      background-color: transparent;
      color: #AF1740;
      border: 1px solid #AF1740;
    }
  }
}

.section {
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #dfdfdf;
  transition: border 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover/active effects */

  &:hover {
    cursor: pointer;
  }
}

.activeSection {
  border: 2px solid #704191; /* Green border for active section */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for emphasis */
}


.question {
  padding: 12px; /* Optional: Adjust for visual separation */
  border: 1px solid #e0e0e0; /* Optional: for clarity */
  border-radius: 8px; /* Optional: rounded edges */
  background-color: #ffffff; /* Optional: distinct background */
  margin-top: 16px; /* Space between questions */

  &:first-child {
    margin-top: 0; /* Remove margin for the first question */
  }
}


.submitBtn {
  width: 100%;
  padding: 0.7rem;
  background-color: #8d8d8d;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
}
.submitBtn:hover {
  background-color: transparent;
  color: #8d8d8d;
  border: 1px solid #8d8d8d;
}


.titleGroup {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  background-color: #dfdfdf;
  margin-bottom: 20px;

  &:hover {
    border: 2px solid #704191;
  }
}

.filterGroup {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  background-color: #dfdfdf;
  text-align: center;

  &:hover {
    border: 2px solid #704191;
  }
}

.sectionGroup {
  max-width: 865px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  
}

/* Responsive design for small screens */
@media (max-width: 768px) {
  .mainContainer {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    width: 100%;
  }

  .subContainer {
    display: flex;
    flex-direction: row; /* Align containers side by side */
    align-items: flex-start;
    gap: 1rem; /* Small gap between containers */
    width: 90%;
  }

  .formContainer {
    width: 80%; /* Take up more space for the form */
  }

  .controlContainer {
    position: sticky;
    top: 0; /* Sticky position */
    bottom: 0; /* Sticky until bottom of the screen */
    width: 15%; /* Adjust the width as needed */
    height: 100%; /* Ensure control container is as tall as the screen */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem; /* Small gap inside the control container */
    margin-left: 0; /* Reset margin */
    padding-top: 1rem; /* Add some padding at the top */
  }

  .controlContainer button {
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    border-radius: 10px;
  }

  .sectionGroup {
    max-width: 865px;
    margin: 0 auto;
    padding: 0rem;
    border-radius: 8px;
    margin-top: 1rem;
    
  }

}


:global(body.dark-mode){
  .formContainer {
    background-color: #302f30;
  }
  .survTitleh2 {
    color: #ffffff;
  }
  .formGroup, .choices {
    label {
      color: #754a94;
    }
    input, textarea {
      background-color: #e2e2e2;
      color: #303030;
      border: 1px solid #754a94;
    }
  }
  }