
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");


.mainContainer {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  flex-wrap: nowrap; /* Prevent wrapping on large screens */
  width: 100%; /* Ensure it takes full width */
  gap: 10px; /* Adjust the gap between the containers */
  align-items: flex-start; /* Align items to the top, so they don't stretch */
  user-select: none;
}

.omrCameraContainer {
  background-color: #fffdfd;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 35%; /* Ensure it takes up about half of the screen */
  text-align: center;


  h2 {
    color: #704191;
    margin-bottom: 20px;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
  }
}

.instructionContainer {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #fffdfd; /* Light background for clarity */
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  width: 30%; /* Ensure it takes up about half of the screen */
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h1 {
    color: #704191;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }

  p {
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #070707;
    font-family: 'Poppins', sans-serif;
  }
}

/* Adjust layout for smaller screens */
@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column; /* Stack the containers vertically */
    align-items: center; /* Center them horizontally */
  }

  .omrCameraContainer, .instructionContainer {
    width: 90%; /* Adjust width to take up most of the screen */
    gap: 10px; /* Add a gap between stacked elements */
  }
}


.fileInputWrapper {
  margin-bottom: 15px;

  label {
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 5px;
  }

  input[type="file"] {
    display: none;
  }
}

.uploadLabel {
  background-color: #704191;
  padding: 8px 16px;
  border-radius: 5px;
  color: #ffffff;
  border: #704191 solid 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: transparent;
    color: #704191;
    border: #704191 solid 2px;
  }
}

.imagePreview {
  margin-top: 20px;
  max-width: 100%;
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
}

.cameraWrapper {
  margin-top: 20px;

  .video {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }

  .cameraControls {
    margin-top: 10px;

    .captureButton, .cancelButton {
      background-color: #555;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin: 0 10px;

      &:hover {
        background-color: #777;
      }
    }

    .cancelButton {
      background-color: #cc0000;
    }
  }

  .openCameraButton {
    background-color: #1a1a1a;
    color: white;
    border: #1a1a1a solid 2px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: transparent;
      color: #1a1a1a;
    }
  }

  .fileInput {
    margin-top: 20px;
    display: block;
    background-color: #444;
    border: 1px solid  #666;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: transparent;
      
    }
  }
}

.uploadButton {
  background-color: #704191;
  color: white;
  padding: 12px 20px;
  border: 2px solid #704191;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 20px;

  &:disabled {
    background-color: #704191;
    cursor: not-allowed;
  }

  &:hover {
    background-color: transparent;
    color: #704191;
    border: 2px solid #704191;
  }
}

.uploadedImage {
  margin-top: 20px;
  text-align: left;

  p {
    color: #ccc;
    font-size: 14px;
  }

  img {
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
    border-radius: 5px;
  }
}

.omrProcessButton {
  background-color: #1a1a1a;
  color: white;
  border: 2px solid #1a1a1a;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;

  &:disabled {
    background-color: #1a1a1a;
    cursor: not-allowed;
  }

  &:hover {
    background-color: transparent;
    color: black;
    border: 2px solid  #1a1a1a;
  }
}

canvas {
  display: none;
}



.saveScoreButton {
  background-color: #704191;
  color: white;
  border: 2px solid  #704191;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 80%;
  margin-top: 20px;


  &:hover {
    background-color: transparent;
    color: #704191;
    border: 2px solid  #704191;
  }
}


.spinnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.spinner {
  margin-bottom: 10px; /* Add some space between the spinner and the text */
}

.spinnerCircle {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #704191;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingText {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
  color: #815aa5;
}
.uploadedImage p{
  color: #353535;
}
.omrscoreres{
  color: #353535;
  margin-top: 30px;
}

:global(body.dark-mode){
  .omrCameraContainer {
    background-color: #1f1f1f5d;

    h2{
      color: #754a94;
    }
  }
  .uploadLabel {
    background-color: #754a94;
    border: #754a94 solid 2px;

    &:hover {
      background-color: transparent;
     
    }
  }

  .uploadedImageText{
    color: #cecece;
    text-align: center;
  }
  .uploadButton {
    background-color: #754a94;
      border: 2px solid #754a94;

    &:hover {
      background-color: transparent;
      color: #754a94;
      border: 2px solid #754a94;
      }
  }
  .openCameraButton {
    background-color: #6e6e6e;
    border: #6e6e6e solid 2px;

    &:hover {
      background-color: transparent;
      color: #6e6e6e;
    }
  }
  .omrProcessButton {
    background-color: #6e6e6e;


    &:hover {
      background-color: transparent;
      color: #6e6e6e;
      border: 2px solid #6e6e6e;
    }
  }
  .loadingText  {
    color: #2a61b4;
  }
  .saveScoreButton {
    background-color: #754a94;
    color: #fafafa;

    &:hover {
      background-color: transparent;
      color: #754a94;
      border: 1px solid  #754a94;
    }
  }
  .instructionContainer {
    background-color: #1f1f1f5d;
    
    h1{
      color: #754a94;
    }
    p{
      color: #b9b9b9;
    }
  }
  .omrscoreres{
    color: #b4b4b4;
    margin-top: 30px;
  }
}


