// OMRCamera.module.scss

.omrCameraContainer {
  background-color: #1e1e1e;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 18%;
  top: 25%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 30%;
  margin: auto;
  text-align: center;

  h2 {
    color: #fff;
    margin-bottom: 20px;
  }
}

.fileInputWrapper {
  margin-bottom: 15px;

  label {
    font-size: 16px;
    color: #ccc;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 5px;
  }

  input[type="file"] {
    display: none;
  }
}

.uploadLabel {
  background-color: #333;
  padding: 8px 16px;
  border-radius: 5px;
  color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #555;
  }
}

.imagePreview {
  margin-top: 20px;
  max-width: 100%;
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
}

.cameraWrapper {
  margin-top: 20px;

  .video {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }

  .cameraControls {
    margin-top: 10px;

    .captureButton, .cancelButton {
      background-color: #555;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin: 0 10px;

      &:hover {
        background-color: #777;
      }
    }

    .cancelButton {
      background-color: #cc0000;
    }
  }

  .openCameraButton {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #666;
    }
  }

  .fileInput {
    margin-top: 20px;
    display: block;
    background-color: #444;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #666;
    }
  }
}

.uploadButton {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 20px;

  &:disabled {
    background-color: #666;
    cursor: not-allowed;
  }

  &:hover {
    background-color: #0056b3;
  }
}

.uploadedImage {
  margin-top: 20px;
  text-align: left;

  p {
    color: #ccc;
    font-size: 14px;
  }

  img {
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
    border-radius: 5px;
  }
}

.omrProcessButton {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;

  &:disabled {
    background-color: #666;
    cursor: not-allowed;
  }

  &:hover {
    background-color: #218838;
  }
}

canvas {
  display: none;
}



.saveScoreButton {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 20px;


  &:hover {
    background-color: #0056b3;
  }
}

.instructionContainer {
  display: flex;
  flex-direction: column;
  color : white;
  background-color: #303030; /* Light background for clarity */
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 8px;
  width : 25%;
  position: absolute;
  right: 18%;
  top: 25%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.instructionContainer p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #e0e0e0;
}

.instructionContainer h2 {
  color: #fff;
  margin-bottom: 20px;
}

.spinnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.spinner {
  margin-bottom: 10px; /* Add some space between the spinner and the text */
}

.spinnerCircle {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #bf34db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingText {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
  color: #ee4ad8;
}


