.formTest {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, 0%);
}

.te_container {
  background-color: #F6F5F5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #45474B;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 1000px;
}

h1 {
  color: #45474B;
  font-size: 2rem;
  margin-bottom: 20px;
  justify-self: center;
  font-family: Arial, sans-serif;
}

.ageWarning {
  color: #ff0000;
  font-weight: bold;
  margin-top: 1px;
  margin-bottom: 10px;
  justify-self: center;
  align-items: center;
  text-align: center;
}

label {
  display: block;
  margin: 10px 0;
  color: #45474B;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input[type=text],
select,
input[type=radio] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #45474B;
  border-radius: 5px;
  transition: border-color 0.3s;
  background-color: #F6F5F5;
  color: #45474B;
}
input[type=text]:focus,
select:focus,
input[type=radio]:focus {
  border-color: #7EA0B7;
  outline: none;
}
input[type=text][type=radio],
select[type=radio],
input[type=radio][type=radio] {
  width: auto;
  margin-right: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.questions {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
  width: 200px;
  height: 200px;
}

.questionBox {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
  text-align: center;
}

.questionBox img {
  width: 550px;
  height: 450px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.choiceALL {
  display: flex;
}

.choiceALL img {
  width: 120px;
  height: 100px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
  margin-left: 110px;
  margin: 5px;
}

li {
  margin: 15px 0;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #333;
}
li .question-image {
  margin-right: 20px;
}
li .question-image img {
  width: 30px;
  height: 30px;
}
li .choices {
  display: flex;
  flex-direction: row;
}
li .choices label {
  display: flex;
  align-items: center;
  margin: 5px;
}
li .choices label input[type=radio] {
  margin-right: 10px;
}
li .choices label img {
  max-width: 60px;
  height: auto;
  margin-left: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.pagination button {
  padding: 10px 15px;
  background-color: #7EA0B7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #5d88a5; /* Darker shade on hover */
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.pagination .active {
  background-color: #4a6d85;
  font-weight: bold;
}

.start {
  margin-top: -20px;
  padding: 10px 15px;
  background-color: #7EA0B7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start:hover {
  background-color: #5d88a5; /* Darker shade on hover */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submitButton {
  padding: 10px 15px;
  background-color: #67b2da;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 40px;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #1d3a46; /* Darker shade on hover */
}

.hidden {
  display: none;
}/*# sourceMappingURL=OMRResult.module.css.map */