@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.resultsTableCF {
    border-collapse: collapse; 
    font-size: 15px;
    background-color: #f9f9f9;
    width: 100%;
  }
  

  .resultsTableCF th {
    color: #181818;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    background-color: #f9f9f9 ;
    border-bottom: 1px solid #181818;
  }
  

  .resultsTableCF td {
    text-align: center; /* Center-aligns text horizontally */
    vertical-align: middle; /* Center-aligns text vertically */
    padding: 5px;
    color : #333;
    font-size: 13px;
    border-bottom: 1px solid #9e979791; 
  }
  

  .eachResultCF:hover {
    transform: translateY(-1px); 
    cursor: pointer;
    background-color: #e7e7e7;
  }


.selected-choice-img {
  width: 60px;  
  height: 50px; 
  margin: 0 auto; 
}

.deleteButtonCFLIST{
  width: 130px;
      margin: 10px auto;
      background-color: #b62e2e ;
      color: white;
      border:1px solid #b62e2e ;
      padding: 8px;
      border-radius: 10px;
      cursor: pointer;
}
.deleteButtonCFLIST:hover{
  background-color: transparent;
  color:#b62e2e;
  border:1px solid #b62e2e ;
}

.updateButtonCFLIST{
  width: 130px;
  margin: 10 autopx;
  background-color: #849670;
  color: white;
  border:1px solid #849670;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

.updateButtonCFLIST:hover{
  background-color: transparent;
  color:#849670;
  border:1px solid #849670;
}

.saveButtonCFLIST{
  width: 70px;
  margin: 10px;
  background-color: #849670 ;
  color: white;
  border:1px solid #95a581  ;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.saveButtonCFLIST:hover{
  background-color: transparent;
  color:#95a581;
  border:1px solid #95a581  ;
}



.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 15px;
  margin: 0 10px;
  background-color: #d7a52f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
}

.ageWarning {
  color: red;
  font-size: 60%;
  margin-bottom: -20px;
}


.viewImageButton {
  width: 130px;
  margin: 10px auto;
  background-color: #bbae3c;
  color: white;
  border:1px solid #bbae3c;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;

}

.viewImageButton:hover{
  background-color: transparent;
  color:#bbae3c;
  border:1px solid #bbae3c;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 5px;
}

.modalImage {
  max-width: 100%;
  max-height: 80vh;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.title {
  display: flex; /* Make the title a flex container */
  justify-content: space-between; /* Distribute the content: title on the left, buttons on the right */
  align-items: center; /* Vertically align the title and buttons */
}

.resultCount {
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: .5rem;
  margin-top: -.5rem;
  color: #333;
}

.searchInput {
  width: 100%;
  max-width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  height: 35px;
}

.smartWrapper {
  display: flex; /* Arrange buttons in a row */
  width: 200px;
  margin-bottom: -30px;
}

@media (max-width: 768px) {
  .tableWrapper {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .resultsTableCF {
    width: 100%;
    min-width: 1200px; /* Ensures scrolling instead of squeezing */
  }
}


:global(body.dark-mode){
  .resultCount {
    color: #ffffff;
  }
  .resultsTableCF th {
    background-color: #161616;
      color: #ececec;
      border-bottom: #ececec 1px solid;
  }
  .ageWarning {
    color: rgb(192, 65, 65);
  }
  .resultsTableCF{
    background-color: #181818f5;
  }
  .resultsTableCF td {
    color: #ffffff;
  }
  .searchInput{
    background-color: #181818f5;
    color: #ffffff;
  }
  .eachResultCF:hover {
    background-color: #2b2b2b;
    border: none;
  }
} 