.homepage {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}

/*Home hero*/
.homepagestudent {
  position: relative;
  background: url("../../images/home.jpg") no-repeat center center/cover;
  color: white;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  margin: 0;
  animation: fadeInPage 1.5s ease-in-out;
  user-select: none;
  &:hover {
    transform: translateY(-20px); 
    box-shadow:rgba(0, 0, 0, 0.8) 0px 3px 5px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(48, 48, 48, 0.514);
    z-index: 1;
  }

  .content {
    position: relative;
    z-index: 2;
    padding: 2rem;
    max-width: 600px;
    width: 100%;
    animation: fadeInText 2s ease-in-out;
  }

  .topHeader {
    background-color: #a0a0a0c4;
    padding: 20px;
    width: 70%;
    border-radius: 10px;
    font-size: 22px;
    color: white;
    animation: textSlideUp 1.5s ease-in-out;
  }
  .homeLink {
    text-decoration: none;
    color: #653e84;
  }
  .homeLink:hover {
    color: #ffffff;
    transform: translateY(-3px);
  }
  .header {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #cc8dfe;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.829);
    animation: textFadeIn 2s ease-in-out;
  }

  .description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    animation: textFadeIn 2s ease-in-out;
  }

  .getStartedBtn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: white;
    background-color: #653e84;
    border: 2px solid #653e84;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s;
    animation: buttonFadeIn 2s ease-in-out;

    &:hover {
      background-color: transparent;
      color: #653e84;
    }
  }
}

@keyframes fadeInPage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textSlideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes buttonFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fallAnimation {
  0% {
    transform: translateY(-100vh); /* Start from above the viewport */
  }
  100% {
    transform: translateY(0); /* End at its original position */
  }
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-10px); 
  }
  100% {
    transform: translateY(0); 
  }
}

.fallGuy {
  height: 300px;
  position: absolute;
  top: 12%;
  margin-left: -30%;
  animation: floatAnimation 6s ease-in-out infinite;
}

.fallGirl {
  height: 300px;
  position: absolute;
  top: 20%;
  margin-right: -30%;
  animation: floatAnimation 6s ease-in-out 0.2s infinite;
}

.lappy {
  height: 200px;
  position: absolute;
  top: 30%;
  margin-left: -70%;
  animation: floatAnimation 8s ease-in-out 0.4s infinite; /* Slightly delayed */
}

.testPaper {
  height: 150px;
  position: absolute;
  top: 40%;
  margin-right: -70%;
  animation: floatAnimation 4s ease-in-out 0.6s infinite; /* Slightly delayed */
}

.pen {
  height: 150px;
  position: absolute;
  top: 18%;
  animation: floatAnimation 8s ease-in-out 0.8s infinite; /* Slightly delayed */
}


/* for guidance cons home page */
.homepageconsultation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 3rem;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow:rgba(0, 0, 0, 0.3) 0px 3px 5px;
  
  margin-top: 2rem;
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
  animation: fadeInPage 1.5s ease-in-out;

  &:hover {
    transform: translateY(-20px); // Moves the div 10px up
    box-shadow:rgba(0, 0, 0, 0.7) 0px 3px 5px;
  }
  .contentconsultation {
    width: 100%;
    max-width: 2000px;

    

    .headerconsultation {
      text-align: center;
      color: #653e84; 
      font-size: 2.5rem;
      text-shadow: #333 1px 1px 3px;
      font-weight: bold;
      margin-bottom: 1.5rem;
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    .descriptionconsultation {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      font-size: 1.3rem;
      color: #080808;
      margin-top: -10%;
      max-width: 50%;
      margin-right: 10px;
      text-shadow: #333 0px 1px 1px;
      font-family:Arial, Helvetica, sans-serif;

      @media (max-width: 1500px) {
        font-size: 1.2rem;
        
      }
    }

    .picConsultation {
      width: 25vw; // Adjust size as needed
      height: 48vh;
      background-image: url('../../images/homecons.png'); // Replace with actual image path
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      margin-right: -70px; // Adjust margin as needed
      animation: floatAnimation 8s ease-in-out 0.6s infinite;

      @media (max-width: 1500px) {
        width: 60vw;
        height: 60vh;
        margin-right: -50px;
      }
      @media (max-width: 1000px) {
        width: 50vw;
        height: 50vh;
        margin-right: -60px;
      }
      @media (max-width: 800px) {
        width: 80vw;
        height: 40vh;
        margin-right: -30px;
        
      }
      @media (max-width: 768px) {
        width: 80vw;
        height: 40vh;
        margin-right: -30px;
      }
      @media (max-width: 480px) {
        margin-right: -20px;
      }
      @media (max-width: 380px) {
        width: 100vw;
        margin-right: -10px;  
      }
      @media (max-width: 280px) {
        width: 150vw;
        margin-right: -10px;
      }
    }


    .getStartedBtn {
      display: inline-block;
      margin-top: -8%;
      margin-right: 30%;
      margin-bottom: 4%;
      padding: 1rem 5rem;
      background-color: #653e84; 
      color: #fff;
      font-size: 1.2rem;
      text-decoration: none;
      border: #653e84 2px solid;
      border-radius: 5px;
      transition: background 0.3s ease;
    
      &:hover {
        font-weight: bold;
        color: #653e84;
        background-color: transparent; 
      }
      @media (max-width: 1500px) {
        padding: 1rem 3rem;
        margin-right: 40%;
      }
      @media (max-width: 1000px) {
        margin-right: 50%;
        margin-top: -15%;
        
      }
      @media (max-width: 900px) {
        margin-right: 50%;
        margin-top: -15%;
        
      }
      @media (max-width: 800px) {
        margin-right: 50%;
      }
    }
    

    // Layout container for pic and text
    .contentLayout {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 1000px;
    }
  }
}

.homepagesurvey {
  display: flex;
  background-color: #ffffff;
 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 3rem;
  border-radius: 2px;
  box-shadow:rgba(0, 0, 0, 0.3) 0px 3px 5px;
  margin-top: 2rem;
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
  animation: fadeInPage 1.5s ease-in-out;

  &:hover {
    transform: translateY(-20px);
    box-shadow:rgba(0, 0, 0, 0.7) 0px 3px 5px;
  }

  .contentsurvey {
    width: 100%;
    max-width: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .headersurvey {
      text-align: center;
      color: #653e84;
      font-size: 2.5rem;
      text-shadow: #333 1px 1px 3px;
      font-weight: bold;
      margin-bottom: 1.5rem;
    }

    .contentLayoutsurvey {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 1000px;
    }

    .descriptionsurvey {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      font-size: 1.3rem;
      margin-top: -10%;
      color: #080808;
      max-width: 50%;
      margin-left: 10px;
      text-shadow: #333 0px 1px 1px;
      font-family: Arial, Helvetica, sans-serif;

      @media (max-width: 1500px) {
        font-size: 1.2rem;
      }
    }

    .picSurvey {
      width: 25vw;
      height: 45vh;
      background-image: url('../../images/surveyhome.png'); // Replace with the actual image path
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      margin-left: -70px;
      margin-top: 20px;
      animation: floatAnimation 8s ease-in-out 0.10s infinite;

      @media (max-width: 1500px) {
        width: 60vw;
        height: 60vh;
        margin-left: -50px;
      }
      @media (max-width: 1000px) {
        width: 50vw;
        height: 50vh;
        margin-left: -80px;
      }
      @media (max-width: 768px) {
        width: 80vw;
        height: 40vh;
        margin-left: -60px;
      }
      @media (max-width: 480px) {
        margin-left: -20px;
      }
      @media (max-width: 380px) {
        width: 100vw;
        margin-left: -10px;
      }
      @media (max-width: 280px) {
        width: 150vw;
        margin-left: -10px;
      }
    }

    .getStartedBtnSurvey {
      display: inline-block;
      margin-top: -8%;
      margin-left: 30%;
      margin-bottom: 3%;
      padding: 1rem 5rem;
      background-color: #653e84;
      color: #fff;
      font-size: 1.2rem;
      text-decoration: none;
      border: #653e84 2px solid;
      border-radius: 5px;
      transition: background 0.3s ease;

      &:hover {
        font-weight: bold;
        color: #653e84;
        background-color: transparent;
      }
      @media (max-width: 1500px) {
        padding: 1rem 3rem;
        margin-left: 40%;
        margin-top: -10%;
      }
      @media (max-width: 900px) {
        margin-left: 50%;
        margin-top: -15%;
        
      }
      @media (max-width: 800px) {
        margin-left: 50%;
      }
    }
  }
}

:global(body.dark-mode) {
  .homepagestudent {
    position: relative;
    background: url("../../images/home.jpg");
    background-size: cover;
    color: white;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    animation: fadeInPage 1.5s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(19, 19, 19, 0.651);
      z-index: 1;
    }

    .topHeader {
      background-color: #161616c4;

      .homeLink {
        text-decoration: none;
        color: #8c62a9;
      }
      .homeLink:hover {
        color: #ffffff;
        transform: translateY(-3px);
      }
    }
    .header {
      color: #8c62a9;
    }
    .getStartedBtn {
      background-color: #8c62a9;
      border: 2px solid #8c62a9;

      &:hover {
        background-color: transparent;
        color: #8c62a9;
      }
    }
  }
.homepageconsultation{
  background-color: #161616 ;
  .headerconsultation {
    color: #8c62a9;
  }
  .descriptionconsultation {
    color: #a9a9a9;
  }
  .getStartedBtn {
    background-color: #8c62a9;
    border: 2px solid #8c62a9;

    &:hover {
      background-color: transparent;
      color: #8c62a9;
    }
  }
}

.homepagesurvey{
  background-color: #161616;
  .headersurvey {
    color: #8c62a9;
  }
  .descriptionsurvey {
    color: #a9a9a9;
  }
  .getStartedBtnSurvey {
    background-color: #8c62a9;
    border: 2px solid #8c62a9;

    &:hover {
      background-color: transparent;
      color: #8c62a9;
    }
  }
}
}

@media (max-width: 768px) {
  .homepage {
    width: 100%;
    max-width: 75vw;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }


  .header {
    font-size: 1.8rem;
  }

  .content .description {
    font-size: 0.9rem;
  }

  .content .getStartedBtn {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
  }

  .content .topHeader {
    font-size: 1rem;
  }

   .fallGuy, .fallGirl{
    height: 150px;
  }
  .lappy, .testPaper, .pen{
    height: 100px;
  }

  .homepageconsultation .contentconsultation .headerconsultation{
    font-size: 30px;
    padding-bottom: 20px;
  }
  .homepageconsultation .contentLayout .descriptionconsultation {
   font-size: 15px;
   text-align: justify;
  }
  .picConsultation{
    width: 20vw;
  }
  .homepageconsultation .contentconsultation .getStartedBtn{
    font-size: 12px;
    width: 25%;
  }

  .homepagesurvey .contentsurvey .contentLayoutsurvey .descriptionsurvey{
   font-size: 15px;
   text-align: justify;
  }
  .homepagesurvey .contentsurvey  .getStartedBtnSurvey{
    font-size: 12px;
    width: 25%;
  }
}

