// Home.scss
// homepage.module.scss
.homepagestudent{
    background-color: #EBE8E8;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
; // Optional, customize as needed
  }
  