.OMRDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    max-width: 100%;
    height: 50vh;
}
.OMRTITLE{
    color: #000000;
    font-size: 50px;
    margin: 0;
}
.OMRTITLE:hover{
    color: #EFB836 ;
}

.OMRTITLEnext{
    color: #000000;
    font-size: 50px;
    margin: 0;
}
.OMRTITLEnext:hover{
    color: #cc63b5e1 ;
}
.OMRDesc{
   font-size: 18px;
   font-weight: 100;
}
.OMRbutton{
    display: flex;
    justify-content: space-between;
}

.OMRlinkOnline, .OMRLinkUpload{
    text-decoration: none;
    margin-right: 50px;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #EFB836;
    color: white;
}
.OMRlinkOnline:hover, .OMRLinkUpload:hover{
    background-color: #95A581;
    color: #ffffff;
}