// Define color and styling variables
$main-bg: #f4f2ee;
$button-bg: #d7d5d1;
$button-hover-bg: #e8e6e2;
$container-bg: #ffffff;
$container-hover-bg: #f3f1f1;
$main-text: #131313;
$navbar-text: #626262;
$navbar-hover-text: #131313;
$input-border-color: #ccc;
$input-focus-border-color: $main-text;
$button-hover-color: $main-text;
$font-family: Arial, sans-serif;

// Global container styles
.container {
  background-color: $container-bg;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  width: 400px; // Set the width of the form
  margin: 0 auto; // Center the form horizontally
  font-family: $font-family;

  &:hover {
    background-color: $container-hover-bg;
  }
}

// Header styles
.userinfo_pr {
  color: $main-text;
  font-size: 24px;
  margin-bottom: 20px;
}

// Information container styles
.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

// UserID Display styles
.userIDDisplay {
  font-size: 14px;
  color: $main-text;
  margin-bottom: 10px;
}

// Label and input styles
.pr_label {
  font-size: 16px;
  color: $main-text;
}

.pr_input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid $input-border-color;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    border-color: $input-focus-border-color;
    outline: none;
  }
}

// Button container styles
.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

// Submit button styles
.submitButton {
  padding: 10px 20px;
  font-size: 16px;
  color: $main-text;
  background-color: $button-bg;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $button-hover-bg;
    color: $button-hover-color;
  }

  &:focus {
    outline: none;
  }
}
