.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}
.passcontainer {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

.userinfo_pr {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #653e84;
  margin-top: -10px;
  margin-bottom: 20px;
  user-select: none;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
  font-size: 1rem;
  color: #555;
  padding: 0 15px;
}

.userIDDisplay {
  font-weight: bold;
  font-size: 1.1rem;
  color: #696969;
  text-align: center;
  padding-top: 10px;
}

.pr_labelcurrent {
  color: #653e84;
  margin-bottom: inherit;
}

.pr_labelName {
  margin-bottom: -10px;
}

.pr_label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: #444;
}

.pr_input {
  width: 95%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.pr_input:focus {
  outline: none;
  box-shadow: 0 0 4px #333333;
}

.buttonContainer {
  text-align: center;
}

.submitButton {
  background-color: #653e84;
  color: white;
  border: 2px solid #653e84;
  padding: 12px 25px;
  font-size: 1.1rem;
  margin-top: 20px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.submitButton:hover {
  background-color: transparent;
  color: #653e84;
  border: 2px solid #653e84;
}

.updateMessageError,
.updateMessageSuccess {
  position: fixed;
  top: 10px;
  left: 50%;
  z-index: 1000;
  transform: translateX(-50%);
  width: 90%;
  max-width: 800px;
  padding: 15px;
  border-radius: 6px;
  text-align: center;
  font-size: 1rem;
  animation: slideDown 0.5s ease, fadeOut 2s ease 2s forwards;
}
.updateMessageSuccess {
  background-color: #71914c;
  color: white;
  border: 1px solid #71914c;
}

.updateMessageError {
  background-color: #af1414;
  color: white;
  border: 1px solid #af1414;
}

.changePasswordTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #653e84;
  margin-bottom: 20px;
  margin-top: 50px;
  text-align: center;
  user-select: none;
}
@keyframes slideDown {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 10px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .userinfo_pr {
    font-size: 1.3rem;
  }

  .infoContainer {
    padding: 0 10px;
  }

  .pr_input {
    font-size: 0.9rem;
  }

  .submitButton {
    font-size: 1rem;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .userinfo_pr {
    font-size: 1.1rem;
  }

  .pr_input {
    font-size: 0.85rem;
  }

  .submitButton {
    font-size: 1rem;
    padding: 8px 18px;
  }
}

.passwordRules {
  margin-bottom: -1rem;
  font-size: 0.9rem;
  margin-top: -1rem;

  p {
    margin: 0 0 0.5rem;
    font-weight: bold;
  }

  ul {
    margin-top: -0.5rem;
    list-style-type: disc;

    p {
      margin-bottom: 0.3rem;
      color: #ff0000;
      font-size: 0.7rem;
    }
  }
}

.passwordStrengthContainer {
  display: flex;
  font-weight: bold;

  p {
    margin: -0.1rem 0 0.5rem;
    font-weight: bold;
  }
}

.passwordStrength {
  font-size: 0.9rem;
  margin-left: 0.5rem;

  &.weak {
    color: #dc3545; // Red for Weak
  }

  &.medium {
    color: #ffc107; // Yellow for Medium
  }

  &.strong {
    color: #28a745; // Green for Strong
  }
}

.passwordInputContainer {
  position: relative;
}

.togglePasswordButton {
  position: absolute;
  right: 0px;
  top: 1%;
  background: none;
  color: black;
  border: none !important;
  cursor: pointer;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}

:global(body.dark-mode) {
  .container {
    background-color: #161616;
    border: none;

    h2 {
      color: #8c62a9;
    }
    .userIDDisplay {
      color: #b4b4b4;
    }
    p {
      color: #ccc;
    }
    .pr_label {
      color: #ccc;
    }
    .submitButton {
      background-color: #8c62a9;

      &:hover {
        background-color: transparent;
        color: #8c62a9;
        border: 2px solid #8c62a9;
      }
    }
  }
  .passcontainer {
    background-color: #161616;
    border: none;
  }
  .userinfo_pr {
    color: #8c62a9;
  }
  .pr_label {
    color: #b4b4b4;
  }
  .changePasswordTitle {
    color: #8c62a9;
  }
  .updateMessageError,
  .updateMessageSuccess {
    color: white;
  }
  .pr_input {
    color: #b4b4b4;
    border: 1px solid #b4b4b4;
    background-color: #20202000;
  }
  .togglePasswordButton {
    color: #b4b4b4;
  }
  .submitButton {
    color: white;
    border: 2px solid #8c62a9;
    background-color: #8c62a9;

    &:hover {
      background-color: transparent;
      color: #8c62a9;
      border: 2px solid #8c62a9;
    }
  }

  .pr_labelcurrent {
    color: #8c62a9;
  }
}
