.container {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f100;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  font-family: Arial, sans-serif;
  line-height: 1.6;
  text-align: center;
}
.iqintro,
.termsandconditioniq {
  font-size: 25px;
  color: #653e84;
  margin-bottom: 16px;
}

.iqintroinfo {
  font-size: 16px;
  color: #555;
  margin-bottom: 12px;
  text-align: center;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 1.5;
    text-align: justify;

}
.iqtermsinfo {
  text-align: left;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
    text-align: justify;

}

.termsinfo {
  font-size: 16px;
  color: #555;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1.5;
    text-align: justify;

}
.termsnumiq {
  color: #849670;
}
.iqButton {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #653e84;
  background-color: #653e84;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.iqButton:hover {
  background-color: transparent;
  color: #653e84;
  border: 1px solid #653e84;
}

.checkboxContainer {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the container horizontally */

  label {
    color: #1a1a1a;
  }
}

.checkbox {
  display: flex; /* Ensure the checkbox itself uses flexbox */
  justify-content: center; /* Center the checkbox horizontally */
  align-items: center; /* Center the checkbox vertically */
}

.confirm {
  text-align: center;
}

@media screen and (max-width: 900px) {
  .container {
    width: 90%;
    padding: 15px;
  }

  .iqintro,
  .termsandconditioniq {
    font-size: 20px;
  }

  .iqintroinfo,
  .iqtermsinfo {
    font-size: 14px;
    width: 95%;
  }

  .iqButton {
    font-size: 14px;
    padding: 8px 16px;
  }

  .checkboxContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

:global(body.dark-mode) {
  .container {
    background-color: #15151519;
  }
  .iqintro,
  .termsandconditioniq {
    color: #8c62a9;
  }
  .iqintroinfo,
  .iqtermsinfo {
    color: #a9a9a9;
  }
  .termsnumiq {
    color: #a9a9a9;
  }
  .termsinfo {
    color: #a9a9a9;
  }
  .iqButton {
    background-color: #8c62a9;
  }
  .iqButton:hover {
    background-color: transparent;
    border: 1px solid #8c62a9;
    color: #8c62a9;
  }
  .confirm {
    color: #a9a9a9;
  }
  .checkboxContainer label {
    color: #a9a9a9;
  }
  .iqButton {
    background-color: #8c62a9;

    &:hover {
      background-color: transparent;
      border: 1px solid #8c62a9;
      color: #8c62a9;
    }
  }
}
