// editContent.module.scss

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .testTypeSelector {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  .saveGroup{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5px; /* Add some spacing if needed */
  }
  .savebutton {
    padding: 15px;
    width: 40%;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #2e70d3;
    border-radius: 5px;
    background-color: #2e70d3;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }
  
  .savebutton:hover {
    background-color: transparent;
    color: #2e70d3;
    border-color: #2e70d3;
  }
  
  .savebutton:focus {
    outline: none;
    border-color: #0056b3;
  }
  
  .savebutton.active {
    background-color: #0056b3;
    color: white;
    border-color: #004085;
  }
  .backbutton {
    padding: 15px 15px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #6e6e6e;
    border-radius: 5px;
    background-color: #6e6e6e;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  
    &:hover {
      background-color: transparent;
      color: #6e6e6e;
      border-color: #6e6e6e;
    }
  
    &:focus {
      outline: none;
      border-color: #0056b3;
    }
  
    &.active {
      background-color: #0056b3;
      color: white;
      border-color: #004085;
    }
  }
  
  .contentEditor {
    width: 100%;
    max-width: 800px;
    margin-top: 30px;
  }
  
  .header {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .contentItem {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .contentTitle {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #2e70d3;
    margin-bottom: 10px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input,
  .textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .textarea {
    resize: vertical;
    min-height: 300px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .button {
    width: auto;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    padding: 180px 120px;
    font-weight: bold;
    border: #1a1a1a 2px solid;  
    border-radius: 10px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    
    &:hover {
      background-color: #2e70d3;
      border: #1a1a1a 2px solid;  
      color: #ffffff;
      transform: scale(1.05);
    }
  }
  .firstheader {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
  }
  .loading,
  .error {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
  }
  
  .loading {
    color: #007bff;
  }
  
  .error {
    color: #dc3545;
  }
  
  :global(body.dark-mode){
    .firstheader {
      color: #b4b4b4;
    }
    .button{
      background-color: transparent;
      color: #ffffff;
      border: #b4b4b4 2px solid;
      &:hover {
        background-color: #2a61b4;
        color: #000000;
        border: #2e70d3 2px solid;
      }
    }
    .contentItem {
      background-color: #20202000;
      border: 1px solid #b4b4b4;
    }
    .contentTitle {
      color: #2e70d3;
    }
    .label {
      color: #b4b4b4;
    }
    .input,
    .textarea {
      color: #b4b4b4;
      border: 1px solid #b4b4b4;
      background-color: #20202000;
    }
    .header{
      color: #b4b4b4;
    }
  }