.linkIQliinks{
  display: flex;
  justify-content: space-around;
}
.table {
    background-color: rgb(255, 252, 252);
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    & th, & td {
        padding: 12px;
        text-align: left;
        border: 1px solid #ddd;
        color: #333;

        &:nth-child(even) {
            background-color: #f2f2f2;
            color: black;
        }
    }

    & th {
      background-color: rgb(245, 242, 242);
        color: black;
    }
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 10px 15px;
    margin: 0 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    font-size: 16px;
  }

  .choice img {
    width: 150px;  // Adjust the width as needed
    height: 130px; // Adjust the height to maintain aspect ratio or as needed
    margin: 20px; // Optional: add some spacing between the images
}
  
  .answer img {
    width: 170px;  // Adjust the width as needed
    height: 130px; // Adjust the height to maintain aspect ratio or as needed
    margin: 15px; // Optional: add some spacing between the images
}

.question img {
    width: 400px;  // Adjust the width as needed
    height: 350px; // Adjust the height to maintain aspect ratio or as needed
    margin: 15px; // Optional: add some spacing between the images
}

.testResultsLink {
  display:flex;
  width: 10%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #DC143C;;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;

    &:hover {
      background-color: transparent;
      color:black;
      border:1px solid #01458d;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.75);
    }
}
