@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.ResultContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  user-select: none;

  h1 {
    color: black;
  }
}

.ListResult {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.TestPF_res,
.iqLinkContainer_res {
  background-color: transparent;
  width: 400px;
  height: 200px;
  border-radius: 12px;
  border: #000000 2px solid;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;

  :hover {
    background-color: #653e84;
  }
}

:global(body.dark-mode) {
  .ResultContent h1 {
    color: #b4b4b4;
  }
  .TestPF_res,
  .iqLinkContainer_res {
    background: transparent;
    border: #b4b4b4 2px solid;

    :hover {
      cursor: pointer;
      color: #000000;
      background-color: #8c62a9;
    }
  }
  .pfLink_res,
  .iqLink_res {
    color: #b4b4b4;
  }
}
.pfLink_res,
.iqLink_res {
  color: black;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.pfLink_res:hover,
.iqLink_res:hover {
  color: #ffffff;
  transform: scale(1.05);
}

.pfLink_res span,
.iqLink_res span {
  position: relative;
  z-index: 1;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
