@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.ResultContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.ListResult {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.TestPF_res, .iqLinkContainer_res {
  background-color: #ffffff;
  width: 800px;
  height: 120px;
  border-radius: 12px;
  box-shadow: 0 6px 12px #E9E9E9;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #D2D2D2, #e9E9E9);
}

.TestPF_res:hover, .iqLinkContainer_res:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  cursor: pointer;
  background-color: #e6e6e6;
}

.pfLink_res, .iqLink_res {
  color: #1c1c1c;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
}

.pfLink_res:hover, .iqLink_res:hover {
  color: #d7a52f;
  transition: color 0.3s ease;
}

.pfLink_res span, .iqLink_res span {
  position: relative;
  z-index: 1;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
