.chartContainer {
  width: 50%; 
  margin: 0 auto;
}
.resultsTableIQ {
    border-collapse: collapse; 
    font-size: 15px;
    background-color: rgba(255, 252, 252, 0);
    width: 100%;
  }
  

  .resultsTableIQ th {
    color: #333;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    border-bottom: 1px solid #0e0e0e;
  }
  

  .resultsTableIQ td {
    text-align: center; /* Center-aligns text horizontally */
    vertical-align: middle; /* Center-aligns text vertically */
    padding: 5px;
    font-size: 13px;
    border-bottom: 1px solid #9e979791; 
    color: #333;

  }
  

  .eachResultIQ:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    transform: translateY(-1px); 
    cursor: pointer;
    background-color: rgb(245, 244, 244);
    border: 1px solid #9e979791; 
  }


.selected-choice-img {
  width: 60px;  
  height: 50px; 
  margin: 0 auto; 
}

.restoreButtonIQLIST{
  background-color: #268d26;
  padding: 9px;
  border: #268d26 1px solid;
  color: #fafafa;
  border-radius: 5px;
}
.restoreButtonIQLIST:hover{
    background-color: transparent;
    border: #268d26 1px solid;
    color: #268d26;
}

.deleteButtonIQLIST{
  background-color: #a52c23;
  padding: 9px;
  border: #a52c23 1px solid;
  color: #fafafa;
  border-radius: 5px;
}
.deleteButtonIQLIST:hover{
  background-color: transparent;
  border: #a52c23 1px solid;
  color: #a52c23;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 15px;
  margin: 0 10px;
  background-color: #5a5a5a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
}


.responsesWrapper {
  max-height: 250px;  // Adjust the height as per your design needs
  overflow-y: auto;   // Enable vertical scrolling when content overflows
  margin-top: 10px;   // Optional, for some space between elements
}

.responsesTable {
  width: 100%;
  border-collapse: collapse;
}

.responsesTable th, .responsesTable td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.floatingContainer {
  position: fixed;  /* Positions it fixed relative to the viewport */
  top: 50%;  /* You can adjust the positioning */
  left: 50%;
  transform: translate(-50%, -50%);  /* Centers the container */
  background-color: rgb(255, 255, 255);  /* Optional: semi-transparent background */
  border: 1px solid #333;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;  /* Ensures it appears on top of other content */
  height: 70%;
  width: 60%;  /* Adjust as needed */
  overflow: auto;  /* Allows scrolling if content exceeds height */
}

.floatingContainer .resultsTableIQ {
  width: 100%;  /* Ensure the table takes full width */
}

.resultCount {
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: .5rem;
  color: #333;
}
:global(body.dark-mode){
  .floatingContainer {
    background-color: #181818;
    color: #dad8d8;
    border: 1px solid #dad8d8;
  }
  .resultCount {
    color: #dad8d8;
  }
  .searchInput {
    background-color: #333;
    color: #dad8d8;
  } 
  .resultsTableIQ th {
    color: #dad8d8;
    border-bottom: 1px solid #7a7a7a;
  }
  .resultsTableIQ td {
    color: #dad8d8;
    border-bottom: 1px solid #7a7a7a;
  }
  .eachResultIQ:hover {
    background-color: #222222f8;
    border: 1px solid #7a7a7a;
  }
}
