.surveyResponseContainer {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    border-radius: 8px;
    width: 80%;
    margin-top: 30px;
    margin-left: 10%;

  }
  
  h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #653e84;
  }
  
  .error {
    color: red;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .responsesTable {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 5%;
  }
  
  .responsesTable th{
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
  }
.responsesTable td {
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  .responsesTable th {
    background-color: #f0eded;
    color: #3b3b3b;
    font-weight: bold;
    
  }
  
  .responsesTable tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .responsesTable tr:hover {
    background-color: #f1f1f1;
  }
  
  .responsesTable ul {
    padding-left: 0;
    margin: 0;  
    list-style-type: none;
  }
  
  .responsesTable li {
    margin-bottom: 0;
    padding: 0;
  }
  
  .responsesTable li strong {
    font-weight: bold;
  }
  
  :global(body.dark-mode) {
    h2{
      color: #704191  ;
    }
    .responsesTable th {
      background-color: #8a8a8a;
      color: #fff;
    }
    .responsesTable tr:nth-child(even) {
      background-color: #f9f9f9;
      color: black;
    }
    .responsesTable tr:nth-child(odd) {
      background-color: #f9f9f9;
      color: black;
    }
    
    .surveyResponseContainer {
      background-color: #302f30;
    }
    
  }