.surveyResponseContainer {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    width: 80%;
    margin-left: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: grey;
  }
  
  .error {
    color: red;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .responsesTable {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 10%;
  }
  
  .responsesTable th, .responsesTable td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .responsesTable th {
    background-color: #b072e2;
    color: #fff;
    font-weight: bold;
  }
  
  .responsesTable tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .responsesTable tr:hover {
    background-color: #f1f1f1;
  }
  
  .responsesTable ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .responsesTable li {
    margin-bottom: 8px;
  }
  
  .responsesTable li strong {
    font-weight: bold;
  }
  
  :global(body.dark-mode) {
    h2{
      color: #b072e2;
    }
    .responsesTable th {
      background-color: #8a8a8a;
      color: #fff;
    }
    .responsesTable tr:nth-child(even) {
      background-color: #f9f9f9;
      color: black;
    }
    .responsesTable tr:nth-child(odd) {
      background-color: #f9f9f9;
      color: black;
    }
    
    .surveyResponseContainer {
      background-color: #302f30;
    }
    
  }