// Container for the entire survey details page
.surveyDetailsContainer {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f200;
    border-radius: 8px;
  }
  
  // Title of the survey
  .surveyDetailsContainer h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #653E84;
    margin-bottom: 10px;
  }
  
  // Description of the survey
  .surveyDetailsContainer p {
    font-size: 1.2rem;
    color: #000000;
    margin-bottom: 20px;
  }
  
  // Section for each survey part (group of questions)
  .section {
    margin-bottom: 30px;
  }
  
  // Section title
  .section h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
  }
  
  // Question container
  .question {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
      transform: translateY(-1px); 
      transition: background-color 0.3s, transform 0.2s;
    }
  }

  
  
  // Question text style
  .question p {
    font-size: 1.1rem;
    color: #000000;
    margin-bottom: 10px;
  }
  
  // Radio button styling for choices
  .question label {
    display: block;
    font-size: 1rem;
    color: #000000;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .question input[type="radio"] {
    margin-right: 8px;
    transform: scale(1.2);
  }
  
  // Submit button styling
  .submitButton {
    display: inline-block;
    padding: 12px 20px;
    background-color: #653E84 ;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    margin-left: 40%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: transparent;
      color: #653E84;
      border: 1px solid #653E84 ;
    }
  
    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
  
  // Adjust for mobile responsiveness
  @media (max-width: 768px) {
    .surveyDetailsContainer {
      padding: 15px;
    }
  
    .surveyDetailsContainer h2 {
      font-size: 1.5rem;
    }
  
    .section h4 {
      font-size: 1.3rem;
    }
  
    .question p {
      font-size: 1rem;
    }
  
    .submitButton {
      width: 100%;
    }
  }
  
  :global(body.dark-mode){
    .surveyDetailsContainer {
      background-color: #15151500;

      h2{
        color: #8C62A9;
      }

      p{
        color: #ffffff;
      }
    }
    .question {
      background-color: #151515;
      border: none;

      label{
        color: #f1f1f1;
      }
    }
    .submitButton {
      background-color: #8C62A9;
      
      &:hover {
        background-color: transparent;
        color: #8C62A9;
        border: 1px solid #8C62A9 ;
      }
    
      &:disabled {
        background-color: #8C62A9;
        cursor: not-allowed;
      }
  }
}