@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Define color variables */
$bg-light: #ffffff; 
$font-dark: #000000; 
$link-hover: #f592e0; 

$accent-light: #b072e2; 
$accent-dark: #b072e2; 
$secondary-bg: #dbe2e7; 
$button-bg: #e9e9e9; 
$button-hover: #d2d2d2; 

/* Navbar Styles */
.studentNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif; 
  flex-direction: column;
  margin-left: 1%;
  width: 100%;
}

/* Logo Section */
.logoSection {
  color: #2e70d3;
  display: flex;
  margin-right: 40px;
  padding-top: 5px;
  flex-direction: column;
  align-items: center;
}

.logoSection h1 {
  font-size: 24px;
  margin: 0;
  color: #704191;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
}

.logoSection p {
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;
  color: #7a7a7a; 
  font-weight: bold;
}

/* Navigation Section */
.navigationSection {
  display: flex;
  align-items: center;
}

.navList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-right: 50px;
}

.navItem {
  margin-left: 25px;
  border-radius: 0;
}

.navItem:hover {
  border-bottom: 1px solid #704191; 
}

/* Navigation Links */
.navLink {
  color: $font-dark;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700; 
  transition: color 0.3s ease; 

  &:hover {
    color: rgb(94, 93, 93); 
  }
}

.navLink.active {
  color: #704191; 
  font-weight: bold;
  border-bottom: 2px solid #704191; 
}
:global(body.dark-mode){
  .logoSection h1 {
    color: #754a94 ;
    text-shadow: 1px 1px 2px #ffffff50;
  }
  .logoSection p {
    color: #7a7a7a; 
  }
  .navItem{
    color: #849670;
  }
  .navLink.active {
    color: #754a94; 
    font-weight: bold;
    border-bottom: 2px solid #754a94; 
  }
}
