@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$user-background-color: #f5f5f8;
$font-color: #45474B;

.navbar {
  background-color: $user-background-color;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif; /* Apply Poppins font */
}

.logo {
  color: $font-color;
}

.logo h1 {
  font-size: 24px;
  margin: 0;
}

.logo p {
  font-size: 14px;
  color: #777; /* Lighter color for the tagline */
  margin: 5px 0 0;
}

.navbar_st {
  display: flex;
}

.navbar_UL_st {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.navbar_LI_st {
  margin-left: 30px;
}

.navlink_st {
  color: $font-color;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700; /* Bold for better visibility */
  transition: color 0.3s ease;

  &:hover {
    color: #007BFF; /* Hover color for links */
  }
}
