.barContainerPF{
    width: 50%; 
    margin: 0 auto;
  }
  .resultsTable {
      border-collapse: collapse; 
      font-size: 15px;
      background-color: rgb(255, 252, 252);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.064); 
      border: 1px solid #9e979791; 
      width: 100%;
      height: 100%;
    }
  
    .resultsTable th {
      color: #333;
      padding: 10px;
      text-align: center;
      font-size: 13px;
      background-color: rgb(245, 242, 242);
      border-bottom: 1px solid #9e979791; 
    }
    
  
    .resultsTable td {
      text-align: center; /* Center-aligns text horizontally */
    vertical-align: middle; /* Center-aligns text vertically */
      padding: 5px;
      font-size: 13px;
      border-bottom: 1px solid #9e979791; 
      color:#333;
    }
    
  
    .eachResultPF:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
      transform: translateY(-1px); 
      cursor: pointer;
      background-color: rgb(245, 244, 244);
      border: 1px solid #9e979791; 
    }
    .deleteButtonIQLIST{
      width: 70px;
      margin: 10px;
      background-color: #b62e2e;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
    }
  
    .deleteButtonIQLIST:hover{
      background-color: #B94d4dce;
    }

    .updateButtonIQLIST{
      width: 70px;
      
      margin: 10px;
      background-color: #585858d3;
      ;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
    }
  
    .updateButtonIQLIST:hover{
      background-color: #585858a6;
    }

    .saveButtonIQLIST{
      width: 70px;
      margin: 10px;
      background-color: #849670;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
    }
  
    .saveButtonIQLIST:hover{
      background-color: #95a581;
    }
  
    .leftMeaning {
      color: rgb(218, 185, 0);
      font-weight: bold;
      font-size: 13px;
  }
  
  .rightMeaning {
      color: green;
      font-weight: bold;
      font-size: 13px;
  }
  
  .average {
      color: gray;
      font-style: italic;
      font-size: 13px;
  }
  
  
  
    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
    
    .pagination button {
      padding: 10px 15px;
      margin: 0 10px;
      background-color: #5a5a5a;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .pagination button:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
    
    .pagination span {
      font-size: 16px;
    }
    
    .responsesWrapper {
      max-height: 250px;  // Adjust the height as per your design needs
      overflow-y: auto;   // Enable vertical scrolling when content overflows
      margin-top: 10px;   // Optional, for some space between elements
    }
    
    .responsesTable {
      width: 100%;
      border-collapse: collapse;
    }
    
    .responsesTable th, .responsesTable td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: left;
    }

    .deleteButtonIQLIST{
      background-color: #b62e2e;
      padding: 8px;
    }
    .deleteButtonIQLIST:hover{
      background-color: #B94d4dce;
    }

    .modal {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .modalContent {
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      width: 80%;
      max-width: 600px;
      
      
    }
    
    .graphButton {
      margin: 10px;
      background-color: #000000;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
    }
    
    button:hover {
      background-color: #efb836 ;
    }
    
    .resultCount {
      text-align: right;
      font-size: 1.2rem;
      margin-bottom: .5rem;
      margin-top: -1.5rem;
      color: #333;
    }
    

    .viewImageButton {
      width: 130px;
      margin: 10px;
      background-color: #bbae3c;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
    
    }
    
    .viewImageButton:hover{
      background-color: #948929;
    }
    
    .modalImageView {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }
    
    .modalContentImage {
      position: relative;
      background: white;
      padding: 20px;
      border-radius: 5px;
    }
    
    .modalImage {
      max-width: 100%;
      max-height: 80vh;
    }
    
    .closeButtonImage {
      position: absolute;
      top: 10px;
      right: 10px;
      background: red;
      color: white;
      border: none;
      padding: 5px;
      cursor: pointer;
    }
    