.themeToggleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.themeButton {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.themeButton.light {
  background-color: #ffffff; 
  color: #000000; 
  border-color: #cccccc;
}

.themeButton.dark {
  background-color: #424040; 
  color: #ffffff;
  border-color: #333333;
}

.themeButton.active {
  border-color: #5a5a5a; 
  box-shadow: 0 0 5px #5a5a5a; 
}

.themeButton:hover {
  opacity: 0.8;
}
