.darkModeButton {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    font-size: 30px;
}

.darkModeButton:hover {
    background-color: rgba(255, 255, 255, 0);
    opacity: 0.5;
    border: none;

}

:global {
    body.dark-mode {
      background-color: #121212 ; /* Dark background */
      color: #ffffff ; /* Light font color for dark mode */
      transition: background-color 0.5s ease, color 0.5s ease; 

    }
  
    body {
      background-color: #ffffff; /* Light background */
      color: #000000; /* Dark font color for light mode */
      transition: background-color 0.5s ease, color 0.5s ease; 
    }
  }
  :global {
    body.dark-mode {
      p {
        color: #ffffff;
      }
      h1 {
        color: #f592e0;
      }
      a, h2 {
        color: #ffffff;
      }
      .navItem:hover {
        border-bottom: 1px solid #0f9af7; 
      }
      
    }
  }
  

  