.linkCFliinks{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.table {
    background-color: rgb(255, 252, 252);
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.329);

    & th, & td {
        padding: 12px;
        text-align: left;
        color: #333;

        &:nth-child(even) {
            background-color: #f2f2f200;
            color: black;
        }
    }

    & th {
      background-color: #afadad00;
      border-bottom: #222222 1px solid;
      color: #222222;
        &:nth-child(even) {
          background-color: #afadad00;
          color: #222222;
      }
    }
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 10px 15px;
    margin: 0 10px;
    background-color: #815aa5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    font-size: 16px;
  }
  .choice {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Two columns for two rows
    gap: 10px; // Add some spacing between items
}

.editButton{
  background-color: #A9A9A9;
  color: white;
  border: #a9a9a9 1px solid;  
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: transparent;
    border: #a9a9a9 1px solid;  
    color: #A9A9A9;
  }
}

.saveChanges{
  padding: 10px 18px;
  background-color: #815aa5;
  color: #fafafa;
  font-size: 14px;
  border-radius: 5px;
  border:1px solid #815aa5;
  transition: background-color 0.3s ease;

  &:hover {
      background-color: transparent;
      color: #815aa5;
      border:1px solid #815aa5;
  }
}
.cancelChanges{
  padding: 10px 18px;
  background-color: #815aa5;
  color: #fafafa;
  font-size: 14px;
  border-radius: 5px;
  border:1px solid #815aa5;
  transition: background-color 0.3s ease;

  &:hover {
      background-color: transparent;
      color: #815aa5;
      border:1px solid #815aa5;
  }
}

.test1 {
  background-color: #fdfdfd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.329);

  & .question img{
    width: 400px;
    height: 100px;
  }
  
  & .choice img{
    width: 100px;
    height: 100px;
  }

  & .answer img{
    width: 100px;
    height: 100px;
  }
}

.test2 {
  background-color: #fdfdfd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.329);

  & .question img{
    width: 600px;
    height: 100px;
  }
  
  & .choice img{
    width: 100px;
    height: 100px;
  }

  & .answer img{
    width: 100px;
    height: 100px;
  }
}

.test3 {
  background-color: #fdfdfd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.329);

  & .question img{
    width: 250px;
    height: 200px;
  }
  
  & .choice img{
    width: 100px;
    height: 100px;
  }

  & .answer img{
    width: 100px;
    height: 100px;
  }
}

.test4 {
  background-color: #fdfdfd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.329);

  & .question img{
    width: 200px;
    height: 200px;
  }
  
  & .choice img{
    width: 100px;
    height: 100px;
  }

  & .answer img{
    width: 100px;
    height: 100px;
  }
}

.default {
  background-color: #fdfdfd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.329);
}

.testResultsLink {
  display:flex;
  width: 10%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #A9A9A9;
  color: #fafafa;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  border:1px solid #A9A9A9;
  transition: background-color 0.3s ease;

    &:hover {
      background-color: transparent;
      color: #A9A9A9;
      border:1px solid #A9A9A9;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(219, 219, 219, 0.75);
    }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); // Semi-transparent background
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 10px;
}

.modalContent {
  background-color: white;
  width: 90%;
  max-width: 700px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden; // Ensure content doesn't overflow
  scroll-behavior: smooth; /* Smooth scrolling to prevent abrupt jumps */

  // Adding scroll when content is too tall
  max-height: 90vh;
  overflow-y: auto;
}

.modalBody {
  max-height: 500px; // Limit the body height for scrolling
  scroll-behavior: smooth; /* Keeps scrolling smooth during height changes */
  overflow-y: auto; // Enable scrolling in the body when content is too long
}


.questionContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    max-width: 500px; 
    margin: 10px auto;
}
.questionImageModal {
  max-width: 500px;  // Limit the size of images for better display in the modal
  height: auto;
  margin-bottom: 10px;
  display: block;
}


.choiceContainer,
.answerContainer {
    display: grid;
    max-width: 500px; 
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr); // Two columns for two rows
    gap: 10px; // Add spacing between items
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    
}

.choiceImageContainer,
.answerImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.choiceImageModal,
.answerImageModal {
    max-width: 100px; // Adjust size as needed
    height: auto;
    
}
h3, h2 {
  text-align: center; /* Centers the text inside the h3 element */
  margin: 0 auto; /* Ensures it's horizontally centered */
  margin-bottom: 10px;
  width: 100%; /* Optional: Ensures it spans the full width */
}

.customFileInput {
    margin-top: 5px; 
    margin-left: 50px;
}


.modalFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.customFileInput {
  display: flex;
  flex-direction: row;
}
.customFileLabel {
  display: inline-block;
  padding: 10px 20px;
  background-color: #A9A9A9 ;
  color: white;
  border-radius: 5px;
  border: 1px solid #A9A9A9;
  cursor: pointer;
  font-size: 14px;
  
  &:hover {
      background-color: transparent;
      color: #A9A9A9;
      border: 1px solid #A9A9A9;
  }
}

.fileName{
  padding: 10px 20px;
  
}


:global(body.dark-mode){
  .table{
      & th {
          background-color: #acacac;
          color: #272727;
          border: #222222;
          
          &:nth-child(even) {
              background-color: #acacac;
              color: #222222;
          }
      }
  }
  .testResultsLink {
      background-color: #815aa5;
      color: #e6e6e6;
      &:hover {
          background-color: transparent;
          color: #e6e6e6;
          border:1px solid #815aa5;
      }
  }
}
