.dashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .resultSection {
    margin: 20px 0;
    width: 100%;
    max-width: 1200px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #d7a52f;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #d7a52f;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  :global(body.dark-mode){
    .resultSection{
      background-color: #2a3744ef;

      h1 {
        color: #849670;
      }
      h2{
        color: #849670;
      }
    }
    
  }