@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.studentNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid #7a7a7a;
  padding: 0 10px;
  width: 100%;
}


.logoSection {
  color: #2e70d3;
  display: flex;
  flex-direction: column;

 h1 {
    font-size: 24px;
      margin: 0;
      color: #653E84;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  p {
    font-size: 15px;
    color: #7a7a7a;
    font-weight: bold; 
    text-align: center;
  }
}


/* Navigation Section */
.navigationSection {
  flex-grow: 1;
  display: flex;
  justify-content: center;

  .navList {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

    .navItem {
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center; 
      text-align: center;
      margin: 0px 15px; 
      position: relative; 
      
      .navIcon {
        width: 24px;
        height: 24px;
        position: absolute;
        top: -35%; 
        color: red;
      }

      .navLink {
        color: #7a7a7a;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        display: flex;
        flex-direction: column; 
        align-items: center;

        &:hover {
          color: rgb(94, 93, 93);
        }

        &.active {
          color: #653e84;
          border-bottom: none; 
        }
      }
    }
  }
}

/* Account Section */
.navRight {
  display: flex;

  .dropdown {
    position: relative;

    .dropdownToggle {
      background: none;
      border: none;
      cursor: pointer;

      .accountImage {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      .arrowIcon {
        margin-left: 5px;
        font-size: 16px;
        color: #7a7a7a;
      }
    }

    .dropdownMenu {
      position: absolute;
      top: 100%;
      right: 0;
      background: #ffffff;
      box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      list-style: none;
      padding: 0;
      z-index: 10;
      min-width: 150px;

      .dropdownLink {
        padding: 10px 20px;
        text-decoration: none;
        color: #353535;

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
}

/* Dark Mode Adjustments */
:global(body.dark-mode) {
  .studentNavbar {
    color: #000000;
    border-bottom: 1px solid #7a7a7a;
  }

  .logoSection {
    h1 {
      color: #8C62A9;
    }

    p {
      color: #A9A9A9;
    }
  }

  .navigationSection {
    .navList {
      .navItem {
        .navLink {
          color: #A9A9A9;

          &:hover {
            color: rgb(94, 93, 93);
          }

          &.active {
            color: #8C62A9;
          }
        }
      }
    }
  }

  .navRight {
    .dropdown {
      .dropdownToggle {
        .arrowIcon {
          color: #7a7a7a;
        }
      }

      .dropdownMenu {
        background: #ffffff;

        .dropdownLink {
          color: #353535;

          &:hover {
            background-color: #f0f0f0;
          }
        }
      }
    }
  }
}
