@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


$bg-light: #ffffff; 
$font-dark: #000000; 
$link-hover: #2a3744; 

$accent-light: #334553; 
$accent-dark: #d7a52f; 
$secondary-bg: #dbe2e7; 
$button-bg: #e9e9e9; 
$button-hover: #d2d2d2; 

.studentNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif; 
  flex-direction: column;
  margin-left: 1%;
  width: 100%;
}


.logoSection {
  color: $font-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoSection h1 {
  padding-top: 10px;
  font-size: 24px;
  margin: 0;
  margin-right: 40px;
  color: #9152be;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.541);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
}

.logoSection p {
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;
  margin-right: 40px;
  font-weight: bold;
  color: #7a7a7a; 
}


.navigationSection {
  display: flex;
  align-items: center;
}

.navList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-right: 40px;
}

.navItem {
  border-radius: 0;
  margin: 0 20px;
}

.navItem:hover {
  border-bottom: 1px solid #9152be; 
}


.navLink {
  color: $font-dark;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700; 
  transition: color 0.3s ease; 

  &:hover {
    color: rgb(94, 93, 93); 
  }
}

.navLink.active {
  color: #9152be; 
  font-weight: bold;
  border-bottom: 2px solid #704191; 
}

:global(body.dark-mode) {
   .logoSection h1 {
    color: #754a94 ;
    text-shadow: 1px 1px 2px #ffffff50;
  }
  .logoSection p {
    color: #7a7a7a; 
  }
  .navItem{
    color: #849670;
  }
  .navLink.active {
    color: #754a94; 
    font-weight: bold;
    border-bottom: 2px solid #754a94; 
  }
}