@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Define color variables */
$bg-light: #faf9f6; /* Light background color */
$font-dark: #000000; /* Dark font color */
$link-hover: #e2dfd2; /* Link hover color */

$accent-light: #f2a9a9; /* Light pink for accents */
$accent-dark: #7b3f3f; /* Darker maroon for contrast */
$secondary-bg: #dbe2e7; /* Light blue-gray background for contrast */
$button-bg: #6c757d; /* Muted gray button background */
$button-hover: #495057; /* Button hover color */

/* Navbar Styles */
.studentNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif; /* Apply Poppins font */
  flex-direction: column;
  margin-top: 0.1%;
  margin-left: 1%;
  width: 100%; /* Set width to 100% of the container */
  height: 100%; /* Set a specific height for the navbar */
  background-color: $bg-light; /* Background color */
}

/* Logo Section */
.logoSection {
  color: $font-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoSection h1 {
  font-size: 24px;
  margin: 0;
}

.logoSection p {
  font-size: 14px;
  color: #777; /* Light gray for the description */
}

/* Navigation Section */
.navigationSection {
  display: flex;
  align-items: center;
}

.navList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navItem {
  margin-left: 30px;
  border-radius: 0;
}

.navItem:hover {
  border-bottom: 1px solid #777; /* Border on hover for nav items */
}

/* Navigation Links */
.navLink {
  color: $font-dark;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700; /* Bold font for better visibility */
  transition: color 0.3s ease; /* Smooth transition for hover effect */

  &:hover {
    color: $link-hover; /* Change color on hover */
  }
}
