.navbar {
  width: calc(100% - 250px);  /* Adjust width to take full screen minus the sidebar */
  background-color: black;  /* Set navbar background to white */
  color: #333;  /* Dark text for contrast */
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 250px;  /* Offset to the right to avoid collision with the sidebar */
  display: flex;
  justify-content: center;  /* Centers the navbar links */
  align-items: center;
  z-index: 100;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;  /* Space buttons evenly across the navbar */
    width: 100%;
    
    li {
      margin: 0;
      
      .navlink {
        color: #333;  /* Dark text color */
        text-decoration: none;
        font-size: 16px;
        padding: 12px 20px;
        border-radius: 5px;  /* Slight rounded corners for each button */
        transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
        
        &:hover {
          background-color: #f0f0f0;  /* Light gray background on hover */
          color: #007bff;  /* Change text color on hover */
        }
      }
    }
  }
}
