@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.studentNavbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid #7a7a7a;
  padding: 10px 0;
  width: 100%;
}

.logoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #2e70d3;

  h1 {
    font-size: 24px;
    margin: 0;
    color: #653E84;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  p {
    font-size: 15px;
    color: #7a7a7a;
    font-weight: bold; 
    text-align: center;
  }
}

.burgerMenu {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.3s ease-in-out;
}

.burgerMenu:hover {
  transform: scale(1.1);
}

/* Navigation Section */
.navigationSection {
  flex-grow: 1;
  display: flex;
  justify-content: center;

  .navList {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

    .navItem {
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center; 
      text-align: center;
      margin: 0px 15px; 
      position: relative; 
      transition: transform 0.3s ease-in-out;
      
      .navIcon {
        width: 24px;
        height: 24px;
        position: absolute;
        top: -35%; 
        color: red;
      }

      .navLink {
        color: #7a7a7a;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        display: flex;
        flex-direction: column; 
        align-items: center;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: #653e84;
          font-weight: 900;
        }

        &.active {
          color: #653e84;
          font-weight: 900;
          border-bottom: none; 
        }
      }
    }
  }
}

/* Account Section */
.navRight {
  display: flex;

  .dropdown {
    position: relative;

    .dropdownToggle {
      background: none;
      border: none;
      cursor: pointer;

      .accountImage {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      .arrowIcon {
        margin-left: 5px;
        font-size: 16px;
        color: #7a7a7a;
      }
    }

    .dropdownMenu {
      position: absolute;
      top: 70%;
      right: 0;
      background: #ffffff;
      box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      list-style: none;
      padding: 0;
      z-index: 10;
      min-width: 150px;
      transition: opacity 0.3s ease-in-out;
      opacity: 0;
      visibility: hidden;
    }

    &:hover .dropdownMenu {
      opacity: 1;
      visibility: visible;
    }
    .dropdownLink{
      text-decoration: none;
      
    }
  }
}

/* Mobile Menu */
.mobileMenu {
  display: none;
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2px 0;
  z-index: 20;
}

.mobileMenu .navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobileMenu .navItem a{
  color: black;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: color 0.3s ease-in-out;

  &:hover{
    color: #653e84;
    font-weight: 900;
  }
  &.active {
    color: #653e84;
    font-weight: 900;
    border-bottom: none; 
  }
}

.mobileMenu .dropdownMenu{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdownLinkSettings{
  color: black;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  
  &:hover {
    color: #653e84;
    font-weight: 900;
  }

  &.active {
    color: #653e84;
    font-weight: 900;
    border-bottom: none; 
  }
}

@media (max-width: 768px) {
  .burgerMenu {
    display: block;
  }

  .navigationSection {
    display: none;
  }

  .mobileMenu {
    display: block;
  }
}
