$font-family: Arial, sans-serif;
$primary-color: #af1740;
$secondary-color: #f2f2f2;
$bg-light: #e9e9e900;
$box-shadow: 0 6px 12px $bg-light; // Adjusted box-shadow color to use $bg-light
$border-radius: 10px;
$table-header-bg: $bg-light; // Used $bg-light for consistency
$table-border-color: #d2d2d2;

:root {
  font-family: $font-family;
}

.surveyListContainer {
  padding: 20px;
  background-color: $bg-light;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 9%;
}

.surveyAvailable {
  font-weight: bold;
  color: #030303;
  margin-top: -10px;
}
.linkSurveyChoices {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.createsurveyButton {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  border: 2px solid #6e6e6e;
  padding: 10px 18px;
  background-color: #6e6e6e;
  margin-left: 10px;
  border-radius: 8px;
  margin-bottom: 10px;

  &:hover {
    background-color: transparent;
    color: #6e6e6e;
    border: 2px solid #6e6e6e;
  }
}

.viewDetailsButton {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  display: inline-block;
  padding: 8px 16px;
  margin-left: 50px;
  margin-right: 20px;
  border: 1px solid #653e84;
  border-radius: 5px;
  background-color: #653e84;
  text-align: center;

  &:hover {
    background-color: transparent;
    border: 1px solid #653e84;
    color: #653e84;
  }
}
.surveyActions button {
  background-color: #6e6e6e;
  padding: 8px 16px;
  margin-left: 30px;
  border: 1px solid #6e6e6e;

  &:hover {
    background-color: transparent;
    border: 1px solid #6e6e6e;
    color: #6e6e6e;
  }
}
.surveyCard {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
    transition: background-color 0.3s, transform 0.2s;
  }
  p {
    width: 80%;
  }
}

h2,
h3,
p {
  &.title {
    font-weight: bold;
    color: $secondary-color;
  }

  &.highlight {
    color: $primary-color;
  }
}

.surveytitle {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #000000;
}

.linkContainer {
  display: flex;
  justify-content: space-between; /* Space between title and button */
  align-items: center; /* Vertically align items */
  width: 100%; /* Ensure the container takes up the full width */
}

.surveyLink {
  cursor: pointer;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-align: center;

  &:hover {
    color: #0056b3;
  }

  &:active {
    color: #004085;
  }
}

.copyLinkText {
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  color: #020202;
  font-weight: bold;
  border: 1px solid #020202;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    background-color: #6e6e6e;
    color: #ffffff;
    border: 2px solid #6e6e6e;
  }
}

.surveyCount {
  font-size: 1rem;
  color: #653E84;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: 30px;
  margin-left: 10px;
}

.sectionContainer {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  width: 80%;

  h4 {
    font-weight: bold;
    color: #000;
  }
}

.questionList {
  list-style: none;
  padding-left: 0;

  .questionItem {
    margin-bottom: 10px;

    strong {
      color: rgb(33, 199, 3);
    }
  }
}

.choiceList {
  list-style: none;
  padding-left: 20px;

  .choiceItem {
    font-size: 1rem;
    color: #444;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;

  button {
    background-color: #754a94;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: transparent;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}

.filterContainer {
  position: relative;
  align-self: flex-start;
  left: 7%;
  font-weight: bold;
}

// New styles for the participant filters table
.filters {
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid $table-border-color;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);

  h4 {
    font-size: 1.2rem;
    color: #2a3744;
    margin-bottom: 10px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    text-align: left;

    th,
    td {
      padding: 12px 15px;
      border: 1px solid $table-border-color;
      font-size: 1rem;
    }

    th {
      background-color: transparent;
      color: #000000;
    }

    td {
      background-color: #fff;
      color: #555;
    }

    tr:nth-child(even) td {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #e9f5ff;
    }
  }
}

:global(body.dark-mode) {
  .createsurveyButton {
    background-color: #6e6e6e;

    &:hover {
      background-color: transparent;
      border: 1px solid #6e6e6e;
      color: #6e6e6e;
    }
  }
  .surveyListContainer {
    background-color: #15151519;
    box-shadow: none;
  }
  .surveyCard {
    background-color: #1a1919;
    color: #a9a9a9;
    box-shadow: none;
  }
  .surveytitle {
    color: #a9a9a9;
  }
  .filterContainer label {
    color: #f8f1f1;
  }
  .surveyCount {
    color: #acacac;
  }
  .filters {
    background-color: #212121;
    border: none;
  }
  .filters h4 {
    color: #a9a9a9;
  }
  .filterContainer label {
    color: #a9a9a9;
  }
  .filters th {
    background-color: #212121;
    color: white;
    border: #1a1919 1px solid;
  }
  .filters td {
    background-color: #1a1919;
    color: #a9a9a9;
    border: #1a1919 1px solid;
  }
  .filters tr:nth-child(even) td {
    background-color: #212121;
  }

  .viewDetailsButton {
    background-color: #8a8a8a;
    &:hover {
      background-color: transparent;
      border: 1px solid #8a8a8a;
      color: #8a8a8a;
    }
  }
  .copyLinkText {
    background-color: transparent;
    color: #a9a9a9;
    border: #a9a9a9 2px solid;

    &:hover {
      background-color: #6e6e6e;
      color: #f0f0f0;
      border: #6e6e6e 2px solid;
    }
  }
  .viewDetailsButton {
    background-color: #8c62a9;
    &:hover {
      background-color: transparent;
      border: 1px solid #8c62a9;
      color: #8c62a9;
    }
  }
}

@media (max-width: 768px) {
  .surveyCard {
    width: 100%;
  }
  .viewDetailsButton {
    margin-left: 20px;
    margin-top: 10px;
  }
  .surveyActions button {
    margin-left: 5px;
    margin-top: 10px;
  }
}
