
.resultsTableIQ {
    border-collapse: collapse; 
    font-size: 15px;
    background-color: rgb(255, 252, 252);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.064); 
    border: 1px solid #9e979791; 
  }
  

  .resultsTableIQ th {
    color: #333;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    background-color: rgb(245, 242, 242);
    border-bottom: 1px solid #9e979791; 
  }
  

  .resultsTableIQ td {
    padding: 5px;
    font-size: 13px;
    border-bottom: 1px solid #9e979791; 
  }
  

  .eachResultIQ:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    transform: translateY(-5px); 
    cursor: pointer;
    background-color: rgb(245, 244, 244);
    border: 1px solid #9e979791; 
  }
  
  