// OMRCamera.module.scss

.mainContainer {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  flex-wrap: nowrap; /* Prevent wrapping on large screens */
  width: 100%; /* Ensure it takes full width */
  gap: 10px; /* Adjust the gap between the containers */
  align-items: flex-start; /* Align items to the top, so they don't stretch */
}

.omrCameraContainer {
  background-color: #dad8da;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 35%; /* Ensure it takes up about half of the screen */
  text-align: center;


  h2 {
    color: #2A3744;
    margin-bottom: 20px;
    font-size: 28px;
  }
}

.instructionContainer {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #dad8da; /* Light background for clarity */
  padding: 20px;
  border-radius: 8px;
  width: 30%; /* Ensure it takes up about half of the screen */
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h1 {
    color: #d7a52f;
    text-align: center;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #070707;
  }
}

/* Adjust layout for smaller screens */
@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column; /* Stack the containers vertically */
    align-items: center; /* Center them horizontally */
  }

  .omrCameraContainer, .instructionContainer {
    width: 90%; /* Adjust width to take up most of the screen */
    gap: 10px; /* Add a gap between stacked elements */
  }
}

  
  .fileInputWrapper {
    margin-bottom: 15px;
  
    label {
      font-size: 16px;
      color: #ccc;
      cursor: pointer;
      display: inline-block;
      margin-bottom: 5px;
    }
  
    input[type="file"] {
      display: none;
    }
  }
  
  .uploadLabel {
    background-color: #5e2792;
    padding: 8px 16px;
    border-radius: 5px;
    color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: transparent;
      color: #8049b4c0;
      border: 1px solid  #8049b4c0;
    }
  }
  
  .imagePreview {
    margin-top: 20px;
    max-width: 100%;
    img {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
    }
  }
  
  .cameraWrapper {
    margin-top: 20px;
  
    .video {
      width: 100%;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    }
  
    .cameraControls {
      margin-top: 10px;
  
      .captureButton, .cancelButton {
        background-color: #555;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin: 0 10px;
  
        &:hover {
          background-color: transparent;
          color: black;
          border: 1px solid  #777;
        }
      }
  
      .cancelButton {
        background-color: #cc0000;
      }
    }
  
    .openCameraButton {
      background-color: #636363;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      margin-bottom: 20px;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: transparent;
        color: black;
        border: 1px solid  #a0a0a0;
      }
    }
  
    .fileInput {
      margin-top: 20px;
      display: block;
      background-color: #444;
      color: white;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: transparent;
        color: black;
        border: 1px solid  #666;
      }
    }
  }
  
  .uploadButton {
    background-color: #5e2792;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 20px;
  
    &:disabled {
      background-color: #5e2792;
      cursor: not-allowed;
    }
  
    &:hover {
      background-color: transparent;
      color: #5e2792;
      border: 1px solid  #5e2792;
    }
  }
  
  .uploadedImage {
    margin-top: 20px;
    text-align: left;
  
    p {
      color: #5e2792;
      font-size: 14px;
    }
  
    img {
      width: 100%;
      max-width: 500px;
      margin-top: 10px;
      border-radius: 5px;
    }
  }
  
  .omrProcessButton {
    background-color: #666;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
  
    &:disabled {
      background-color: #666;
      cursor: not-allowed;
    }
  
    &:hover {
      background-color: transparent;
      color: #666;
      border: 1px solid  #666;
    }
  }
  
  canvas {
    display: none;
  }
  
  
  
  .saveScoreButton {
    background-color: #5e2792;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 20px;
  
  
    &:hover {
      background-color: transparent;
      color: black;
      border: 1px solid  #666;
    }
  }


  .spinnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
  
  .spinner {
    margin-bottom: 10px; /* Add some space between the spinner and the text */
  }
  
  .spinnerCircle {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #815aa5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loadingText {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    color: #815aa5;
  }
  
  :global(body.dark-mode){
    .omrCameraContainer{
      background-color: #302f30;
      
      h2{
        color: #dad8d8;
      }
    }
    .uploadLabel{
      background-color: #8d8d8d;
      color: #fafafa;

      &:hover{
        background-color: transparent;
        color: #8d8d8d;
        border:#8d8d8d 1px solid; 
      }
    }
    .uploadButton{
      background-color: #8d8d8d;
      color: #fafafa;

      &:hover{
        background-color: transparent;
        color: #8d8d8d;
        border:#8d8d8d 1px solid; 
      }
    }
    .openCameraButton{
      background-color: #5e2792;
      color: #fafafa;

      &:hover{
        background-color: transparent;
        color: #5e2792;
        border:#5e2792 1px solid; 
      }
    }
    .omrProcessButton{
      background-color: #5e2792;
      color: #fafafa;

      &:hover{
        background-color: transparent;
        color: #5e2792;
        border:#5e2792 1px solid; 
      }
    }
    .loadingText  {
      color: #5e2792;
    }
    .testrawscore, pre{
      color: #dbdbdb;
    }
    .saveScoreButton {
      background-color: #4d4d4d;
      color: #fafafa;

      &:hover{
        background-color: transparent;
        color: #4d4d4d;
        border:#4d4d4d 1px solid; 
      }
    }
    .instructionContainer {
      background-color: #302f30;

      h1{
        color: #dad8d8;
      }
      p{
        color: #b072e2;
      }
    }
  }
  
  