.TestContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  h1{
    color: #4d4d4d;
  }
}

.ListTest {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.TestPF, .iqLinkContainer {
  background-color: #ffffff;
  width: 400px;
  height: 400px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease-in-out; 
  overflow: hidden; 
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #b072e2, #d3d3d3);
}

:global(body.dark-mode) {
  .TestContent h1{
    color: #b072e2;
  }
.TestPF, .iqLinkContainer {
  background: linear-gradient(135deg, #b072e2, #383838);
}
}

.TestPF:hover, .iqLinkContainer:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
  transform: translateY(-10px); 
  cursor: pointer;
  background-color: #e6e6e6;
}

.pfLink, .iqLink {
  color: #1c1c1c;
  text-decoration: none;
  width: 100%; 
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center; 
  color: #333;
}

.pfLink:hover, .iqLink:hover {
  color: #4d4d4d ;
  transition: color 0.3s ease;
  text-shadow: 0 3px 6px rgba(212, 9, 182, 0.821); 
}

.pfLink span, .iqLink span {
  position: relative;
  z-index: 1;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); 
}

.TestPF, .iqLinkContainer {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
  transition: transform 0.2s, box-shadow 0.3s ease;
}

.TestPF:hover, .iqLinkContainer:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  transform: translateY(-5px);
}
