$primary-color: #333;
$button-color: #749ef8 ;
$button-hover-color: #969696 ;
$message-success: #28a745;
$message-error: #B30000;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  padding: 20px;
}

.userinfo_pr {
  font-size: 1.7rem;
  color: $button-hover-color;
  margin-bottom: 20px;
}

.infoContainer {
  background-color: #F9F9F9;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: left;

  @media (max-width: 768px) {
    padding: 15px;
  }
}

.userIDDisplay {
  font-size: 1rem;
  color: $primary-color;
  margin-bottom: 15px;
}

.pr_label {
  display: block;
  margin: 10px 0 5px;
  color: $primary-color;
  font-size: 1rem;
}

.pr_input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 15px;
  box-sizing: border-box;
  text-align: center;
}

.pr_input:focus {
  box-shadow: 0 0 8px #749ef8;
  outline: none;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.submitButton {
  background-color: $button-color;
  align-self: center ;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: transparent;
  color: black;
  border: 1px solid  $button-hover-color;
}

.updateMessage {
  font-size: 0.9rem;
  margin-top: 15px;
  text-align: center;

  &.success {
    color: $message-success;
  }

  &.error {
    color: $message-error;
  }
}

.submitButton {
  background-color: $button-color;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  width: 45%;
  align-items: center;
  justify-content: center;
  display: flex;

  transition: background-color 0.3s;

  &:hover {
    background-color: transparent;
      color: #749ef8;
      border: 1px solid  #749ef8;
    }
}

.passWord {
  color: red;
}

:global(body.dark-mode){
  .infoContainer {
    background-color: #302f30;
    color: white;
  }
  .pr_label {
    color: #749ef8;
  }
  .pr_input {
    color: #749ef8;
    background-color: #e9e9e9;
  }
  .userinfo_pr {
    color: #749ef8;
  }
  .submitButton {
    background-color: #969696;

    &:hover {
      background-color: transparent;
      color: #969696;
      border: 1px solid  #969696;
    }
  }
}