$primary-color: #333;
$button-color: #653e84;
$button-hover-color: #653e84;
$message-success: #28a745;
$message-error: #b30000;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  padding: 20px;
}

.userinfo_pr {
  font-size: 1.7rem;
  color: #653e84;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 30px;
}

.infoContainer {
  background-color: #fcfafa;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  text-align: left;
  margin-right: 40px;

  @media (max-width: 768px) {
    padding: 15px;
  }
}

.userIDDisplay {
  font-size: 1rem;
  color: $primary-color;
  margin-bottom: 15px;
}

.pr_label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: $primary-color;
  font-size: 1rem;
}
.pr_labelemail,
.pr_labelname,
.pr_labelUserID {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0 5px;
  color: #653e84;
  font-weight: bold;
  font-size: 1rem;
}
p {
  text-align: center;
  font-size: 16px;
  color: #6e6e6e;
}

.pr_input {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.pr_input:focus {
  box-shadow: 0 0 4px #202020;
  outline: none;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.submitButton {
  background-color: $button-color;
  align-self: center;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: transparent;
  color: black;
  border: 1px solid $button-hover-color;
}

.updateMessage {
  font-size: 0.9rem;
  margin-top: 15px;
  text-align: center;

  &.success {
    color: $message-success;
  }

  &.error {
    color: $message-error;
  }
}

.submitButton {
  background-color: #653e84;
  color: white;
  padding: 12px 20px;
  border: 1px solid #653e84;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  width: 35%;
  align-items: center;
  justify-content: center;
  display: flex;

  transition: background-color 0.3s;

  &:hover {
    background-color: transparent;
    color: #653e84;
    border: 1px solid #653e84;
  }
}

.passWord {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(2, 2, 2);
}

.passwordInputContainer {
  position: relative;
}

.togglePasswordButton {
  position: absolute;
  right: 1px;
  top: 45%;
  transform: translateY(-50%);
  background: none;
  color: black;
  border: none !important;
  cursor: pointer;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}

:global(body.dark-mode) {
  .infoContainer {
    background-color: #161616;
    border: none;
  }

  .pr_labelemail,
  .pr_labelname {
    color: #8c62a9;
  }
  .pr_input {
    color: #727272;
    background-color: #161616;
  }
  .userinfo_pr {
    color: #8c62a9;
  }
  .submitButton {
    background-color: #8c62a9;
    border: 1px solid #8c62a9;

    &:hover {
      background-color: transparent;
      color: #8c62a9;
      border: 2px solid #8c62a9;
    }
  }
  .passWord {
    color: #b4b4b4;
  }
  .togglePasswordButton {
    color: #b4b4b4;
  }
}
