$font-family: Arial, sans-serif;
$primary-color: #2a3744;
$secondary-color: #334553;
$bg-light: #f1f1f100;
$box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
$border-radius: 8px;
$table-header-bg: #ccc;
$table-border-color: #e9e9e9;

:root {
  font-family: $font-family;
}

.surveyListContainer {
  padding: 20px;
  background-color: $bg-light;
  display: flex;
  width: 90%;
  margin-left: 4%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 1.8rem;
    margin-top: -30px;
    color: #653e84;

    .surveyCount {
      font-size: 1.2rem;
      color: $primary-color;
      margin-left: 10px;

      color: #849670;
    }
  }
}
.filterContainer {
  position: relative;
  align-self: flex-start;
  left: 9%;
}

.surveyCard {
  margin-bottom: 50px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  width: 80%;
  display: flex;
  margin-top: -20px;
  flex-direction: column;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
    transition: background-color 0.3s, transform 0.2s;
  }

  h3 {
    font-size: 1.5rem;
    color: rgba(51, 51, 51, 51);
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    color: #000000;
    margin: 5px 0;
  }

  .filters {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid $table-border-color;
    border-radius: $border-radius;
    background-color: #f9f9f9;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);

    h4 {
      font-size: 1.2rem;
      color: $primary-color;
      margin-bottom: 10px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
      text-align: left;

      th,
      td {
        padding: 12px 15px;
        border: 1px solid $table-border-color;
        font-size: 1rem;
      }

      th {
        background-color: transparent;
        color: rgba(51, 51, 51, 51);
        font-weight: bold;
      }

      td {
        background-color: #fff;
        color: #000000;
      }

      tr:nth-child(even) td {
        background-color: #f2f2f2;
      }

      tr:hover {
        background-color: #e9f5ff;
      }
    }
  }

  .surveyActions {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;

    .answerSurveyButton {
      text-decoration: none;
      color: white;
      font-size: 16px;
      display: block;
      padding: 15px 16px;
      border: 3px solid #653e84;
      border-radius: 8px;
      background-color: #653e84;
      text-align: center;
      width: fit-content;
      font-weight: bold;
      margin: 0 auto;

      &:hover {
        background-color: transparent;
        color: #653e84;
        border: 3px solid #653e84;
      }
    }
  }
}

.linkContainer {
  display: flex;
  justify-content: space-between; /* Space between title and button */
  align-items: center; /* Vertically align items */
  width: 100%; /* Ensure the container takes up the full width */
}

.surveyLink {
  cursor: pointer;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-align: center;

  &:hover {
    color: #653e84;
  }

  &:active {
    color: #653e84;
  }
}

.copyLinkText {
  cursor: pointer;
  padding: 10px;
  color: rgba(51, 51, 51, 51);
  font-weight: bold;
  border: #000000 1px solid;
  border-radius: 5px;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    background-color: #6e6e6e;
    color: #ffffff;
    border: #6e6e6e 1px solid;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;

  button {
    background-color: #653e84;
    color: white;
    padding: 10px;
    border-radius: $border-radius;
    border: 1px solid #653e84;
    cursor: pointer;

    &:hover {
      background-color: transparent;
      color: #653e84;
      border: 1px solid #653e84;
    }

    &:disabled {
      background-color: #ccc;
      border: 1px solid #ccc;
      cursor: not-allowed;
    }
  }
}

.doneButton {
  background-color: #2e70d3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: not-allowed;
  opacity: 0.6;
}

.doneButton:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.archiveButton {
  position: relative;
  left: 30vw; /* Use viewport width for better scaling */
  bottom: 6vh; /* Use viewport height */
  background-color: #653e84;
  color: white;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .archiveButton {
    left: 25vw;
    bottom: 8vh;
  }
}

@media (max-width: 768px) {
  .archiveButton {
    left: 27vw;
    bottom: 8vh;
  }
}

@media (max-width: 480px) {
  .archiveButton {
    left: 40vw;
    bottom: 8vh;
  }
}
/* Hover effect */
.archiveButton:hover {
  background-color: transparent;
  color: #653e84;
  border: 1px solid rgba(51, 51, 51, 1);
}

/* Add a mail icon */
.archiveButton::before {
  content: "✉️"; /* Unicode envelope icon */
  font-size: 18px; /* Adjust icon size */
}

/* Optional: Add mailbox-specific animations */
.archiveButton::after {
  content: ""; /* Empty content for styling */
  display: block;
  width: 0;
  height: 4px;
  background-color: #653e84; /* Blue underline */
  margin: 0 auto;
  border-radius: 2px;
  transition: width 0.3s ease;
}

.archiveButton:hover::after {
  width: 80%; /* Expand underline on hover */
}

/* New button style for the Close button */
.closeButton {
  display: flex;
  position: fixed;
  z-index: 1100; /* Ensures it appears on top of other content */
  right: 11%;
  top: 16%;
  border: 2px solid #6e6e6e; /* Red border for close button */
  background-color: transparent; /* Red background for close button */
  color: white;
  font-size: 17px;
  padding: 8px 15px;
  border-radius: 8px; /* Rounded edges */
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton:hover {
  background-color: transparent;
  border: 2px solid #6e6e6e;
  color: #6e6e6e;
}

.closeButton:active {
  background-color: #6e6e6e;
  transform: scale(0.98); /* Click animation */
}

.closeButton::before {
  font-size: 20px; /* Adjust icon size */
  margin-right: 8px;
}

:global(body.dark-mode) {
  .surveyListContainer {
    background-color: #15151519;

    h2 {
      color: #a9a9a9;
    }
    .surveyCount {
      color: #8c62a9;
    }
  }
  .archiveButton {
    background-color: #8c62a9;
  }
  .archiveButton:hover {
    background-color: transparent;
    color: #8c62a9;
    border: 1px solid #8c62a9;
  }

  .archiveButton:active {
    background-color: #a9a9a9;
    transform: scale(0.98);
  }
  .filters {
    background-color: #212121;
    border: none;
  }
  .filters h4 {
    color: #a9a9a9;
  }
  .filterContainer label {
    color: #a9a9a9;
  }

  .surveyCard {
    background-color: #1a1919;
  }
  .surveyCard p {
    color: #a9a9a9;
  }
  .surveyCard h3 {
    color: #a9a9a9;
  }

  .filters th {
    background-color: #212121;
    color: white;
    border: #1a1919 1px solid;
  }
  .filters td {
    background-color: #1a1919;
    color: #a9a9a9;
    border: #1a1919 1px solid;
  }
  .filters tr:nth-child(even) td {
    background-color: #212121;
  }
  .surveyActions {
    .answerSurveyButton {
      background-color: #8c62a9;
      border: 2px solid #8c62a9;
  
      &:hover {
        background-color: transparent;
        color: #8c62a9;
        border: 2px solid #8c62a9;
      }
    }
  }
  
  .pagination button {
    background-color: #8c62a9;

    &:hover {
      background-color: transparent;
      color: #8c62a9;
      border: 1px solid #8c62a9;
    }

    &:disabled {
      background-color: #a9a9a9;
      border: 1px solid #a9a9a9;
      cursor: not-allowed;
    }
  }
  .copyLinkText {
    background-color: transparent;
    color: #f0f0f0;
    border: #a9a9a9 2px solid;

    &:hover {
      background-color: #6e6e6e;
      color: #f0f0f0;
      border: #6e6e6e 2px solid;
    }
  }
  .closeButton  {
    border: 2px solid #a9a9a9;
    background-color: #a9a9a9;
    color: #ffffff;

    &:hover {
      background-color: transparent;
      border: 2px solid #a9a9a9;
      color: #a9a9a9;
    }
  }
}
