.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3); 
  transition: background-color 0.3s ease-in-out;
  z-index: 999;

  &.darkOverlay {
    background-color: rgba(0, 0, 0, 0.7); 
  }

  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
  }

  @media (max-width: 480px) {
    width: 100%;
    justify-content: flex-start; 
  }
}

.tableContainer {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 80%;
  max-width: 900px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; 
  position: relative;

  @media (max-width: 768px) {
    width: 100%;
    margin: 20%;
    padding: 15px;
  }
  
  @media (max-width: 480px) {
    width: 100%;
    margin: 20%;
    padding: 10px;
}

.archivetitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #1f1f1f;

  @media (max-width: 768px) {
    font-size: 1.25rem;
  }

  @media (max-width: 480px) {
    font-size: 1rem;
  }
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #6e6e6e ;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: transparent;
    color: #2A3744;
    border: 1px solid #6e6e6e;
  }
  @media (max-width: 768px) {
    top: 5px;
    right: 5px;
    padding: 4px 8px;
  }

  @media (max-width: 480px) {
    top: 5px;
    right: 5px;
    padding: 3px 6px;
  }
}

.responsesWrapper {
  max-height: 500px;
  overflow-y: auto;
}

.tableArchive {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  color:#353535;

  @media (max-width: 768px) {
    font-size: 0.9rem;
  }

  @media (max-width: 480px) {
    font-size: 0.8rem;
  }
}

}

.tableArchive th,
.tableArchive td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    
  }

 .tableArchive th {
    background-color: #6e6e6e;
    color: white;
  }

  .tableArchive tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .tableArchive tr:hover {
    background-color: #cecece;
  }
 
  .actionButton {
    padding: 5px 10px;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &.delete {
      background-color: #b62e2e;
      color: #fff;

      &:hover {
        background-color: transparent;
      color:black;
      border:1px solid #b62e2e; 
    }
    }
    @media (max-width: 768px) {
      padding: 4px 8px;
      font-size: 0.8rem;
    }
  
    @media (max-width: 480px) {
      padding: 3px 6px;
      font-size: 0.75rem;
    }
  }


:global(body.dark-mode){
  .tableContainer{
    background-color: #2A3744;
    color: #fff;
  }
  .tableArchive th {
    border: #2A3744;
    background-color: #be9940;
    color: white;
  }
  .tableArchive:nth-child(even) {
    background-color: #f2f2f2;
  }
  .tableArchive:nth-child(odd) {
    background-color: #f2f2f2 ;
  }
  .tableArchive tr:hover {
    background-color: #b9b9b9e1;
}
.closeButton {
  background: #849670;

  &:hover {
    background-color: transparent;
    color: #d1d1d1;
    border: 1px solid #849670;
  }
}
}