$bg-dark: #ffffff; 
$bg-light: #e9E9E9; 
$font-light: #000000; 
$font-dark: #000000; 
$hover-bg: #D2D2D2;
$hover-font: black; 
$border-dark: #2c2c2c; 

.consultMain{ 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  user-select: none;


  @media (max-width: 768px) {
    flex-direction: column;
    }
}

.consulForm {
  flex: 1;
  margin-right: 20px;
  background: linear-gradient(135deg, #ffffff, #ffffff);
  border: 1px solid #e0e0e0; 
  padding: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  justify-content: center;
  border-radius: 10px;

  @media (max-width: 768px) {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.formCon {
  display: flex;
  flex-direction: column;
  gap: 15px; 
}
.conTitle{
  font-size: 24px;
  text-align: center;
  margin: 0;
}
.conLabel {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.conInput,
select {
  width: 98%; 
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  &:focus {
    border-color: #0C4C78; 
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
    outline: none;
  }
}

.conSubmit {
  background: #2e70d3;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  align-self: center;
  font-size: 16px;
  width: 20%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
     background-color: transparent;
      color:black;
      border:1px solid #849670; 
    transform: translateY(-2px); 
  }

  &:active {
    background-color: #969696; 
    transform: translateY(0); 
  }

  @media (max-width: 768px) {
    width: 100%; 
  }
}



// for the table of consultations
.tableContainer {
  flex: 2;
  background-color: transparent;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 600px;
  overflow-y: auto;
  transition: max-height 0.3s ease;

  @media (max-width: 768px) {
    flex: 1;
    margin-top: 30px;
    max-height: 400px;
  }
}


.consultationlabel{
  text-align: center;
  margin-bottom: 15px;
  color: rgb(51, 51, 51);
  background-color: transparent;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  color:#000000;
}

.table th {
  background-color: #2e70d3;
  color: #000000;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #b9b9b9e1;
}

.responsesWrapper {
  max-height: 250px;  
  overflow-y: auto;   
  margin-top: 10px;   
}

// Define a base style for all buttons
.actionButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }

  &.delete {
    background-color: #b62e2e;
    color: white;

    &:hover {
      background-color: #B94d4dce; 
    }
  }

  &.cancel {
    background-color: #2A3744; 
    color: rgb(255, 255, 255);

    &:hover {
      background-color: transparent;
      color:black;
      border:1px solid #334553; 
    }
  }

  &.archive {
    background-color: #849670; 
    color: rgb(255, 255, 255);

    &:hover {
      background-color: transparent;
      color:black;
      border:1px solid #849670; 
    }
  }
}

.archiveButton {
  margin-left: 20px;
  background-color: #b60000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px; 
  cursor: pointer;
  transition: all 0.3s ease; 
}

.archiveButton:hover {
  background-color: transparent;
  color:black;
  border:1px solid #EFB836;
}

.archiveButton:active {
  background-color: #d7a52f;

  transform: scale(0.98); 
}

.archiveButton::before {
  content: "✉️"; 
  font-size: 18px;
}

.archiveButton::after {
  content: ""; 
  display: block;
  width: 0;
  height: 4px;
  background-color: #AF1740;
  margin: 0 auto;
  border-radius: 2px;
  transition: width 0.3s ease;
}

.archiveButton:hover::after {
  width: 80%; 
}

.conText {
  font-size: 15px;
  text-align: center;
  margin: 0;
  color: #666666;
}

.acceptButton {
  background-color: #849670;
  color: white;
  border: none;
  padding: 9px 16px;
  cursor: pointer;
}

.acceptButton:hover {
  transform: scale(1.05);
  color: #050505;
  background-color: transparent;
  border:1px solid #849670;
}

.declineButton {
  background-color: #db4d4d;
  color: white;
  border: none;
  padding: 9px 16px;
  cursor: pointer;
  margin-left: 10px;
}
.declineButton:hover {
  transform: scale(1.05);
  background-color: transparent;
  color: black;
  border: 1px solid #db4d4d;
}

.removeButton {
  background-color: #2A3744;
  color: white;
  border: none;
  padding: 9px 16px;
  cursor: pointer;
  margin-left: 10px;
}
.removeButton:hover {
  transform: scale(1.05);
  background-color: transparent;
  color: black;
  border: 1px solid #2A3744;

}

.viewButton {
  background-color: #0C4C78;
  color: white;
  border: none;
  padding: 9px 16px;
  cursor: pointer;
  margin-left: 10px;
}
.viewButton:hover {
  transform: scale(1.05);
  background-color: transparent;
  color: black;
  border: 1px solid #2A3744;
}

.disabledButton {
  opacity: 0.5;
  cursor: not-allowed;
}


:global(body.dark-mode){
  .consulForm {
background-color: #151515;
    border: none;
   }
   .conTitle{
    color: #2e70d3;
   }
   .conText{
    color: #000000;
   }
   .conLabel{
    color: #000000;
   }
   .conSubmit{
    background: #2e70d3;

    &:hover {
      background-color: transparent;
       color:rgb(207, 207, 207);
       border:1px solid #d7a52f; 
     transform: translateY(-2px); 
   }
   }

   .tableContainer{
    background-color: #151515;
    border: none;

    h2{
      color: #2e70d3;
    }
    .table th,
    .table td {
      padding: 8px;
      text-align: center;
      color:#4e4e4e;
}

.table th {
     border: #2A3744;
      background-color: #2e70d3;
      color: white;
}

.table tr:nth-child(even) {
      background-color: #f2f2f2;
}
.table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.table tr:hover {
      background-color: #b9b9b9e1;
}
   }
   .archiveButton {
    margin-left: 20px;
    background-color: #b60000;
    color: white; 
  }
  
  .archiveButton:hover {
    background-color: transparent;
    color:#b3b3b3;
    border:1px solid #b60000;
  }
  
  .archiveButton:active {
    background-color: #b60000;
  
    transform: scale(0.98); 
  }
  
  }