.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    user-select: none;
}

.reportContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.resultSectionPF,
.resultSectionIQ {
    flex: 1;  
    padding: 10px; 
}

.surveyCount,
.userCount {
  flex: 1; 
  padding: 40px;
  margin: 0.5rem;
  background-color: #f5f5f5;
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  text-align: center;
  font-family: 'Arial', sans-serif;
  max-width: 250px;
  height: 100px;

  p {
    font-size: 1.2rem; 
    font-weight: bold;
    color: #333;
    margin: 0;
  }
}

.allTest {
  flex: 1;
  font-family: 'Arial', sans-serif;
  max-width: 40%;
  
}

.dashboardRow {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 150px; 
  border: 2px solid #8f8f8f;
  border-radius: 8px; 
  padding: 20px;
  margin-bottom: 20px;
  width: 96%;
}

.count {
font-weight: bold;
font-size: 3rem;
}

.table {
    width: 100%;
    height: 180px;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    background-color: white;
    border-radius: 8px; 
  }
  
  .th, .td {
    padding: 20px 15px;
    text-align: left;
    border-radius: 8px; 
  }
  
  .th {
    background-color: #704191;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  .td {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    text-align: center;
    color: #7a7a7a;
  }
  
  tr:nth-child(even) .td {
    background-color: #f2f2f2;
  }
  
  tbody {
    &:last-child {
      border-bottom: 2px solid #a7a7a7;
    }
  }

  .seeButton {
    background-color: #704191;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .seeButton:hover {
    background-color: transparent;
  }

  
 
@media (max-width: 768px) {
    .reportContainer {
        flex-direction: column; 
    }
    .dashboardRow {
        width: 93%;
        gap: 30px;
    }
    .table {
        width: 100%;
        height: 180px;
        margin: 20px 0;
        font-size: 16px;
        text-align: left;
        background-color: white;
        border-radius: 8px; 
      }
      
      .th, .td {
        padding: 5px 10px;
        text-align: left;
        border-radius: 8px; 
      }
      .th {
        background-color: #704191;
        color: white;
        font-weight: bold;
        text-align: center;
      }
      
      .td {
        background-color: #ffffff;
        border-bottom: 1px solid #ddd;
        text-align: center;
      }
      
      tr:nth-child(even) .td {
        background-color: #f2f2f2;
      }
      
      tbody {
        &:last-child {
          border-bottom: 2px solid #a7a7a7;
        }
      }
      
    .seeButton {
        background-color: #704191;
        color: white;
        border: none;
        padding: 5px 40px;
        border-radius: 8px; 
        cursor: pointer;
        transition: background-color 0.3s ease;    }
}

:global(body.dark-mode) {
    .repTitle {
        color: #cccccc;
    }
}
