.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin-top: 20px;

    .reportHeader{
      font-size: 25px;
      margin: 0.5%;
      margin-bottom: 20px;
      color: rgb(39, 39, 39);
    }
    .dashboardRow {
      display: flex;
      align-items: center; 
      justify-content: center; 
      border-radius: 8px; 
      width: 98%;
      border: 2px solid #a7a7a7;
      padding: 5px 1px;
    }
    .allTest {
      flex: 1;
      font-family: 'Arial', sans-serif;
      max-width: 100%;

      .table {
        width: 100%;
        margin: 0% 2%;
        font-size: 15px;
        text-align: left;
        background-color: white;
        border-radius: 8px; 
     
        .th, .td {
          padding: 10px 20px;
          text-align: left;
          border-radius: 8px; 
        }
        
        .th {
          background-color: #704191;
          color: white;
          font-weight: bold;
          text-align: center;
        }
        
        .td {
          background-color: #ffffff;
          border-bottom: 1px solid #ddd;
          text-align: center;
          color: #7a7a7a;
        }
        
        tr:nth-child(even) .td {
          background-color: #f2f2f2;
        }
        
        tbody {
          &:last-child {
            border-bottom: 2px solid #a7a7a7;
          }
        }
      }
      
    }
}

.surveyCount,
.userCount {
  flex: 1; 
  padding: 15px 4px;
  margin: 1.2rem;
  background-color: #f5f5f5;
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  text-align: center;
  font-family: 'Arial', sans-serif;
  max-width: 20%;
  height: 10%;


  p {
    font-size: 1.2rem; 
    font-weight: bold;
    color: #333;
    margin: 0;
  }
}

.reportContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .resultSectionPF, .resultSectionIQ, .resultSectionCF {
        flex: 1;  
        padding: 0.5%; 
    }
}

.count {
font-weight: bold;
font-size: 1rem;
}
.seeButton {
    background-color: #704191;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 8px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

.seeButton:hover {
    background-color: transparent;
}

  
 
@media (max-width: 768px) {
    .reportContainer {
        flex-direction: column; 
    }
    .dashboardRow {
        width: 93%;
        gap: 30px;
    }
    .table {
        width: 100%;
        height: 180px;
        margin: 20px 0;
        font-size: 16px;
        text-align: left;
        background-color: white;
        border-radius: 8px; 
      }
      
      .th, .td {
        padding: 5px 10px;
        text-align: left;
        border-radius: 8px; 
      }
      .th {
        background-color: #704191;
        color: white;
        font-weight: bold;
        text-align: center;
      }
      
      .td {
        background-color: #ffffff;
        border-bottom: 1px solid #ddd;
        text-align: center;
      }
      
      tr:nth-child(even) .td {
        background-color: #f2f2f2;
      }
      
      tbody {
        &:last-child {
          border-bottom: 2px solid #a7a7a7;
        }
      }
      
    .seeButton {
        background-color: #704191;
        color: white;
        border: none;
        padding: 5px 40px;
        border-radius: 8px; 
        cursor: pointer;
        transition: background-color 0.3s ease;    }
}

:global(body.dark-mode) {
    .repTitle {
        color: #cccccc;
    }
}
