// Variables for easy customization
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

$primary-color: #d7a52f;
$bg-color: #ffffff;
$bg-gradient-start: #98d172;
$bg-gradient-end: #ffffff;
$hover-bg-color: #653e84;
$shadow-light: rgba(0, 0, 0, 0.1);
$shadow-dark: rgba(0, 0, 0, 0.2);
$box-shadow-small: 0 4px 8px $shadow-light;
$box-shadow-large: 0 8px 16px $shadow-dark;
$font-color: #333;
$font-size: 20px;
$font-weight: bold;
$letter-spacing: 1.5px;
$transition-duration: 0.3s;
$border-radius: 12px;
$padding-size: 20px;
$test-size: 400px;

// Main container
.TestContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: $padding-size;
  user-select: none;
  margin-top: -1%;
  h1 {
    color: #000000;
  }
}

// List of tests
.ListTest {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

// Test containers with common styles
.TestPF,
.iqLinkContainer {
  background-color: transparent;
  width: 400px;
  height: 300px;
  border: #000000 solid 2px;
  border-radius: $border-radius;
  box-shadow: $box-shadow-small;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.TestPF:hover,
.iqLinkContainer:hover {
  box-shadow: $box-shadow-large;

  cursor: pointer;
  background-color: $hover-bg-color;
}

.pfresultDashboard h1 {
  color: #d7a52f;
}

// Apply the spinning animation globally
:global(body.dark-mode) {
  .TestContent h1 {
    color: #b4b4b4;
  }
  .TestPF,
  .iqLinkContainer {
    background: transparent;
    color: #b4b4b4;
    border: #b4b4b4 solid 2px;

    :hover {
      background: #8c62a9;
      color: #000000;
      border: #8c62a9 solid 2px;
    }
  }
  .pfLink,
  .iqLink {
    color: #b4b4b4;
  }
}

// Link styling inside containers
.pfLink,
.iqLink {
  color: #b4b4b4;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  text-align: center;
  color: $font-color;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

// Hover effect for links
.pfLink:hover,
.iqLink:hover {
  color: white;
  transform: scale(1.05);
}

// Span inside links for text shadow effect
.pfLink span,
.iqLink span {
  position: relative;
  z-index: 1;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

// Reapply common styles for box-shadow and transition
.TestPF,
.iqLinkContainer {
  color: #6e6e6e;
  box-shadow: $box-shadow-small;
  transition: transform 0.2s, box-shadow $transition-duration ease;
}

.TestPF:hover,
.iqLinkContainer:hover {
  box-shadow: $box-shadow-large;
  transform: scale(1.05);
}
