.TestContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
    .ListTest {
      display: flex;
      gap: 20px;
      flex-direction: row;
    }
  }
  
  .TestPF, .iqLinkContainer {
    background-color: white;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease-in-out; 
    overflow: hidden; 
    position: relative;
  }
  
  .TestPF:hover, .iqLinkContainer:hover {
    border: 1px solid rgba(196, 26, 26, 0.362);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    transform: translateY(-5px); 
    cursor: pointer;
  }
  
  .pfLink, .iqLink {
    color: black;
    text-decoration: none;
    width: 100%; 
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center; 
  }
  
  .pfLink::before, .iqLink::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 0;
    border-radius: 10px;
  }
  
  .TestPF:hover .pfLink::before, .iqLinkContainer:hover .iqLink::before {
    opacity: 1; 
  }
  
  .pfLink span, .iqLink span {
    position: relative;
    z-index: 1;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
  }
  