$background-color: #f1f1f100;
$font-color: #727272;

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.loginContainer {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: 100vh;
  background-color: $background-color;
  gap: 100px; /* Add spacing between the form and the image */
  padding: 20px;
}

.imageContainer {
  background-image: url("https://images.unsplash.com/photo-1606326608606-aa0b62935f2b?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8dGVzdCUyMHRha2luZ3xlbnwwfHwwfHx8MA%3D%3D");
  background-position: center;
  height: 100vh;
  width: 70vw;
  border-radius: 10px;
  animation: slideInFromLeft 1.5s ease-out;
}

.loginForm {
  background-color: white;
  padding: 40px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  animation: fadeIn 1.5s ease-out 0.5s;
  animation-fill-mode: both;
}

.loginForm_h1 {
  font-size: 2rem;
  color: $font-color;
}

.loginForm_h2 {
  font-size: 1.2rem;
  margin-top: 10px;
  color: $font-color;
}

.logLabel {
  display: block;
  margin: 10px 0 5px;
  color: $font-color;
  font-size: 1rem;
}

.logInput {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  margin-bottom: 15px;
  box-sizing: border-box;

  &:focus {
    border-color: #f2f2f2;
    outline: none;
  }
}

.submitButtonLog {
  background-color: #a1a1a1;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: #749ef8;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
}

.forgotPasswordButton {
  background-color: #749ef8;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 15px;
  width: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: #a1a1a1;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
}

.errorMessage {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
}
.successMessage {
  color: green;
  font-size: 0.9rem;
  margin-top: 10px;
}

.modal {
  position: fixed;
  width: 30%;
  height: 40%;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;

  h3{
    color: #749ef8;
    margin-bottom: 1.5rem;
  }

  label{
    color: black;
    margin-bottom: 4px;
  }
  .modalContent {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 1.5rem;
      padding: 0.5rem;
      border-radius: 9px;
    }

    button {
      align-self: center;
      background-color: #a1a1a1;
      border-radius: 20px;
      color: white;
      width: 60%;
      padding: 12px;
      margin-top: 10px;
      font-size: 16px;

      &:hover {
        background-color: #749ef8;
      }
    }
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}



:global(body.dark-mode){
  .loginForm {
    background-color: #222222;
    
    h1{
      color: #749ef8;
    }

    h2{
      color: #cc63b5e1;
    }

    .logLabel{
      color: #ccc;
    }
    .submitButtonLog{
      background-color: #749ef8;

      &:hover {
        background-color: #9e9e9e;
      }
    }
    .forgotPasswordButton{
      background-color: #9e9e9e;

      &:hover {
        background-color: #749ef8;
      }
    }
  }
  .modal{
    background-color: #222222e8;

    h3, label{
      color: #9e9e9e;
    }
    button{
      background-color: #749ef8;
      &:hover {
        background-color: #9e9e9e;
      }
    }

  }
  .errorMessage {
    color: rgb(189, 45, 45);
    font-size: 0.9rem;
    margin-top: 10px;
  }
  .successMessage {
    color: #079107;
    font-size: 0.9rem;
    margin-top: 10px;
  }
}