$background-color: #f1f1f100;
$font-color: #727272;

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modalSlideDown {
  from {
    transform: translate(-50%, -60%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}


.loginContainer {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: 100vh;
  background-color: $background-color;
  gap: 20px; /* Add spacing between the form and the image */
  padding: 15px 15px;
}

.imageContainer {
  background: linear-gradient(to bottom right, #050505a8, #2727279a), url("../Images/landing.jpg");
  background-size: cover;
  background-position: center;
  height: 96vh;
  width: 68vw;
  border-radius: 10px;
  animation: slideInFromLeft 1.5s ease-out;
}

.logoimg {
  background-image: url("../Images/LOGOdark.png");
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 180px;
  margin: 0 auto;
  margin-top: 2px;
}

.loginForm {
  background-color: white;
  padding: 170px;
  max-width: 400px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  animation: fadeIn 1.5s ease-out 0.5s;
  animation-fill-mode: both;
}

.loginForm_h1 {
  font-size: 2rem;
  color: #2e70d3;
  text-align: center;
}

.loginForm_h3 {
  font-size: 1rem;
  text-align: center;
  margin-top: 10px;
  color: black;
  font-weight: normal;
}

.logLabel {
  display: block;
  margin: 10px 0 5px;
  color: black;
  font-size: 1rem;
}

.logInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 15px;
  box-sizing: border-box;

  &:focus {
    border-color: #7a7a7a;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px;
  }
}

.submitButtonLog {
  background-color: #2e70d3;
  color: white;
  padding: 12px 20px;
  border: #2e70d3 solid 3px;
  border-radius: 10px;
  margin-top: 30px;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: transparent;
  border: #2e70d3 solid 3px;
  color: #2e70d3;
  box-shadow: none;
  }
}

.forgotPasswordButton {
  display: block; 
  margin: 15px auto; 
  background-color: #313131;
  color: white;
  padding: 12px 20px;
  border: #313131 solid 3px;
  border-radius: 10px;
  font-size: 1rem;
  width: 45%;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: transparent;
    color: #313131;
    border: #313131 solid 3px;
  }
}

.errorMessage {
  text-align: center;
  color: #ce1a1a;
  font-size: 0.9rem;
  margin-top: 10px;
}
.successMessage {
  text-align: center;
  color: #079107;
  font-size: 0.9rem;
  margin-top: 10px;
}

.passwordInputContainer {
  position: relative;
}

.togglePasswordButton {
  position: absolute;
  right: 0px;
  top: 45%;
  transform: translateY(-50%);
  background: none;
  color: black;
  border: none !important;
  cursor: pointer;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}

.modal {
  position: fixed;
  width: 40%;
  height: 45%;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 0; 
  animation: modalSlideDown 0.5s ease-out forwards;
  
  &.hidden {
    display: none;
  }

  &.visible {
    display: block;
    animation: modalSlideDown 0.5s ease-out forwards;
  }
  h3{
    text-align: center;
    color: #2e70d3;
    margin-top: 0;
  }

  label{
    color: black;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 1rem;
  }
  .modalContent {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 1rem;
      width: 98%;
      padding: 0.7rem;
      border-radius: 9px;
      background-color: white;
      font-size: 0.9rem;
      border: #939391 solid 1px;

      &:focus {
        border-color: #7a7a7a;
        outline: none;
        box-shadow: rgba(0, 0, 0, 0.411) 0px 0px 5px 0px;
      }
    }
    

    .submitforgotpass {
      align-self: center;
      background-color: #2e70d3;
      border: #2e70d3 solid 2px;
      border-radius: 10px;
      width: 60%;
      color: white;
      font-size: 1rem;
      padding: 10px;
      margin-top: 30px;

      &:hover {
        background-color: transparent;
        color: #2e70d3;
      }
    }

    .cancelButton{
      align-self: center;
      background-color: #313131;
      border: #313131 solid 2px;
      border-radius: 10px;
      width: 40%;
      color: white;
      font-size: 1rem;
      padding: 10px;
      margin-top: 30px;
      &:hover {
        background-color: transparent;
        color: #313131;
      }
    }
    

    .passwordInputContainer {
      position: relative;
      width: 103%;
    }

    .toggleConfirmPasswordButton {
      position: absolute;
      right: 2%;
      top: 35%;
      transform: translateY(-45%);
      background: none;
      color: black;
      border: none !important;
      width: 50px;
      cursor: pointer;

      &:hover {
        background-color: transparent;
        border: none;
      }
    }
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Add responsive styling for small screens */
@media (max-width: 768px ) {
  .loginContainer {
    flex-direction: column; /* Stack the form vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    height: 96vh; /* Full viewport height */
    width: 100%;
    margin: 15px 15px 15px 15px; /* Remove spacing between the form and the image */
    position: relative; /* Needed for z-index to work properly */
  }

  .imageContainer {
    position: absolute;
    z-index: -1; /* Place the imageContainer behind the loginContainer */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Full viewport height */
    animation: fadeIn 1.5s ;

  }

  .loginForm {
    z-index: 1; /* Ensure the login form appears above the image */
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
    padding: 30px;
    border-radius: 8px;
    width: 80%;
    
  }

  .loginForm_h1 {
    font-size: 1.5rem;
    color: #2e70d3;
  }
  
  .loginForm_h2 {
    font-size: 1rem;
    margin-top: 10px;
    color: $font-color;
  }

  .forgotPasswordButton {
    background-color: #313131;
    color: white;
    padding: 12px 20px;
    border: #313131 solid 3px;
    border-radius: 10px;
    font-size: 1rem;
    width: 80%;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  
    &:hover {
      background-color: transparent;
      color: #313131;
    }
  }

  .togglePasswordButton {
    position: absolute;
    right: 10px;
    font-size: 15px;
    top: 45%;
    transform: translateY(-50%);
    background: none;
    color: black;
    border: none !important;
    cursor: pointer;
  }

  .modal {
    position: fixed;
    width: 65%;
    height: 350px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    

    h3{
      text-align: center;
      color: #2e70d3;
      margin-bottom: 1rem;
      font-size: 1.1rem;
    }
  
    label{
      color: black;
      margin-bottom: 10px;
      font-size: .8rem;
    }
    .modalContent {
      display: flex;
      flex-direction: column;
  
      input {
        margin-bottom: 0.1rem;
        padding: 0.5rem;
        border-radius: 9px;
      }
  
      button {
        align-self: center;
        background-color: #a1a1a1;
        border-radius: 20px;
        color: white;
        width: 60%;
        padding: 12px;
        margin-top: 10px;
        font-size: 16px;
  
        &:hover {
          background-color: #749ef8;
        }
      }
      .submitforgotpass {
        align-self: center;
        background-color: #2e70d3;
        border: #2e70d3 solid 2px;
        border-radius: 10px;
        width: 80%;
        margin-top: 40px;
  
        &:hover {
          background-color: transparent;
          color: #2e70d3;
        }
      }
      .cancelButton{ 
        align-self: center;
        background-color: #313131;
        border: #313131 solid 2px;
        border-radius: 10px;
        width: 50%;
        margin-top: 20px;
  
        &:hover {
          background-color: transparent;
          color: #313131;
        }
      }
    }
  }

  .errorMessage {
    color: red;
    font-size: 0.9rem;
    margin-top: -10px;
    margin-bottom: -6px;
  }
  .successMessage {
    color: #079107;
    font-size: 0.9rem;
    margin-top: -10px;
    margin-bottom: -6px;

  }
  
}

:global(body.dark-mode){
  .logoimg {
    background-image: url("../Images/LOGO.png");
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 180px;
    margin: 0 auto;
    margin-top: 2px;
  }
  .loginForm {
    background-color: #141313ea;
    
    h1{
      color: #2e70d3;
    }

    h3{
      color: #ffffffe1;
    }
    input{
      background-color: #141313ea;
      color: #ffffffe1;
      border: #ffffffe1 solid 1px;
    }
    .togglePasswordButton{
      color: #ffffffe1;
    }
    .logLabel{
      color: #ccc;
    }
    .submitButtonLog{
      background-color: #2e70d3;

      &:hover {
        background-color: transparent;
      }
    }
    .forgotPasswordButton{
      background-color: #6e6e6e;
      border: #6e6e6e solid 3px;


      &:hover {
        background-color: transparent;
        color: #6e6e6e;
      }
    }
  }
  .modal{
    background-color: #141313f3;

    h3{
      color: #2e70d3;
    }
    label{
      color: #9e9e9e;
    }
    button{
      background-color: #2e70d3;
      &:hover {
        background-color: #9e9e9e;
      }
    }
    input{
      background-color: #141313ea;
      color: #ffffffe1;
      border: #ffffffe1 solid 1px;
    }
    .toggleConfirmPasswordButton{
      color: #ffffffe1;
    }
    .cancelButton{
      background-color: #6e6e6e;
      border: #6e6e6e solid 2px;

      &:hover {
        background-color: transparent;
        color: #6e6e6e;
      }
    }
  }
  .errorMessage {
    color: rgb(189, 45, 45);
    font-size: 0.9rem;
    margin-top: 10px;
  }
  .successMessage {
    color: #079107;
    font-size: 0.9rem;
    margin-top: 10px;
  }
}