.userTitle{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    & th, & td {
        padding: 12px;
        text-align: left;
        border: 1px solid #ddd;

        &:nth-child(even) {
            background-color: #f2f2f2;
            color: black;
        }
    }

    & th {
        background-color: #4CAF50;
        color: white;
    }
}

h2 {
    color: #333;
    margin-top: 40px;
}

.ul {
    padding: 0;
    list-style-type: none;

    .li {
        margin: 5px 0px;
        display: flex;
        flex-direction: row;
    }
}
