// psychologyuser.module.scss

$user-background-color: #f5f5f8;
$font-color: #45474B;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.userTitle {
  font-size: 1.8rem;
  color: $font-color;
  margin-bottom: 1rem;
  text-align: center; // Centers the h2
  font-family: 'Roboto', sans-serif;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: $user-background-color;
  text-align: center; // Center-aligns all content in the table cells
  font-family: 'Roboto', sans-serif;
}

.th, .td {
  border: 1px solid $font-color;
  padding: 0.8rem;
  color: $font-color;
}

.th {
  font-weight: bold;
}
