
.userTitle {
  font-size: 1.8rem;
  color: black;
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.tableUser {
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(255, 252, 252);
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.064); 
  border: 1px solid #9e979791; 
  font-family: 'Roboto', sans-serif;

}

.tableUser th{
  color: #333;
  padding: 10px;
  text-align: center;
  font-size: 13px;
  background-color: rgb(245, 242, 242);
  border-bottom: 1px solid #9e979791; 
}

.tableUser td{
  padding: 5px;
  font-size: 13px;
  border-bottom: 1px solid #9e979791; 
}

.button-action {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    opacity: 0.9;
  }
}

.edit {
  background-color: blue;
  color: white;
  margin: 10px;
  width: 20%;

  &:hover {
    background-color: darken(blue, 10%);
  }
}

.delete {
  background-color: red;
  width: 20%;
  margin: 10px;
  &:hover {
    background-color: rgb(230, 3, 3);
  }
}
