
.userTitle {
  font-size: 1.8rem;
  color: black;
  margin-bottom: 1.3rem;
  margin-top: 1rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.tableUser {
  width: 85%;
  border-collapse: separate; /* Change from collapse to separate for spacing */
  border-spacing: 0 15px; 
  background-color: none;
  text-align: center;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  margin: 5px auto; 
}

@media (max-width: 768px) {
  .tableUser th, .tableUser td {
    font-size: 10px;
    padding: 6px;
  }
}

.tableUser th {
  color: #000000;
  padding: 15px;
  text-align: center;
  font-size: 13px;
  background-color: #dfdfdf00;
  border-bottom: 2px solid #aaaaaa;
}

.tableUser td {
  color: #000000;
  padding: 15px;
  text-align: center;
  font-size: 13px;
  background-color: #f7f5f5;

}

.tableUser tr {
  border: 1px solid #e9e9e9; /* Add border around each row */
}


.button-action {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 7px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    opacity: 0.9;
  }
}

.edit {
  background-color:  #6e6e6e;
  color: white;
  border: 2px solid #6e6e6e;
  margin: 10px;
  width: 25%;

  &:hover {
    background-color: transparent;
    color: #6e6e6e;
    border: 2px solid #6e6e6e;
    
  }
}

.delete {
  background-color:#af1414;
  border: 2px solid  #af1414;
  width: 25%;
  margin: 10px;
  &:hover {
    background-color: transparent;
    color: #af1414;
    border: 2px solid  #af1414;
  }
}
@media (max-width: 1500px) {
  .edit, .delete {
    width: 50%; /* Full width on small devices */
    margin: 5px 2px;
  }
}
@media (max-width: 1024px) {
  .edit, .delete {
    width: 100%; /* Full width on small devices */
    margin: 5px 0;
  }
}
@media (max-width: 768px) {
  .edit, .delete {
    width: 100%; /* Full width on small devices */
    margin: 5px 0;
  }
}
@media (max-width: 480px) {
  .edit, .delete {
    width: 40%; /* Full width on small devices */
    margin: 2px 0;
  }
}

.userCount {
  font-size: 20px;
  color: #2e70d3; // Adjust the color to fit your design
  margin-bottom: 5px;
}
.searchInputContainer {
  display: flex; /* Enables flexbox */
  margin: 5px 7%;
   
}

.searchInput {
  width: 100%;
  max-width: 350px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .searchInputContainer {
    margin: 5px 2%;
    max-width: 300px;
  }
  
}

.responsesWrapper {
  max-height: 600px;  // Adjust the height as per your design needs
  overflow-y: auto;   // Enable vertical scrolling when content overflows
}

.responsesTable {
  width: 100%;
  border-collapse: collapse;
}

.responsesTable th, .responsesTable td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); // Semi-transparent overlay
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
 
.modalContent {
  background: #fff;
  border-radius: 8px;
  width: 90%;
  max-width: 550px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;

  
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modalContent h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.modaleditinfo {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: left;

  .studnumedit{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    &:focus {
      outline: none;
      border-color: #a0a0a0;
      box-shadow: #5a5a5a93 0px 0px 3px;
    }
  }
  .emailedit {
    width: 97%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    &:focus {
      outline: none;
      border-color: #a0a0a0; 
      box-shadow: #5a5a5a93 0px 0px 3px;
    }
  }

  .userIdedit {
    background-color: #ebebeb;
    color: #757575;
    border: #757575;
  }
}

// Success message styling
.successMessage {
  margin-top: 10px;
  padding: 10px;
  background-color: #4caf50; // Green color for success
  color: white;
  border-radius: 4px;
  font-size: 0.9rem;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

// Error message styling
.errorMessage {
  margin-top: 10px;
  padding: 10px;
  background-color: #f44336; // Red color for error
  color: white;
  border-radius: 4px;
  font-size: 0.9rem;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .successMessage, .errorMessage {
    font-size: 0.8rem; /* Smaller font size */
    padding: 8px;
  }
}
.modalActions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.saveButton,
.cancelButton {
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.saveButton {
  background-color: #4caf50;
  color: white;
  border: none;
  &:hover {
    background-color: #45a049;
  }
}

.cancelButton {
  background-color: #f44336;
  color: white;
  border: none;
  &:hover {
    background-color: #e53935;
  }
}


.modalActions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.saveButton,
.cancelButton {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.saveButton {
  background-color: #2a61b4;
  border: #2a61b4  1px solid;
  color: white;
}

.cancelButton {
  background-color: #6e6e6e;
  border: #6e6e6e 1px solid;
  color: white;
}

.saveButton:hover {
  border: #2a61b4 1px solid;
  background-color: transparent;
  color: #2a61b4;
}

.cancelButton:hover {
  border: #6e6e6e 1px solid;
  background-color: transparent;
  color: #6e6e6e;
}

.successMessage {
  margin-top: 20px;
  padding: 10px;
  background-color: #d4edda; // Green background for success
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  text-align: center;
  width: 40%;
  margin: auto;
}

.errorMessage {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8d7da; // Red background for error
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  text-align: center;
}

.successMessage, .errorMessage {
  animation: fadeIn 0.3s ease-in-out, fadeOut 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .userTitle {
    font-size: 1.2rem;
  }

  .tableUser {
    font-size: 0.8rem;
  }

  .edit, .delete {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }

  .modalContent {
    padding: 20px;
    font-size: 0.9rem;
  }

  .searchInput {
    font-size: 14px;
    padding: 6px;
  }
}

/* Media query for very small devices */
@media (max-width: 480px) {
  .tableUser th, .tableUser td {
    font-size: 0.75rem;
    padding: 8px;
  }

  .edit, .delete {
    padding: 10px 40px 10px 10px;
    font-size: 0.75rem;
  }

  .modalContent {
    width: 100%;
    max-width: none;
    padding: 8px;
  }
}

:global(body.dark-mode){
  .userTitle {
    color: white;
  }
  .userCount{
    color: #2e70d3; // Adjust the color to fit your design
  }
  .tableUser th {
    background-color: #20202000;
    color: #fff;
    border-bottom: 2px solid #222222;
  }
  .tableUser td {
    background-color: #222222;
    color: #fff;
  }
  .tableUser tr {
    border: 1px solid #555;
  }
  .edit {
    background-color: #6e6e6e;
    color: #fff;
    border: 2px solid #6e6e6e;
  }
  .edit:hover {
    background-color: transparent;
    color: #6e6e6e;
    border: 2px solid #6e6e6e;
  }
  
  .modalContent {
    background: #141313;
    color: #fff;
  }
  .modalContent h3 {
    color: #b4b4b4;
  }
  .modaleditinfo {
    .studnumedit {
      background-color: #555;
      color: #fff;
      border: none  ;
    }
    .emailedit {
      background-color: #555;
      color: #fff;
      border: none;
    }
    .userIdedit {
      background-color: #555;
      color: #fff;
    }
  }
  .modaleditinfo label{
    color: #b4b4b4;
  }
  .saveButton {
    background-color: #2a61b4;
    border: #2a61b4  1px solid;
    color: white;
  }
  .saveButton:hover {
    border: #2a61b4 1px solid;
    background-color: transparent;
    color: #2a61b4;
  }
  .cancelButton {
    background-color: #6e6e6e;
    border: #6e6e6e 1px solid;
    color: white;
  }
  .cancelButton:hover {
    border: #6e6e6e 1px solid;
    background-color: transparent;
    color: #6e6e6e;
  }
  .successMessage {
    background-color: #4caf50; // Green color for success
    color: white;
    border: none;
  }
  .errorMessage {
    background-color: #f44336; // Red color for error
    color: white;
    border: none;
  }
.searchInput{
  background-color: #555;
  color: #ffffff;
  border: none;
}
.searchInput::placeholder {
  color: #969696;
}

}