.dashboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
h1{
  color: #4d4d4d;
}

.resultSection {
  margin: 20px 0;
  width: 85%;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

:global(body.dark-mode){
  .resultSection{
    background-color: #302f30;
    color: #dad8d8;
  }
  .dashboardContainer h1{
      color: #dad8d8; 
  }
}