@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.dashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    user-select: none;
  }
  
  .resultSection {
    margin: 20px 0;
    width: 100%;
    max-width: 1200px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2em;
    color: #653E84;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.5em;
    color: #653E84;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 900px) {
    .resultSection {
      max-width: 460px;
    } 
  }

  :global(body.dark-mode){
    .resultSection{
      background-color: #161616;
      .dashboardTitle{
        color: #8C62A9;
    }
    h1{
      color: #8C62A9;
  }
      h2{
        color: #8C62A9;
      }
    }
  
  }