.darkModeButton {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  font-size: 30px;
  padding: 18px;
  transition: opacity 0.3s ease;
  user-select: none;
  z-index: 9999;
}

.darkModeButton:hover {
  background-color: rgba(255, 255, 255, 0);
  opacity: 0.5;
}

:global {
  body.dark-mode {
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light font color for dark mode */
  }

  body {
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #ffffff; /* Light background */
    color: #000000; /* Dark font color for light mode */
  }
}
:global {
  body.dark-mode {
    p {
      color: #949393;
    }
    h1 {
      color: #f592e0;
    }
    a,
    h2 {
      color: #b4b4b4;
    }
    .navItem:hover {
      border-bottom: 1px solid #0f9af7;
    }
  }
}
