.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9; /* Background color */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading {
    color: #333; /* Heading color */
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.info {
    color: #555; /* Text color */
    margin: 0.5rem 0;
    font-size: 1rem;
}

.subheading {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #333; /* Heading color */
}

.table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
    border: 1px solid #ddd; /* Border color */
    font-size: 1rem;

    thead {
        background-color: #333; /* Primary color */
        color: #fff;
        text-align: left;
    }

    th, td {
        padding: 0.75rem;
        border: 1px solid #ddd; /* Border color */
    }

    tbody tr:nth-child(even) {
        background-color: #f1f1f1;
    }

    tbody tr:hover {
        background-color: #e6f3ff;
    }
}

.responseList {
    list-style: none;
    padding: 0;
}

.responseItem {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 0.75rem;
    border: 1px solid #ddd; /* Border color */
    border-radius: 4px;

    p {
        margin: 0.3rem 0;
        color: #555; /* Text color */
    }

    &:hover {
        background-color: #f1f8ff;
    }
}

.noResults {
    font-size: 1.2rem;
    color: #333; /* Secondary color */
    text-align: center;
    margin-top: 2rem;
}
