/* Main container for the section */
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Heading for the section */
.heading {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.subheading{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(1, 59, 1);
    font-size: 25px;
}

/* Chart container styling */
.chartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    background-color: #fafafa;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.resultTable table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 1rem;
    text-align: left;
}

.resultTable th, .resultTable td {
    padding: 10px;
    border: 1px solid #ddd;
}

.resultTable th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.resultTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.resultTable tr:hover {
    background-color: #f1f1f1;
}

.leftMeaning {
    color: rgb(218, 185, 0);
    font-weight: bold;
}

.rightMeaning {
    color: rgb(7, 160, 2);
    font-weight: bold;
}

.average {
    color: gray;
    font-style: italic;
}


/* Share prompt section */
.sharePrompt {
    margin-top: 40px;
    text-align: center;
}

/* Prompt text */
.sharePrompt p {
    font-size: 18px;
    color: #444;
    margin-bottom: 20px;
}

/* Buttons for sharing result */
.buttonYes, .buttonCancel {
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
}

.buttonYes {
    background-color: #4CAF50;
    color: white;
    margin-right: 10px;
}

.buttonYes:hover {
    background-color: #45a049;
}

.buttonCancel {
    background-color: #f44336;
    color: white;
}

.buttonCancel:hover {
    background-color: #e53935;
}

.pdfButton {
    margin-top: 10px;
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    padding: 10px 20px; /* Space inside the button */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer on hover */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions for hover effect */
    
    &:hover {
      background-color: #0056b3; /* Darker blue on hover */
      transform: scale(1.05); /* Slight zoom effect */
    }
    
    &:active {
      background-color: #004085; /* Even darker blue when button is pressed */
    }
  
    &:focus {
      outline: none; /* Remove default focus outline */
      box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.6); /* Add a custom focus ring */
    }
  }
  