.formContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #e9e9e9;
  border-radius: 8px;
}

.survTitleh2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #000000;
}

.formGroup {
  margin-bottom: 1rem;
  label {
    font-weight: bold;
  }
  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
  }
  textarea {
    min-height: 100px;
  }
}

.filters {
  margin-bottom: 2rem;
  h3 {
    color: #000000;
  }
  .filterGroup {
    display: flex;
    gap: 1rem;
    input {
      flex: 1;
    }
    .removeFilterBtn {
      background-color: #b30000;
      color: white;
      padding: 0.3rem 0.6rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }
  .addFilterBtn {
    margin-top: 1rem;
    background-color: #0056b3;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}

.sections {
  margin-bottom: 2rem;
  h3 {
    color: #000000;
  }
  .section {
    margin-bottom: 1.5rem;
    .question {
      margin-bottom: 1rem;
    }
    .choices {
      margin-top: 1rem;
      .choice {
        display: flex;
        gap: 1rem;
        margin-bottom: 0.5rem;
      }
    }
    .addQuestionBtn,
    .removeQuestionBtn,
    .addChoiceBtn,
    .addSectionBtn,
    .removeChoiceBtn,
    .removeSectionBtn {
      background-color: #0056b3;
      color: white;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 1rem;
    }
    .removeQuestionBtn {
      background-color: #b30000;
    }
    .removeChoiceBtn {
      background-color: #b30000;
    }
    .removeSectionBtn {
      background-color: #b30000;
    }
  }
}

.submitBtn {
  width: 100%;
  padding: 0.7rem;
  background-color: #0056b3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
}
