.formContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.8rem;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

input[type="text"],
textarea {
  width: 93%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

textarea {
  height: 100px;
  resize: none;
}

.sectionTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

.sectionContainer {
  margin-top: 20px; /* Adds top padding to the section */
  padding-top: 20px;
  background-color: #fff; /* Optional: To distinguish sections visually */
  border: 1px solid #ddd; /* Optional: To distinguish sections visually */
  border-radius: 5px;
}

button {
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

button.createSurveyButton {
  background-color: #17a2b8;
  color: white;
  padding: 5px 10px;
  height: 40px;
  margin-top: 10px;

  &:hover {
    background-color: #138496;
  }
}

button[type="button"] {
  background-color: #28a745;
  padding: 10px 20px;
  margin: 10px;

  margin-top: 10px;

  &:hover {
    background-color: #218838;
  }
}

button.deleteButton {
  background-color: #dc3545;
  padding: 10px 20px;

  color: white;
  margin-top: 10px;

  &:hover {
    background-color: #c82333;
  }
}

div {
  margin-bottom: 20px;
}

div > input {
  margin-bottom: 10px;
}

textarea {
  margin-bottom: 20px;
}

.formActions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.choicesContainer {
  margin-top: 10px;
}

.questionContainer {
  margin-bottom: 15px;
}
