.mainContainer {
  padding: 20px;
}
.mainHeading {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: auto;
  text-align: center;
  margin-bottom: -40px;
}
.userCount{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #653e84; // Adjust the color to fit your design
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
}

.addGuidanceButton {
  position: relative;
  top: 90px;
  padding: 15px 20px;
  background-color: #6e6e6e;
  border-radius: 8px;
  color: white;
  border: 1px solid #6e6e6e;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 85%;

  &:hover {
    background-color: transparent;
    color: #161616;
    border: 1px solid #161616;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.editmodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.editmodalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.create_h2,
.edit_h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.signup_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.createlabel,
.createlabelRole,
.editlabel {
  text-align: left;
  color: #000000;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.createInput,
.editInput {
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 95%;
}
.createInputRole,
.editInputRole {
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 99%;
}

.required {
  color: red;
}
.notecreate {
  color: #000000;
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -5px;
  margin-bottom: 20px;
}

.modalFooter {
  display: flex;
  justify-content: space-between;
}

.createsubmitButton,
.cancelcreateButton,
.updateButton,
.cancelupdateButton {
  padding: 10px 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.createsubmitButton,
.updateButton {
  background-color: #653e84;
  color: white;
  width: 30%;
  border: 1px solid #653e84;
  display: block;
  margin: auto;

  &:hover {
    border: 1px solid #653e84;
    background-color: transparent;
    color: #653e84;
  }
}

.cancelcreateButton,
.cancelupdateButton {
  width: 30%;
  background-color: #6e6e6e;
  color: white;
  border: 1px solid #6e6e6e;
  display: block;
  margin: auto;


  &:hover {
    background-color: transparent;
    color: #6e6e6e;
    border: 1px solid #6e6e6e;
  }
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.usersList {
  margin-top: 40px;
}
.searchGuidance {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px 18px;
  border-radius: 4px;
  margin-left: 5%;
}

.userTable {
  width: 90%;
  border-collapse: separate; /* Change from collapse to separate for spacing */
  border-spacing: 0 15px;
  background-color: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px auto;
  margin-top: -5px;
}

.userTable th,
.userTable td {
  padding: 12px;
  border: none;
  text-align: center;
}

.userTable th {
  padding: 15px;
  color: black;
  border: none;
  background-color: #dfdfdf00;
  border-bottom: 1px solid #aaaaaa;
}

.userTable td {
  color: #000000;
  padding: 15px;
  text-align: center;
  font-size: 13px;
  background-color: #f7f5f5;
}
.userTable td button {
  padding: 10px 16px;
  margin: 0 5px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.userTable td button:first-child {
  background-color: #6e6e6e;
  color: white;
  border: 1px solid #6e6e6e;

  &:hover {
    background-color: transparent;
    color: #6e6e6e;
    border: 1px solid #6e6e6e;
  }
}

.userTable td button:last-child {
  background-color: #af1414;
  color: white;
  border: 1px solid #af1414;

  &:hover {
    background-color: transparent;
    color: #af1414;
    border: 1px solid #af1414;
  }
}

@media (max-width: 1024px) {
  .userTable {
    width: 100%;
    max-width: 700px;
  }
  .addGuidanceButton {
    margin-left: 80%;
  }
  .searchGuidance {
    padding: 10px 10px;
  }
  .userTable td button {
    padding: 10px 12px;
  }
}

@media (max-width: 768px) {
  .addGuidanceButton {
    margin-left: 75%;
    padding: 10px 15px;
  }
  .userTable {
    width: 100%;
    max-width: 500px;
  }
  .searchGuidance {
    padding: 8px 10px;
  }
  .userTable td button {
    padding: 10px 12px;
    margin: 0px 0px 8px 0px;
  }
  .userTable th {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .userTable {
    width: 90%;
    max-width: 600px;
  }
  .addGuidanceButton {
    margin-left: 70%;
    padding: 10px 15px;
  }
  .searchGuidance {
    padding: 8px 10px;
  }
  .userTable td button {
    padding: 10px 12px;
    margin: 0px 0px 6px 0px;
  }
  .userTable th {
    font-size: 12px;
  }
}

:global(body.dark-mode) {
  .mainHeading {
    color: #a9a9a9;
  }
  .searchGuidance {
    background-color: #161616;
    color: #a9a9a9;
    border: 1px solid #a9a9a9;
  }
  .addGuidanceButton {
    background-color: #6e6e6e;
    color: white;
    border: 1px solid #6e6e6e;
    &:hover {
      background-color: transparent;
      color: #a9a9a9;
      border: 1px solid #a9a9a9;
    }
  }
  .userTable{
    background-color: transparent;
    color: #fff;
  }
  .userTable td {
    background-color: #161616;
    color: #fff;
    border-bottom: 2px solid #161616;
  }
  .userTable th {
    background-color: #20202000;
    color: #fff;
    border-bottom: 1px solid #a9a9a9;
  }
  .modalContent,
  .editmodalContent {
    background-color: #141313;
    color: #fff;
  }
  .create_h2, .edit_h2 {
    color: #a9a9a9;
  }
  .createlabel,
  .createlabelRole,
  .editlabel {
    color: #a9a9a9;
  }
  .createInput,
  .createInputRole,
  .editInput,
  .editInputRole {
    background-color: #141313;
    color: #a9a9a9;
    border: 1px solid #a9a9a9;
  }
  .notecreate {
    color: #a9a9a9;
  }
  .createsubmitButton {
    background-color: #8c62a9;
    color: white;
    border: 1px solid #8c62a9;
    &:hover {
      background-color: transparent;
      color: #8c62a9;
      border: 1px solid #8c62a9;
    }
  }
  .updateButton {
    background-color: #8c62a9;
    color: white;
    border: 1px solid #8c62a9;
    &:hover {
      background-color: transparent;
      color: #8c62a9;
      border: 1px solid #8c62a9;
    }
  }
}
