/* Form styling */
.form {
  background-color: #f0f4f8; /* Light blue background for the form */
  padding: 20px;
  padding-bottom: 80px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #2E5266; /* Dark blue border */
  margin: 20px auto;
  position: relative;
}

/* Title and other text */
h1 {
  font-size: 24px;
  color: #2E5266; /* Dark blue for the title */
  margin-bottom: 10px;
}

p {
  color: #45474B; /* Dark gray for general text */
}

/* Input Fields */
input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #ffffff; /* White background for inputs */
  color: #45474B; /* Dark gray text */
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  border-color: #2E5266; /* Focus border color */
  box-shadow: 0 0 5px rgba(46, 82, 102, 0.5); /* Light glow effect on focus */
}

/* Select dropdown styling */
select {
  background-color: #ffffff;
  color: #45474B;
}

/* Labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #45474B;
}

/* Question section styling */
.questionContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}

.questionBox {
  background-color: #ffffff; /* White background for each question box */
  border: 1px solid #2E5266; /* Dark blue border */
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease;
}

/* Question box hover effect */
.questionBox:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* Radio button and label styles */
input[type="radio"] {
  margin-right: 8px;
}

/* Buttons */
button {
  background-color: #2E5266; /* Dark blue background */
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3; /* Lighter blue on hover */
}

/* Pagination buttons */
.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.pagination button {
  background-color: #2E5266;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
