.form {
  background-color: #ffffff;
  padding: 20px;
  padding-bottom: 120px; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  max-width: 800px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px auto;
  position: relative;
}

.pPFtest {
  color: #45474B; 
  
}


.inputTextPf , .inputNumberPf  , .selectPF {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #ffffff; 
  color: #45474B; 
  box-sizing: border-box;
}

.inputTextPf:focus,.inputNumberPf :focus,.selectPF:focus {
  border-color: #2E5266; 
  box-shadow: 0 0 5px rgba(46, 82, 102, 0.5); 
}


.selectPF {
  background-color: #ffffff;
  color: #45474B;
}


.labelPF {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #45474B;
}


.questionContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}

.questionBox {
  background-color: #ffffff; 
  border: 1px solid #2E5266; 
  border-radius:10px;
  padding: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease;
}


.questionBox:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}


.inputRadioPFTest{
  margin-right: 10px;
  font-weight: 100;
}


.submitPFbutton {
  margin-top: 30px;
  background-color: black;
  color: white;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-weight: 500;
}

.submitPFbutton:hover {
  background-color: #e8e6e2;
  color: black;
  border: 0;
  font-weight: 600;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1); 
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.pagination button {
  padding: 10px 15px;
  background-color: #2E5266;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #1d3a46; 
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}


.pagination .active {
  background-color: #1d3a46;
  font-weight: bold;
}

.submitButton{
  padding: 10px 15px;
  background-color: #67b2da;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #1d3a46; /* Darker shade on hover */
}