.barContainerPF{
    width: 50%; 
    margin: 0 auto;
  }
  .resultsTable {
      border-collapse: collapse; 
      font-size: 15px;
      background-color: rgb(255, 252, 252);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.064); 
      border: 1px solid #9e979791; 
      width: 100%;
      height: 100%;
    }
  
    .resultsTable th {
      color: #ececec;
      padding: 10px;
      text-align: center;
      font-size: 13px;
      background-color: #849670;
      border-bottom: 1px solid #9e979791; 
    }
    
  
    .resultsTable td {
      color:#363636;
      text-align: center; /* Center-aligns text horizontally */
    vertical-align: middle; /* Center-aligns text vertically */
      padding: 5px;
      font-size: 13px;
      border-bottom: 1px solid #9e979791; 
    }
    
  
    .eachResultPF:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
      transform: translateY(-1px); 
      cursor: pointer;
      background-color: rgb(245, 244, 244);
      border: 1px solid #9e979791; 
    }
    .deleteButton{
      background-color: red;
      padding: 8px;
    }
  
    .deleteButton:hover{
      background-color: rgb(230, 3, 3);
    }
  
    .leftMeaning {
      color: rgb(218, 185, 0);
      font-weight: bold;
      font-size: 13px;
  }
  
  .rightMeaning {
      color: green;
      font-weight: bold;
      font-size: 13px;
  }
  
  .average {
      color: gray;
      font-style: italic;
      font-size: 13px;
  }
  
  
  
    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
    
    .pagination button {
      padding: 10px 15px;
      margin: 0 10px;
      background-color: #5a5a5a;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .pagination button:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
    
    .pagination span {
      font-size: 16px;
    }
    
    .responsesWrapper {
      max-height: 250px;  // Adjust the height as per your design needs
      overflow-y: auto;   // Enable vertical scrolling when content overflows
      margin-top: 10px;   // Optional, for some space between elements
    }
    
    .responsesTable {
      width: 100%;
      border-collapse: collapse;
    }
    
    .responsesTable th, .responsesTable td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: left;
    }

    .modal {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .modalContent {
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      width: 80%;
      max-width: 600px;
      
      h2{
        text-align: center;
        margin-bottom: 20px;
        font-size: 20px;
      }
      
    }
    
    .graphButton {
      margin: 10px;
      background-color: #849670;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .graphButton:hover {
      background-color: transparent;
      color: black;
      border:1px solid #95a581 ;
    }
    
    .closebutton {
      margin: 10px;
      background-color: #585858;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
    }

    .closebutton:hover{
      background-color: transparent;
      color: black;
      border: 1px solid #585858;
    }

    .deleteButton {
      margin: 10px;
      background-color: #b62e2e ;
      ;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
    }

    .deleteButton:hover{
      background-color: transparent;
      color: black;
      border:1px solid #B94d4dce;
    }

    .title {
      display: flex; /* Make the title a flex container */
      justify-content: space-between; /* Distribute the content: title on the left, buttons on the right */
      align-items: center; /* Vertically align the title and buttons */
    }

    .resultCount {
      text-align: left;
      font-size: 1.2rem;
      margin-bottom: .5rem;
      margin-top: -.5rem;
      color: #333;
    }
    
    .searchInput {
      width: 100%;
      max-width: 200px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      height: 35px;
    }

    .smartWrapper {
      display: flex; /* Arrange buttons in a row */
      width: 200px;
      margin-bottom: -30px;
    }

    :global(body.dark-mode){
      .resultCount{
        color: #849670;
      }

      .resultsTable th{
        background-color: #c09227 ;
        color: #2e2e2e;
      }
      
      .modalContent{
        background-color: #3a4c5ef5;
        color: white;

        .closebutton{
          background-color: #849670;

          &:hover{
            background-color: transparent;
            color: rgb(253, 253, 253);
            border: 1px solid #849670;
          }
        }
      }
    }
    