.table {
    background-color: rgb(255, 252, 252);
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    & th, & td {
        padding: 12px;
        text-align: left;
        border: 1px solid #ddd;

        &:nth-child(even) {
            background-color: #f2f2f2;
            color: black;
        }
    }

    & th {
        background-color: rgb(245, 242, 242);
        color: black;
    }
}


h2 {
    color: #333;
    margin-top: 40px;
}

.ul {
    padding: 0;
    list-style-type: none;

    .li {
        margin: 5px 0px;
        display: flex;
        flex-direction: row;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 10px 15px;
    margin: 0 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    font-size: 16px;
  }
  
  .testResultsLink {
    display:flex;
    width: 10%;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #01458d;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.75);
    }
}
